[data-store-out-of-stock] [data-out-of-stock-form] {
  display: flex;
  align-items: center;
  flex-direction: column;
}

[data-store-out-of-stock] [data-out-of-stock-title] {
  margin-bottom: .25rem;
  font-size: inherit;
  font-weight: inherit;
}

[data-store-out-of-stock] [data-out-of-stock-message] {
  align-items: center;
  margin-bottom: 1rem;
}

[data-out-of-stock-form] [data-store-button] {
  width: 100%;
  margin-top: 1rem;
}

[data-out-of-stock-form] [data-store-input] {
  width: 100%;
  margin-top: 0.25rem;
  max-width: initial;
}
