[data-fs-product-shelf] {
  // --------------------------------------------------------
  // Design Tokens for Product Shelf
  // --------------------------------------------------------

  --fs-product-shelf-items-gap              : var(--fs-grid-gap-1);
  --fs-product-shelf-items-padding-top      : var(--fs-spacing-0);
  --fs-product-shelf-items-padding-bottom   : var(--fs-spacing-3);
  --fs-product-shelf-items-left             : calc(-1 * var(--fs-spacing-1));

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  [data-fs-product-shelf-items] {
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    position: relative;
    // left: var(--fs-product-shelf-items-left);


    [data-fs-product-shelf-item] { width: 100%; }

    @include media(">=tablet") {
      column-gap: var(--fs-product-shelf-items-gap);
      padding-top: var(--fs-product-shelf-items-padding-top);
      padding-bottom: var(--fs-product-shelf-items-padding-bottom);
      overflow-x: auto;
    }
  }
}
