@layer components {
  .section {
    position: sticky;
    top: 0;
    z-index: var(--fs-z-index-high);

    @import "@faststore/ui/src/components/atoms/Badge/styles.scss";
    @import "@faststore/ui/src/components/atoms/Button/styles.scss";
    @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
    @import "@faststore/ui/src/components/atoms/Input/styles.scss";
    @import "@faststore/ui/src/components/atoms/Link/styles.scss";
    @import "@faststore/ui/src/components/atoms/List/styles.scss";
    @import "@faststore/ui/src/components/atoms/Logo/styles.scss";
    @import "@faststore/ui/src/components/atoms/Price/styles.scss";
    @import "@faststore/ui/src/components/molecules/LinkButton/styles.scss";
    @import "@faststore/ui/src/components/molecules/NavbarLinks/styles.scss";
    @import "@faststore/ui/src/components/molecules/SearchAutoComplete/styles.scss";
    @import "@faststore/ui/src/components/molecules/SearchDropdown/styles.scss";
    @import "@faststore/ui/src/components/molecules/SearchHistory/styles.scss";
    @import "@faststore/ui/src/components/molecules/SearchInputField/styles.scss";
    @import "@faststore/ui/src/components/molecules/SearchProducts/styles.scss";
    @import "@faststore/ui/src/components/molecules/SearchTop/styles.scss";
    @import "@faststore/ui/src/components/organisms/SearchInput/styles.scss";
    @import "@faststore/ui/src/components/organisms/Navbar/styles.scss";
  }
}
