@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Link/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/List/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Logo/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/LinkButton/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Modal/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/NavbarLinks/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/SlideOver/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/NavbarSlider/styles.scss");
  }
}
