.header{
    @apply w-full flex justify-center flex-col sm:flex-row pb-16;
    background-image: url("../../../static/img/submission-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}