[data-fs-contract-switch-drawer] {
  --fs-contract-switch-border-color              : #ebebeb;
  --fs-contract-switch-search-input-color        : #707070;
  --fs-contract-switch-option-profile-bkg-color  : #cbe9ff;
  --fs-contract-switch-option-selected-color     : rgb(203 233 255 / 30%);

  display: flex;
  flex-direction: column;

  [data-fs-slide-over-header] {
    --fs-slide-over-header-padding: var(--fs-spacing-2) var(--fs-spacing-0);

    margin-right: var(--fs-spacing-1);

    &[data-fs-contract-switch-drawer-header] {
      flex-direction: row;
      margin-bottom: var(--fs-spacing-2);
      background-color: transparent;
    }

    [data-fs-contract-switch-drawer-header-content] {
      display: flex;
      align-items: center;
    }

    [data-fs-contract-switch-drawer-title] {
      font-size: var(--fs-text-size-title-section);
      font-weight: var(--fs-text-weight-semibold);
      color: black;
      text-transform: capitalize;
    }

    @include media("<notebook") {
      border-bottom: var(--fs-border-width) solid var(--fs-contract-switch-border-color);
    }
  }

  [data-fs-contract-switch-drawer-body] {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 var(--fs-spacing-8);
    overflow-y: scroll;

    @include media("<notebook") {
      padding: 0 var(--fs-spacing-6);
    }

    [data-fs-contract-switch-drawer-title] {
      padding: var(--fs-spacing-4) 0;
      font-size: var(--fs-text-size-title-section);
      font-weight: var(--fs-text-weight-semibold);
      color: black;
      text-transform: capitalize;
    }

    [data-fs-contract-switch-search] {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 100%;
      border: var(--fs-border-width) solid var(--fs-contract-switch-border-color);
      border-radius: var(--fs-border-radius);

      [data-fs-contract-switch-search-button] {
        margin-left: var(--fs-spacing-1);
      }

      [data-fs-contract-switch-search-input] {
        width: 100%;
        padding-left: var(--fs-spacing-2);
        font-size: var(--fs-text-size-1);
        font-weight: var(--fs-text-weight-medium);
        color: var(--fs-contract-switch-search-input-color);
        border: 0;
        outline: 0;
      }
    }

    [data-fs-customer-options-list] {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-top: var(--fs-spacing-3);
      overflow-y: scroll;

      [data-fs-contract-switch-option-input] {
        display: none;
      }

      [data-fs-contract-switch-option] {
        display: flex;
        align-items: center;
        padding: var(--fs-spacing-3);
        margin-top: var(--fs-spacing-1);
        cursor: pointer;
        border: var(--fs-border-width) solid var(--fs-contract-switch-border-color);
        border-radius: var(--fs-border-radius-medium);

        [data-fs-contract-switch-option-profile] {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: var(--fs-spacing-4);
          aspect-ratio: 1;
          margin-right: var(--fs-spacing-2);
          font-size: var(--fs-text-size-tiny);
          font-weight: var(--fs-text-weight-semibold);
          text-transform: capitalize;
          background-color: var(--fs-contract-switch-option-profile-bkg-color);
          border-radius: var(--fs-border-radius-circle);
        }

        [data-fs-contract-switch-option-name] {
          width: 100%;
          overflow: hidden;
          font-size: var(--fs-text-size-legend);
          font-weight: var(--fs-text-weight-medium);
          text-overflow: ellipsis;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }

      [data-fs-contract-switch-option-input]:checked + [data-fs-contract-switch-option] {
        background-color: var(--fs-contract-switch-option-selected-color);
        border-color: var(--fs-color-primary-bkg);
      }

      [data-fs-contract-switch-option]:first-of-type {
        margin-top: 0;
      }

      [data-fs-contract-switch-option]:last-of-type {
        margin-bottom: var(--fs-spacing-1);
      }
    }
  }

  [data-fs-contract-switch-drawer-footer] {
    display: flex;
    padding: var(--fs-spacing-2) var(--fs-spacing-2) var(--fs-spacing-4) var(--fs-spacing-2);
    border-top: var(--fs-border-width) solid var(--fs-contract-switch-border-color);

    [data-fs-contract-switch-drawer-button] {
      flex: 1;
      font-size: var(--fs-text-size-1);
      font-weight: var(--fs-text-weight-semibold);
      color: var(--fs-color-text-inverse);

      [data-fs-button-wrapper] {
        padding: var(--fs-spacing-2) 1.375rem;
        border: var(--fs-border-radius-small) solid var(--fs-contract-switch-border-color);
        border-radius: var(--fs-border-radius-pill);
      }

      &:disabled [data-fs-button-wrapper] {
        background-color: var(--fs-color-disabled-bkg);
      }
    }
  }
}
