[data-fs-select-field] {
  // --------------------------------------------------------
  // Design Tokens for Select Field
  // --------------------------------------------------------

  // Label
  --fs-select-field-label-margin-inline-end          : var(--fs-spacing-1);
  --fs-select-field-label-color                 : var(--fs-color-text-light);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  align-items: center;

  [data-fs-select-field-label] {
    margin-inline-end: var(--fs-select-field-label-margin-inline-end);
    color: var(--fs-select-field-label-color);
  }
};
