[data-fs-tag] {
  padding: var(--fs-spacing-0) var(--fs-spacing-2);
  margin-right: var(--fs-spacing-0);
  font-size: var(--fs-text-size-0);
  font-weight: var(--fs-text-weight-regular);
  line-height: var(--fs-spacing-3);
  color: black;
  white-space: nowrap;
  background-color: #f5f5f5;
  border-radius: var(--fs-border-radius-pill);
}
