@layer components {
  .cartListHeader {
    @import '@faststore/ui/src/components/atoms/Button/styles.scss';
    @import '@faststore/ui/src/components/atoms/Icon/styles.scss';

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--fs-spacing-2) 0;
    margin-bottom: var(--fs-spacing-2);
    border-bottom: var(--fs-border-width) solid var(--fs-border-color);
  }

  .cartListUnavailable {
    @import '@faststore/ui/src/components/atoms/Icon/styles.scss';
    @import '@faststore/ui/src/components/molecules/Alert/styles.scss';

    display: flex;
    flex-direction: column;
    gap: var(--fs-spacing-2);
    padding: var(--fs-spacing-3);
    background-color: var(--fs-color-neutral-bkg);
    border-radius: var(--fs-border-radius);
  }
}

.cartListHeaderCount {
  font-size: var(--fs-text-size-body);
  font-weight: var(--fs-text-weight-bold);
}

.cartListHeaderUnavailable {
  color: var(--fs-color-danger-text);
  font-weight: var(--fs-text-weight-regular);
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: var(--fs-spacing-3);
}

.cartListItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cartListGrouped {
  display: flex;
  flex-direction: column;
  gap: var(--fs-spacing-4);
}

.cartListGroup {
  display: flex;
  flex-direction: column;
}

.cartListGroupTitle {
  display: flex;
  align-items: center;
  gap: var(--fs-spacing-1);
  font-size: var(--fs-text-size-lead);
  font-weight: var(--fs-text-weight-bold);
  padding: var(--fs-spacing-2) 0;
  margin-bottom: var(--fs-spacing-1);
  border-bottom: var(--fs-border-width-thick) solid var(--fs-border-color);
}
