.header{
  @apply py-24 text-center flex justify-center flex-col;
  background-image: url("../../../../static/img/starters-bg.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme='dark'] .header{
  background-image: url("../../../../static/img/starters-bg-dark.jpg");
}