registry=https://npmjs.org

# diagnostics
//registry.npmjs.org/@vtex/diagnostics-nodejs:_registry=https://main-053131491888.d.codeartifact.us-east-1.amazonaws.com/npm/observability/
//main-053131491888.d.codeartifact.us-east-1.amazonaws.com/npm/observability/:always-auth=true
//main-053131491888.d.codeartifact.us-east-1.amazonaws.com/npm/observability/:_authToken=${CA_TOKEN}

# faststore-sdk
//registry.npmjs.org/@vtex/faststore-sdk:_registry=https://main-053131491888.d.codeartifact.us-east-1.amazonaws.com/npm/vtex-npm/
//main-053131491888.d.codeartifact.us-east-1.amazonaws.com/npm/vtex-npm/:always-auth=true
//main-053131491888.d.codeartifact.us-east-1.amazonaws.com/npm/vtex-npm/:_authToken=${CA_TOKEN}
