.homeGrid > * {
  @apply relative bg-whiteIce mb-4 hover:opacity-90;
}

.homeGrid a {
  @apply hover:no-underline;
}

.homeGrid a img {
  @apply w-full !m-0;
}

.homeGrid a strong {
  @apply block py-6 px-8 text-lg font-normal;
}

.homeGrid a strong::after {
@apply block mt-8 tracking-wider uppercase text-sm text-fontSecondary font-medium;
  content: "WATCH NOW →";
}

/* Make grids responsive*/
@media only screen and (min-width: 1240px) {
  .homeGrid {
    @apply grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  }
}

/* Add spacing between grids and sections */
h2 + .homeGrid {
  margin-top: var(--ifm-spacing-vertical);
}