.float {
  @apply fixed bottom-1/2 px-3 py-2 rounded bg-seriousBlack text-white;
  right: -42px;
  text-align: center;
  transform: rotate(270deg);
}

.float:hover {
  @apply brightness-150;
}

[data-fs-modal-content] {
  @apply bg-background p-10  !important;
  width: 500px;
  min-height: 360px;
}
[data-action-container] {
  @apply text-primary float-right inline-block;
}
