.cardContainer {
  @apply text-text no-underline hover:no-underline border rounded h-full;
}

.cardContainer *:last-child {
  @apply mb-0;
}

.cardTitle {
  @apply font-VTEXMedium text-base;
}

.cardDescription {
  @apply text-sm ml-5 overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
