[data-accordion-button] {
  color: #171a1c;
  background-color: transparent;
}

[data-accordion-button]:hover {
  color: #db2777;
}

[data-accordion-button] [data-fs-icon] {
  margin-left: 0.5rem;
  vertical-align: middle;
}

[data-accordion-button][aria-expanded='true'] {
  color: #db2777;
}

[data-accordion-button][aria-expanded='true'] [data-fs-icon] {
  transform: rotate(180deg);
  transition: transform .8s ease-in-out;
}

[data-accordion-panel] > ul {
  padding-left: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

[data-accordion-panel] a {
  text-decoration: none;
  color: #74808b;
}

[data-accordion-panel] a:hover {
  color: #00419e;
}
