[data-fs-aggregate-rating] {
  @apply flex;
}

[data-fs-aggregate-rating] svg[data-fs-aggregate-rating-item] {
  @apply w-6 mr-2;
}

li[data-fs-aggregate-rating-item], span[data-fs-aggregate-rating-item] {
  color: #ffb100;
}

/* Using CSS to insert icons */

[data-fs-aggregate-rating] span[data-fs-aggregate-rating-item="full"]:after,
[data-fs-aggregate-rating] span[data-fs-aggregate-rating-item="partial"]:after {
  content: "★";
  display: block;
}

[data-fs-aggregate-rating] span[data-fs-aggregate-rating-item="empty"]:after {
  content: "☆";
  display: block;
}
