[data-fs-card] {
  max-width: 20rem;
  height: 100%;
}

[data-card-content] {
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

[data-card-content] h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

[data-card-actions] a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #171a1c;
}
