[data-fs-cart-item] {
  padding: 16px;
  color: #171a1c;
  background-color: #ffffff;
  border: 2px solid #e3e6e8;
  border-radius: 4px;
}

[data-fs-cart-item-content] {
  display: grid;
  grid-template-columns: 72px repeat(4, 1fr);
  column-gap: 8px;
  align-items: center;
}

[data-fs-cart-item-summary] {
  flex-direction: column;
  grid-column: 2 / span 4;
}

[data-fs-cart-item-title] {
  margin-bottom: 0;
  line-height: 1.2;
  text-decoration: none;
  outline: none;
}

[data-fs-cart-item-prices] {
  display: flex;
  align-items: baseline;
}

[data-fs-cart-item-prices] [data-fs-price] + [data-fs-price] {
  margin-left: 16px;
}

[data-fs-cart-item-prices] [data-fs-price][data-variant="listing"] {
  font-size: 0.875rem;
  color: #5d666f;
}

[data-fs-cart-item-prices] [data-fs-price][data-variant="spot"] {
  font-size: 1.25rem;
}

[data-fs-cart-item-actions] [data-fs-quantity-selector] [data-fs-icon] {
  color: #00419e;
}

[data-fs-cart-item-actions] {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
