[data-fs-order-summary] {
  padding: 1rem;
}

[data-fs-order-summary] > li {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

[data-fs-order-summary] > li[data-fs-order-summary-discount] {
  color: #1e493b;
}

[data-fs-order-summary-total] {
  font-size: 20px;
  font-weight: 700;
}
