[data-fs-product-title] {
    width: fit-content;
    background-color: #cecece;
    padding: 8px;
    border-radius: 5px;
}
[data-fs-product-title] [data-fs-product-title-header] {
    display: flex;
    column-gap: .75rem;
    justify-content: space-between;
}
[data-fs-product-title] [data-fs-product-title-header]:first-child {
    font-size: var(--fs-product-title-text-size);
    font-weight: 400;
    line-height: 1.12;
}
[data-fs-product-title] [data-fs-product-title-header] [data-store-badge] {
    white-space: nowrap;
}
[data-fs-product-title] [data-fs-product-title-addendum] {
    margin-top: 1rem;
    color: #5d666f;
}