[data-fs-sku-selector] {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  font-size: 14px;
}

[data-fs-sku-selector-title] {
  width: 100%;
  margin-bottom: 0.25rem;
}

[data-store-radio-option] {
  position: relative;
  width: 3rem;
  height: 3rem;
}

[data-store-radio-option] span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #171a1c;
  border-radius: 2px;
  box-shadow: 0;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

[data-store-radio-option] [data-fs-sku-selector-option] {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

[data-store-radio-option]
  [data-fs-sku-selector-option]:hover:not(:disabled):not(:checked)
  + span {
  border-color: #00419e;
  border-width: 2px;
}

[data-store-radio-option] [data-fs-sku-selector-option]:checked + span {
  border-color: #00419e;
  border-width: 2px;
  box-shadow: 0 0 0 3px #8db6fa80;
}

[data-store-radio-option] [data-fs-sku-selector-option]:disabled {
  cursor: not-allowed;
}

[data-store-radio-option] [data-fs-sku-selector-option]:disabled + span {
  overflow: hidden;
  color: #5d666f;
  border-color: #5d666f;
}

[data-store-radio-option] [data-fs-sku-selector-option]:disabled + span::after {
  position: absolute;
  width: 1px;
  height: 160%;
  content: '';
  background-color: #5d666f;
  transform: rotate(45deg);
  transform-origin: center;
}

[data-fs-sku-selector-variant='label']
  [data-fs-sku-selector-option]:hover:not(:disabled)
  + span {
  background-color: #f1f2f3;
}

[data-fs-sku-selector-variant='label']
  [data-fs-sku-selector-option]:checked
  + span {
  background-color: #f1f2f3;
}
