[data-fs-slide-over] {
  position: fixed;
  height: 100vh;
}

[data-fs-slide-over-size="full"] {
  width: 100vw;
}

[data-fs-slide-over-size="partial"] {
  width: calc(100vw - 16px);
}

@media only screen and (min-width: 769px) {
  [data-fs-slide-over-size="partial"] {
    width: calc(100% / 3);
  }
}

[data-fs-slide-over-state="in"] {
  transition: transform .2s ease-in;
  transform: translateX(0);
}

[data-fs-slide-over-state="out"] {
  transition: transform .2s ease-out;
}

[data-fs-slide-over-direction="leftSide"] {
  left: 0;
}
[data-fs-slide-over-direction="leftSide"][data-fs-slide-over-state="out"] {
  transform: translateX(-100%);
}

[data-fs-slide-over-direction="rightSide"] {
  right: 0;
}
[data-fs-slide-over-direction="rightSide"][data-fs-slide-over-state="out"] {
  transform: translateX(100%);
}
