[data-fs-card] {
    // --------------------------------------------------------
    // Design Tokens for Card
    // --------------------------------------------------------

    // Default properties

    --fs-card-border-radius                         : var(--fs-border-radius-medium);
    --fs-card-border-width                          : var(--fs-border-width);
    --fs-card-border-color                          : var(--fs-color-neutral-4);
    --fs-card-header-padding                        : var(--fs-spacing-3);
    --fs-card-header-background-color               : var(--fs-color-main-1);
    --fs-card-header-font-weight                    : var(--fs-text-weight-bold);
    --fs-card-body-padding                          : var(--fs-spacing-3);


    // --------------------------------------------------------
    // Structural Styles
    // --------------------------------------------------------
    border: var(--fs-card-border-width) var(--fs-card-border-color);
    border-radius: var(--fs-card-border-radius);

    [data-fs-card-header] {
        
        border-top-left-radius: var(--fs-card-border-radius);
        border-top-right-radius: var(--fs-card-border-radius);
        padding: var(--fs-card-header-padding);
        background-color: var(--fs-card-header-background-color);
        font-weight: var(--fs-card-header-font-weight);
    }

    [data-fs-card-body] {

        padding: var(--fs-card-body-padding);
    }
}