@use "sass:meta";

@layer components {
  .section {
    margin-top: 0;

    @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/List/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/organisms/Incentives/styles.scss");
  }
}
