@use "../../../styles/base/utilities";

[data-fs-banner-text-newsletter] {

  > section > [data-fs-content] { width: 100%; }

  @include utilities.media(">=notebook") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--fs-grid-gap-3);
  }
}
