[data-fs-list-orders-empty-state] {
  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  // Default properties
  --fs-list-orders-empty-state-gap: var(--fs-spacing-4);

  // Title
  --fs-list-orders-empty-state-title-font-size: var(--fs-text-size-3);
  --fs-list-orders-empty-state-title-font-weight:
    var(
      --fs-text-weight-semibold
    );


  display: flex;
  flex-direction: column;
  gap: var(--fs-list-orders-empty-state-gap);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--fs-spacing-5) 0;

  [data-fs-list-orders-empty-state-image] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  [data-fs-list-orders-empty-state-title] {
    font-size: var(--fs-list-orders-empty-state-title-font-size);
    font-weight: var(--fs-list-orders-empty-state-title-font-weight);
    line-height: var(--fs-spacing-5);
    color: var(--fs-color-disabled-text);
    letter-spacing: -4%;
  }

  [data-fs-list-orders-empty-state-link] {
    text-decoration: none;
  }
}
