@use "sass:meta";
@use "@faststore/ui/src/styles/base/utilities";

@layer components {
  .section {
    @include meta.load-css("~@faststore/ui/src/components/atoms/Overlay/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Input/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/organisms/SlideOver/styles.scss");
    @include meta.load-css("../components/MyAccountTable/styles.scss");

    // --------------------------------------------------------
    // Design Tokens
    // --------------------------------------------------------

    // Default properties
    --fs-security-drawer-color-error: #940303;
    --fs-security-drawer-color-success: #015132;

    // --------------------------------------------------------
    // Structural Styles
    // --------------------------------------------------------

    [data-fs-security-drawer] {
      display: flex;
      flex-direction: column;
    }

    [data-fs-security-drawer-header] {
      border-bottom: var(--fs-border-width) solid var(--fs-border-color-light);
    }

    [data-fs-security-drawer-header-title] {
      font-size: var(--fs-text-size-3);
      font-weight: var(--fs-text-weight-bold);
    }

    [data-fs-security-drawer-body] {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: var(--fs-spacing-2);
      padding: var(--fs-spacing-4);
    }

    [data-fs-security-drawer-input] {
      width: 100%;
      padding: var(--fs-spacing-2);
      padding-right: var(--fs-spacing-8);
      font-size: var(--fs-text-size-2);
      font-weight: var(--fs-text-weight-regular);
    }

    [data-fs-security-drawer-password-rules-container] {
      display: flex;
      flex-direction: column;
      gap: var(--fs-spacing-2);
    }

    [data-fs-security-drawer-password-rules-title] {
      font-size: var(--fs-text-size-1);
      color: var(--fs-color-text-light);
    }

    [data-fs-security-drawer-password-rules-list] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--fs-spacing-1);
      padding: 0;
      list-style: none;
    }

    [data-fs-security-drawer-password-rule-item] {
      display: flex;
      gap: var(--fs-spacing-1);
      align-items: center;
      font-size: var(--fs-text-size-1);
      font-weight: var(--fs-text-weight-regular);
      color: var(--fs-color-danger-text);

      &[data-status="success"] {
        color: var(--fs-security-drawer-color-success);
      }

      &[data-status="error"] {
        color: var(--fs-security-drawer-color-error);
      }
    }

    [data-fs-security-drawer-resend] {
      font-size: var(--fs-text-size-1);
      font-weight: var(--fs-text-weight-regular);
      color: var(--fs-color-text-light);
    }

    [data-fs-security-drawer-body-password] {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--fs-spacing-1);
      width: 100%;

      &:first-child {
        margin-bottom: var(--fs-spacing-3);
      }
    }

    [data-fs-security-drawer-input-password-toggle] {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    [data-fs-security-drawer-error] {
      display: flex;
      gap: var(--fs-spacing-1);
      align-items: center;
      font-size: var(--fs-text-size-1);
      font-weight: var(--fs-text-weight-regular);
      color: var(--fs-color-danger-text);
      background-color: var(--fs-color-danger-background);
      border-radius: var(--fs-border-radius);
    }

    [data-fs-security-drawer-error-icon] {
      flex-shrink: 0;
    }

    [data-fs-security-drawer-footer] {
      display: flex;
      gap: var(--fs-spacing-3);
      align-items: center;
      justify-content: center;
      padding: var(--fs-spacing-3) var(--fs-spacing-4);
      border-top: var(--fs-border-width) solid var(--fs-border-color-light);

      [data-fs-button] {
        width: 100%;
      }
    }

    @include utilities.media("<notebook") {
      [data-fs-security-drawer-footer] {
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
