@use "sass:meta";

@layer components {
  .section {
    // Taxes label
    --fs-product-details-taxes-label-color      : var(--fs-color-info-text);
    --fs-product-details-taxes-text-size        : var(--fs-text-size-tiny);
    --fs-product-details-taxes-text-weight      : var(--fs-text-weight-regular);

    // Separator colors
    --fs-product-details-separator-color        : var(--fs-color-neutral-2);
    --fs-product-details-separator-color-text   : var(--fs-color-text-light);

    margin-top: 0;

    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Link/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/List/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Badge/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Input/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Price/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Accordion/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Breadcrumb/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/BuyButton/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/DiscountBadge/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Dropdown/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/InputField/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/LinkButton/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Rating/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/ProductTitle/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/QuantitySelector/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/SkuSelector/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Table/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/ShippingSimulation/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/ImageGallery/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/ProductDetails/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/SlideOver/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/SKUMatrix/styles.scss");

    [data-fs-product-details-taxes-label] {
      font-size: var(--fs-product-details-taxes-text-size);
      font-weight: var(--fs-product-details-taxes-text-weight);
      color: var(--fs-product-details-taxes-label-color);
    }

    [data-fs-product-details-settings-separator] {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--fs-product-details-separator-color-text);

      &::after {
        display: inline-block;
        width: 45%;
        height: 1px;
        content: "";
        background-color: var(--fs-product-details-separator-color);
      }

      &::before {
        display: inline-block;
        width: 45%;
        height: 1px;
        content: "";
        background-color: var(--fs-product-details-separator-color);
      }
    }

    [data-fs-sku-matrix] {
      > [data-fs-button] {
        width: 100%;
      }
    }
  }
}
