@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Loader/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/EmptyState/styles.scss");
  }
}
