/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@font-face {
  font-family: 'VTEX Trust Regular';
  src: url('/fonts/VtexTrustRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VTEX Trust Medium';
  src: url('/fonts/VtexTrustMedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-black: #000;
  --ifm-background-color: #fff !important;
  --ifm-color-rebel-pink: #f71963;
  --ifm-color-soft-pink: #fff3f6;
  --ifm-color-serious-black: #142032;
  --ifm-color-white-ice: #f8f7fc;
  --ifm-tag-highlight: #fff3f6;
  --ifm-color-details: #86868b;

  --ifm-hover-overlay: var(--ifm-color-white-ice);

  --ifm-breadcrumb-padding-horizontal: 0;
  --ifm-breadcrumb-size-multiplier: 0.8;
  --ifm-font-size-base: 1.1rem;

  --ifm-color-primary: var(--ifm-color-rebel-pink);
  --ifm-color-secondary: var(--ifm-color-serious-black);
  --ifm-font-color-secondary: var(--ifm-color-serious-black);

  --ifm-font-color-base: #4a4a4a;
  --ifm-hr-border-color: #e6e9ed;
  --ifm-color-border: #e6e9ed;
  --ifm-heading-font-family: 'VTEX Trust Regular', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif;
  --ifm-font-family-base: 'VTEX Trust Regular', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif;
  --ifm-global-shadow-lw: 0;
  --ifm-navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --ifm-table-border-color: #e7e9ee;
  --ifm-table-stripe-background: var(--ifm-color-white-ice);
  --ifm-table-head-font-weight: normal;
  --ifm-table-head-color: #a1a8b3;
  --docusaurus-announcement-bar-height: 45px !important;
  --ifm-footer-background-color: var(--ifm-color-serious-black);
  --ifm-footer-color: white;
  --ifm-footer-link-color: white;
  --docsearch-searchbox-background: var(--ifm-color-white-ice) !important;
  --ifm-code-background: var(--ifm-color-white-ice) !important;
  --ifm-tag-background: var(--ifm-color-soft-pink) !important;
  --ifm-color-warning-contrast-background: rgba(255, 186, 0, 0.2) !important;
  --ifm-color-info-contrast-background: rgba(84, 199, 236, 0.2) !important;
  --ifm-color-success-contrast-background: rgba(122, 189, 160, 0.2) !important;
}

[data-theme='dark'] {
  --ifm-color-primary: rgba(256, 256, 256, 0.7) !important;
  --ifm-color-secondary: #142032 !important;

  --ifm-menu-color-background-hover: var(--ifm-color-secondary);

  --ifm-hr-border-color: var(--ifm-color-secondary);
  --ifm-color-details: rgba(256, 256, 256, 0.7);
  --ifm-footer-link-hover-color: var(--ifm-link-color);
  --ifm-color-black: #fff;
  --ifm-tag-highlight: rgba(247, 25, 99, 0.2);
  --ifm-background-color: #000711 !important;
  --ifm-background-surface-color: var(--ifm-color-secondary) !important;
  --docsearch-searchbox-background: var(
    --ifm-background-surface-color
  ) !important;
  --docsearch-hit-background: var(--ifm-background-color) !important;
  --docsearch-hit-active-color: var(--ifm-background-color) !important;
  --docsearch-modal-background: var(--ifm-background-surface-color) !important;
  --docsearch-footer-background: var(--ifm-background-color) !important;
  --docsearch-searchbox-focus-background: var(
    --ifm-background-color
  ) !important;
  --docsearch-key-gradient: var(--ifm-background-surface-color) !important;
  --docsearch-key-shadow: var(--ifm-background-color) !important;
  --docsearch-primary-color: var(--ifm-background-color) !important;
  --docsearch-highlight-color: var(--ifm-color-secondary) !important;
  --ifm-code-background: #060f1d !important;
  --ifm-tag-background: #070f1d !important;
  --ifm-footer-background-color: var(--ifm-color-secondary);

  --ifm-link-color: var(--ifm-color-rebel-pink) !important;
  --ifm-font-color-base: #f5f5f7;
  --ifm-font-color-secondary: #f5f5f7;
  --ifm-table-border-color: var(--ifm-footer-background-color);
  --ifm-table-stripe-background: var(--ifm-background-surface-color);
  --ifm-table-head-color: #a1a8b3;
}

[class^='breadcrumbs__link'] {
  @apply bg-transparent !important;
}

[data-theme='dark'] code {
  @apply border-none;
}

[data-theme='dark'] [class^='codeBlockLines'] {
  @apply bg-code border-none;
}

body {
  font-family: var(--ifm-font-family-base) !important;
}

.container {
  @apply my-0 mx-auto;
  max-width: 1140px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px !important;
  }
}

nav {
  @apply text-sm;
}

.FAQbar {
  @apply pl-4 border-l;
}

article {
  @apply mt-6;
}

main hr {
  @apply my-5 border-border;
  border-width: 0.5px;
}

.markdown ol {
  @apply list-decimal ml-8;
}
[class^='card'] {
  @apply bg-transparent border-border !important;
}

[class^='card']:hover h2{
  @apply text-rebelPink !important;
}

[class^='codeBlockContainer'] {
  @apply my-5;
}

.markdown blockquote {
  @apply my-6 pl-6 ml-4;
  border-left: 3px solid #e7e9ee;
}

main a {
  @apply text-rebelPink;
}

article footer {
  @apply max-w-2xl mx-auto;
  color: var(--ifm-link-color);
}

[class^='navbar__item'] svg {
  @apply mb-1 inline;
}

[class^='footer__item'] svg {
  @apply mb-1 inline;
}

article footer svg {
  @apply float-left;
}

.markdown img {
  @apply my-5;
}

.markdown ul {
  @apply list-disc ml-8;
}

[class^='docItemContainer'] {
  @apply mx-auto sm:mx-32;
  width: 78%;
}

[class^='generatedIndexPage'] {
  @apply mx-auto sm:mx-32 mt-6;
  width: 78%;
}

[class^='tableOfContents'] {
  @apply mt-16;
}

main h1 {
  @apply text-3xl font-normal leading-10;
}
main h2 {
  @apply text-2xl font-normal leading-8;
}

main h3 {
  @apply text-lg font-bold leading-8;
  font-family: 'VTEX Trust Medium';
}

main h4 {
  @apply text-lg font-normal leading-8;
}

.admonition {
  @apply my-7;
}

code {
  @apply p-1 rounded-md leading-4;
  font-size: 0.8em !important;
}

.admonition-heading {
  @apply hidden;
}

.alert--secondary {
  @apply box-border rounded flex;
  border: 1px solid #ccced8;
}

.admonition-info {
  @apply box-border rounded flex;
  border: 1px solid #5bc1de;
}

.admonition-info::before {
  @apply flex items-center pr-4 font-black;
  color: #5bc1de;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f05a';
}

.admonition-note {
  @apply box-border rounded flex;
  border: 1px solid #dcdfe0;
}

.admonition-note::before {
  @apply flex items-center pr-4 font-black;
  color: #dcdfe0;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f10e';
}

.admonition-tip {
  @apply box-border rounded flex;
  border: 1px solid #adc7bd;
}

.admonition-tip::before {
  @apply flex items-center pr-4;
  color: #adc7bd;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f0eb';
}

.admonition-caution {
  @apply box-border rounded flex;
  border: 1px solid #eea236;
}

.admonition-caution::before {
  @apply flex items-center pr-4 font-black;
  color: #eea236;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f071';
}

[data-theme='dark'] [class^='codeBlockTitle'] {
  @apply border-b border-gray-50;
  background-color: var(--ifm-code-background) !important;
}

[class^='codeBlockTitle'] {
  @apply border-none bg-code !important;
}

[class^='codeBlockLines'] {
  @apply bg-code box-border border border-border;
  font-size: 12px !important;
}

.docusaurus-highlight-code-line {
  @apply bg-code brightness-125 !important;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

div[role='tabpanel'] p {
  @apply ml-10;
}

.header-github-link:hover {
  @apply opacity-60;
}

.header-github-link::before {
  @apply w-6 h-6 flex;
  content: '';
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
