/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@font-face {
  font-family: 'VTEX Trust Regular';
  src: url('/fonts/VtexTrustRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VTEX Trust Medium';
  src: url('/fonts/VtexTrustMedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-rebel-pink: #F71963;
  --ifm-color-soft-pink: #FFF3F6;
  --ifm-color-serious-black: #142032;
  --ifm-color-white-ice: #F8F7FC;

  --ifm-hover-overlay: var(--ifm-color-white-ice);

  --ifm-breadcrumb-padding-horizontal: 0.1em;
  --ifm-breadcrumb-size-multiplier: 0.8;
  --ifm-font-size-base: 1.1rem;

  --ifm-color-primary: var(--ifm-color-rebel-pink);
  --ifm-color-secondary: var(--ifm-color-serious-black);
  --ifm-font-color-secondary: var(--ifm-color-serious-black);
  
  --ifm-font-color-base: #4A4A4A;
  --ifm-color-border: #f3f4f6;
  --ifm-heading-font-family: 'VTEX Trust Regular', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif;
  --ifm-font-family-base: 'VTEX Trust Regular', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif;
  --ifm-global-shadow-lw: 0;
  --ifm-navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --ifm-table-border-color: #e7e9ee;
  --ifm-table-stripe-background: var(--ifm-color-white-ice);
  --ifm-table-head-font-weight: normal;
  --ifm-table-head-color: #a1a8b3;
  --docusaurus-announcement-bar-height: 45px !important;
  --ifm-footer-background-color: var(--ifm-color-serious-black);
  --ifm-footer-color: white;
  --ifm-footer-link-color: white;
  --docsearch-searchbox-background:var(--ifm-color-white-ice)!important;
  --ifm-code-background: var(--ifm-color-white-ice) !important;
  --ifm-tag-background: var(--ifm-color-soft-pink) !important;
  --ifm-color-warning-contrast-background: rgba(255, 186, 0, 0.2) !important;
  --ifm-color-info-contrast-background: rgba(84, 199, 236, 0.2) !important;
  --ifm-color-success-contrast-background: rgba(	122, 189, 160, 0.2) !important
}

[data-theme='dark'] {
  --ifm-background-color: #121212!important;
  --ifm-background-surface-color: #1d1d1f!important;
  --docsearch-searchbox-background:var(--ifm-background-surface-color)!important;
  --ifm-code-background: #18191a!important;
  --ifm-tag-background: var(--ifm-code-background) !important;
  --ifm-footer-background-color: rgb(37 37 38);
  --ifm-color-primary: #86868b !important;
  --ifm-color-secondary: white !important;
  --ifm-link-color: #2798fe !important;
  --ifm-font-color-base: #f5f5f7;
  --ifm-font-color-secondary: #f5f5f7;
  --ifm-table-border-color: var(--ifm-footer-background-color);
  --ifm-table-stripe-background: var(--ifm-background-surface-color);
  --ifm-table-head-color: #a1a8b3;
}


[class^='breadcrumbs__link']{
  @apply bg-transparent !important
}

[data-theme='dark'] code {
  @apply border-none;  
}

[data-theme='dark'] [class^='codeBlockLines'] {
  @apply bg-code border-none;
}

body {
  font-family: var(--ifm-font-family-base) !important;
}

.container {
  @apply my-0 mx-auto;
  max-width: 1140px;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px !important;
  }
}

nav {
  @apply text-sm;
}

.FAQbar {
  @apply pl-4 border-l;
}

article {
  @apply mt-6;
}

main hr {
  @apply my-5;
  border-width: 0.5px;
  color: var(--ifm-color-border)
}

.markdown ol {
  @apply list-decimal ml-8;
}

[class^='codeBlockContainer'] {
  @apply my-5;
}

.markdown blockquote {
  @apply my-6 pl-6 ml-4;
  border-left: 3px solid #e7e9ee;
}

main a {
  color: var(--ifm-link-color)
}

article footer {
  @apply max-w-2xl mx-auto;
  color: var(--ifm-link-color)
}

[class^='navbar__item'] svg {
  @apply mb-1 inline;
}

[class^='footer__item'] svg {
  @apply mb-1 inline;
}

article footer svg {
  @apply float-left;
}

.markdown img {
  @apply my-5;
}

.markdown ul {
  @apply list-disc ml-8;
}

[class^='docItemContainer'] {
  @apply mx-auto sm:mx-32;
  width: 78%;
}

[class^='generatedIndexPage'] {
  @apply mx-auto sm:mx-32 mt-6;
  width: 78%;
}

[class^='tableOfContents'] {
  @apply mt-16;
}

main h1 {
  @apply text-3xl font-normal leading-10;
}
main h2 {
  @apply text-2xl font-normal leading-8;
}

main h3 {
  @apply text-lg font-bold leading-8;
  font-family: 'VTEX Trust Medium';
}

main h4 {
  @apply text-lg font-normal leading-8;
}

.admonition {
  @apply my-7;
}

.admonition-heading {
  @apply font-bold;
}

code {
  @apply p-1 rounded-md leading-4;
  font-size: 0.8em !important;
}

.admonition-heading {
  @apply hidden;
}

.alert--secondary {
  @apply box-border rounded flex;
  border: 1px solid #ccced8;
}

.admonition-info {
  @apply box-border rounded flex;
  border: 1px solid #5bc1de;
}

.admonition-info::before {
  @apply flex items-center pr-4 font-black;
  color: #5bc1de;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f05a';
}

.admonition-note {
  @apply box-border rounded flex;
  border: 1px solid #dcdfe0;
}

.admonition-note::before {
  @apply flex items-center pr-4 font-black;
  color: #dcdfe0;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f10e';
}

.admonition-tip {
  @apply box-border rounded flex;
  border: 1px solid #adc7bd;
}

.admonition-tip::before {
  @apply flex items-center pr-4 ;
  color: #adc7bd;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f0eb';
}

.admonition-caution {
  @apply box-border rounded flex;  
  border: 1px solid #eea236;
}

.admonition-caution::before {
  @apply flex items-center pr-4 font-black;
  color: #eea236;
  font-family: 'Font Awesome\ 5 Free';
  content: '\f071';
}

[data-theme='dark'] [class^='codeBlockTitle'] {
  @apply border-b border-gray-50;
  background-color: var(--ifm-code-background) !important
}


[class^='codeBlockTitle'] {
  @apply border-none bg-code !important;
}

[class^='codeBlockLines'] {
  @apply bg-code box-border;
  border: 1px solid #e7e9ee;
  font-size: 12px !important;
}

.docusaurus-highlight-code-line {
  background-color: var(--ifm-code-background) !important;
  filter: brightness(120%);
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

div[role='tabpanel'] p {
  @apply ml-10;
}
