.tokenTable {
  width: 100%;
  display: table;
}

.tokenTable th {
  color: var(--fs-color-text);
}

.tokenTable td {
  width: 50%;
  background-color: white;
  padding: var(--fs-spacing-1);
}

.tokenTable td code {
  line-height: 1.3;
  white-space: break-spaces;
}

.tokenTable td > div {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  border: 1px solid gray;
  border-radius: 100%;
}
