.tokenDivider td {
  background-color: var(--fs-color-neutral-1);
  padding: 0;
  height: 12px;
}

.tokenDivider td:first-of-type {
  border-right: none;
}

.tokenDivider td:last-child {
  border-left: none;
}
