.tokenTable {
  width: 100%;
}

.tokenTable td {
  width: 50%;
  background-color: white;
}

.tokenTable td code {
  line-height: 1.3;
  white-space: break-spaces;
}

.tokenTable td > div {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  border: 1px solid gray;
  border-radius: 100%;
}


/* TODO: Fix  */
.tokenTable .token-divider td {
  background-color: var(--fs-color-neutral-1);
}

.tokenTable .token-divider td:first-of-type {
  border-right: none;
}

.tokenTable .token-divider td:last-child {
  border-left: none;
}
