[data-store-bullets] {
  box-sizing: border-box;
  padding: 10px 0px;
  justify-content: center;
  display: flex;
}

[data-store-bullets] [data-bullet-item] {
  display: inline-block;
}

[data-store-bullets] [data-bullet-item] [data-store-button] {
  box-sizing: border-box;
  min-width: 0px;
  background-color: rgb(168, 168, 168);
  cursor: pointer;
  display: inline-block;
  border-radius: 100%;
  margin: 12px;
  padding: 0.25rem;
  border-width: 0px;
  outline: 0px;
  height: 0.725rem;
  width: 0.725rem;
  padding: 0;
  min-height: 0;
}

[data-store-bullets] > [data-bullet-item] [data-active] > [data-store-button] {
  background-color: rgb(247, 25, 99);
}
