/* Colors */
body {
  --nextra-primary-hue: 227deg;
}

body .nx-bg-primary-100 { background-color: hsl(var(--nextra-primary-hue)100% 96%/var(--tw-bg-opacity)); }

a.nx-text-primary-600 { color: var(--fs-color-link); }

button.nx-border-primary-500 {
  color: var(--fs-color-link);
  border-color: var(--fs-color-link);
}

@media screen and (min-width: 1280px) {
  article.nx-w-full {
    padding-left: var(--fs-spacing-8);
    padding-right: var(--fs-spacing-12);
  }
}

/* Header */
.nx-w-full > header {
  margin-top: var(--fs-spacing-5);
  margin-bottom: var(--fs-spacing-5);
  padding-bottom: var(--fs-spacing-5);
  border-bottom: 1px solid var(--fs-border-color-light);
}

@media screen and (min-width: 768px) {
  .nx-w-full > header {
    margin-top: var(--fs-spacing-10);
    margin-bottom: var(--fs-spacing-7);
    padding-bottom: var(--fs-spacing-9);
  }

  .nx-w-full > header + p.nx-mt-6 { margin-top: var(--fs-spacing-10); }
}

.nx-w-full > header h1 {
  font-size: var(--fs-text-size-8);
  line-height: 1;
  font-weight: var(--fs-text-weight-black);
}

.nx-w-full > header p {
  margin-top: var(--fs-spacing-2);
  color: var(--fs-color-text-light);
  font-size: var(--fs-text-size-lead);
  line-height: 1.5;
  max-width: 80%;
}

/* Divider */
hr.nx-my-8 {
  margin: var(--fs-spacing-5) 0;
}

@media screen and (min-width: 768px) {
  hr.nx-my-8 { margin: var(--fs-spacing-10) 0 var(--fs-spacing-9); }
}

hr.nx-my-8 + h2.nx-tracking-tight,
hr.nx-my-8 + h3.nx-tracking-tight {
  margin-top: 0;
}

/* Titles */
h1.nx-tracking-tight {
  margin-top: 0;
}

h2.nx-tracking-tight {
  border: none;
  font-size: var(--fs-text-size-6);
  margin-bottom: var(--fs-spacing-2);
  font-weight: var(--fs-text-weight-bold);
}

@media screen and (min-width: 768px) {
  h2.nx-tracking-tight { margin-bottom: var(--fs-spacing-4); }
}

h2.nx-tracking-tight + p.nx-mt-6 { margin-top: 0; }
h2.nx-tracking-tight + h3.nx-tracking-tight { margin-top: var(--fs-spacing-2); }

h3.nx-tracking-tight {
  font-size: var(--fs-text-size-5);
  line-height: 1.2;
  margin-top: var(--fs-spacing-7);
  margin-bottom: var(--fs-spacing-3);
}

div:not(.nextra-code-block):not(.nextra-callout) + h3.nx-tracking-tight { margin-top: var(--fs-spacing-10); }

h4.nx-tracking-tight {
  font-weight: var(--fs-text-weight-regular);
  font-size: calc(var(--fs-text-size-4) - 2px);
  margin-top: var(--fs-spacing-5);
  margin-bottom: var(--fs-spacing-3);
}

.nx-leading-7 code {
  background-color: hsl(var(--nextra-primary-hue)100% 39%/.05);
  padding: 2px .5rem;
  border-radius: 4px;
  font-size: 14px;
}

.index-header {
  display: flex;
  align-items: center;
  margin-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  column-gap: 3rem;
}

.index-header h1 {
  font-size: var(--fs-text-size-title-huge);
  margin-bottom: var(--fs-spacing-4);
}

.index-header img {
  font-size: var(--fs-text-size-title-huge);
}

.doc-list {
  list-style: disc;
  list-style-position: inside;
}

ol.nx-list-decimal.nx-mt-6 > li { margin-top: var(--fs-spacing-4); }

/* Content */

body > div > div > div > article > *.nx-mt-6,
main > *:not(hr),
main > *.nx-mt-6,
main > [data-rehype-pretty-code-fragment] {
  margin-top: var(--fs-spacing-2);
  margin-bottom: var(--fs-spacing-2);
}

main > div { margin: 0; }

p.nx-mt-6 + p.nx-mt-6 { margin-top: 0; }

@media screen and (min-width: 1280px) {
  .nx-w-full > p.nx-mt-6,
  .nx-w-full > ul .nx-my-2 { max-width: 90%; }
  .nextra-content { max-width: calc(100% - 16rem); }
}

/* Components adjusts for documentation purposes */

/* Reset theme default style */
[data-fs-payment-methods-title] h3 {
  margin-top: auto;
}

[data-fs-overlay] {
  z-index: 21;
}

/* Carousel */
[data-doc-overview-section] [data-fs-carousel] [data-fs-carousel-track] {
  padding: var(--fs-carousel-padding-mobile);
}

@media screen and (min-width: 1441px) {
  [data-doc-overview-section] [data-fs-carousel] [data-fs-carousel-controls] {
    margin: 0 5vw;
  }
}

/* Theme Section */

.section-theme {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-theme .section-theme-img {
  width: 30%;
  height: 280px;
  overflow: hidden;
  background-color: #f1f2f3;
  border-radius: 4px;
}

.section-theme .section-theme-img img {
  display: block;
  width: auto;
  max-width: unset;
  height: 100%;
  margin: 0 auto;
}

.section-theme > article {
  width: 65%;
}

/* ////////////////////// */
/*  Landing page */
/* ////////////////////// */

/* General */

.nx-mt-2 { margin-top: var(--fs-spacing-3); }

.nx-button {
  padding: var(--fs-spacing-2) var(--fs-spacing-4);
  font-weight: var(--fs-text-weight-bold);
  display: inline-block;
  font-size: var(--fs-text-size-2);
  transition: background-color .2s ease-in-out;
}

.nx-button-primary {
  background-color: var(--fs-color-main-3);
  color: var(--fs-color-text-inverse);
}

.nx-button-primary:hover {
  background-color: var(--fs-color-main-4);
}

.nx-button-primary.inverse {
  background-color: var(--fs-color-text-inverse);
  color: var(--fs-color-main-3);
}

.nx-button-primary.inverse:hover {
  background-color: #ffffffe1;
}

.nx-button-tertiary:hover {
  background-color: var(--fs-color-main-4);
}

.nx-main { color: var(--fs-color-neutral-7); }
.nx-main p { color: var(--fs-color-neutral-6); }

.nx-h2 {
  font-size: var(--fs-text-size-6);
  line-height: 1.2;
}

.nx-h3 {
  font-size: var(--fs-text-size-4);
  line-height: 1.3;
  margin-bottom: var(--fs-spacing-2);
}

.nx-lading-grid {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 var(--fs-spacing-4);
}

@media screen and (min-width: 1024px) {
  .nx-lading-grid {
    padding: 0 var(--fs-spacing-11);
  }
}

/* Hero */

.nx-hero {
  background-color: var(--fs-color-main-3);
  padding-top: var(--fs-spacing-3);
  padding-bottom: var(--fs-spacing-5);
  color: var(--fs-color-text-inverse);
  margin-top: 0;
}

.nx-hero-wrapper {
  display: flex;
  row-gap: var(--fs-spacing-2);
  flex-direction: column-reverse;
}

.nx-hero h1 {
  font-size: var(--fs-text-size-title-huge);
  line-height: 1.2;
  margin-bottom: var(--fs-spacing-2);
  font-weight: var(--fs-text-weight-bold);
}

.nx-hero p {
  font-size: var(--fs-text-size-lead);
  margin-bottom: var(--fs-spacing-6);
  color: var(--fs-color-text-inverse);
}

.nx-hero img {
  max-width: 100%;
  width: 250px;
  position: relative;
  left: calc(-1 * var(--fs-spacing-4));
}

.nx-hero-buttons {
  display: flex;
  row-gap: var(--fs-spacing-1);
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .nx-hero {
    padding-top: var(--fs-spacing-11);
    padding-bottom: var(--fs-spacing-11);
  }

  .nx-hero-wrapper {
    flex-direction: row;
    align-items: center;
    column-gap: var(--fs-spacing-6);
  }

  .nx-hero img {
    left: 0;
    width: 400px;
  }

  .nx-hero h1 {
    max-width: 80%;
    margin-bottom: var(--fs-spacing-4);
  }

  .nx-hero p { margin-bottom: var(--fs-spacing-7); }

  .nx-hero-buttons {
    flex-direction: row;
    column-gap: var(--fs-spacing-2);
  }
}

/* Features */

.nx-features {
  padding-top: var(--fs-spacing-5);
  padding-bottom: var(--fs-spacing-5);
  border-bottom: 1px solid var(--fs-border-color-light);
}

.nx-features ul {
  display: flex;
  align-items: flex-start;
  row-gap: var(--fs-spacing-5);
  flex-direction: column;
}

.nx-features li img {
  height: var(--fs-spacing-6);
  margin-bottom: var(--fs-spacing-3);
}

.nx-features h3 {
  margin-bottom: var(--fs-spacing-2);
}

@media screen and (min-width: 1024px) {
  .nx-features {
    padding-top: var(--fs-spacing-8);
    padding-bottom: var(--fs-spacing-8);
  }

  .nx-features ul {
    column-gap: var(--fs-spacing-7);
    flex-direction: row;
  }
}

/* Sections */

.nx-section {
  padding-top: var(--fs-spacing-6);
  padding-bottom: var(--fs-spacing-7);
}

.nx-section-wrapper {
  display: flex;
  justify-content: center;
  row-gap: var(--fs-spacing-3);
  flex-direction: column-reverse;
}

.nx-section .nx-section-wrapper > img { max-width: 200px; }

.nx-section:nth-child(even) { background-color: #f8f7fc; }

.nx-section-code-desktop { display: none; }

.nx-section-code-mobile code {
  font-size: var(--fs-text-size-0);
}

.nx-section-code-mobile > div:last-child > div:first-child {
  padding-top: 0;
}

.nx-section-code-mobile > div:last-child > div:first-child > div {
  border: none;
  border-radius: 15px;
  background-color: #f8f7fc;
}

.nx-section-code-mobile > div:last-child > div:last-child {
  padding: 0;
  background-color: #f8f7fc;
  border-radius: 10px;
  margin-top: var(--fs-spacing-3);
}

.nx-section-code-mobile pre {
  overflow: auto;
  padding: var(--fs-spacing-3) 0;
}

.nx-section .nx-button-primary { margin-top: var(--fs-spacing-4); }

.nx-section h2 {
  margin-bottom: var(--fs-spacing-4);
}

.nx-section p {
  font-size: var(--fs-text-size-body);
  margin-bottom: var(--fs-spacing-3);
}


@media screen and (max-width: 1023px) {
  .nx-section-components .nx-section-wrapper { flex-direction: column; }
}

@media screen and (min-width: 1024px) {
  .nx-section {
    padding-top: var(--fs-spacing-9);
    padding-bottom: var(--fs-spacing-9);
  }

  .nx-section-wrapper {
    align-items: center;
    flex-direction: row;
    column-gap: var(--fs-spacing-6);
  }

  .nx-section:nth-child(even) .nx-section-wrapper {
    flex-direction: row-reverse;
  }

  .nx-section .nx-section-wrapper > img { max-width: 400px; }
  .nx-section .nx-section-wrapper > article { max-width: 50%; }


  .nx-section-code-mobile { display: none; }

  .nx-section-code-desktop {
    display: flex;
    max-width: 60%;
  }

  .nx-section-code-desktop > pre {
    background-color: #f8f7fc;
    padding: var(--fs-spacing-1);
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
  }

  .nx-section-code-desktop > pre code {
    font-size: var(--fs-text-size-0);
  }

  .nx-section-code-desktop > div:last-child {
    background-color: #f8f7fc64;
    border-radius: 0 15px 15px 0;
    border: none;
    margin: 0;
    padding: var(--fs-spacing-3) var(--fs-spacing-5);
  }

  .nx-section h2 {
    max-width: 80%;
    margin-bottom: var(--fs-spacing-4);
  }

  .nx-section p {
    font-size: var(--fs-text-size-lead);
    margin-bottom: var(--fs-spacing-4);
  }

}

/* Banner */

.nx-banner {
  padding-top: var(--fs-spacing-5);
  padding-bottom: var(--fs-spacing-5);
  background-color: var(--fs-color-main-3);
  color: var(--fs-color-text-inverse);
  margin-bottom: 0;
}

.nx-banner > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: var(--fs-spacing-4);
}

.nx-banner h2 {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .nx-banner {
    padding-top: var(--fs-spacing-9);
    padding-bottom: var(--fs-spacing-9);
  }

  .nx-banner > div { row-gap: var(--fs-spacing-6); }

  .nx-banner h2 { max-width: 70%; }
}

/* Footer */

.nx-footer {
  background-color: var(--fs-color-neutral-1);
  font-size: var(--fs-text-size-legend);
}

.nx-footer > div {
  padding: var(--fs-spacing-2) var(--fs-spacing-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--fs-spacing-1);
  color: var(--fs-color-neutral-6);
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .nx-footer p > span { display: block; }
}

@media screen and (min-width: 1024px) {
  .nx-footer > div {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Nav */

.nx-header-logo {
  display: flex;
  align-items: center;
  column-gap: var(--fs-spacing-0);
}


/* Simple Table */

.nx-simple-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border-spacing: 0;
  border-collapse: unset;
}

.nx-simple-table th {
  color: var(--fs-color-text);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.nx-simple-table th:not(:last-child),
.nx-simple-table td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nx-simple-table tr:last-child td {
  border-bottom: none;
}

.nx-simple-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: var(--fs-spacing-1);
}

.nx-simple-table a {
  color: var(--fs-color-link);
}

/* Nextra Sections */

.nx-section-layout-colored {
  background-color: var(--fs-color-main-2);
  padding-top: var(--fs-spacing-5);;
  padding-bottom: var(--fs-spacing-5);
}

.nx-section-layout-full [data-fs-content] {
  width: 100%;
  max-width: 100%;
}

.nx-section-layout {
  --fs-grid-max-width: 900px;
  width: 100%;
}

.nx-section-layout [data-fs-content] {
  margin-left: auto;
  margin-right: auto;
}

.nx-section-checklist {
  background-color: hsl(var(--nextra-primary-hue)100% 96% / .5);
  padding: var(--fs-spacing-4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-4);
}

.nx-section-checklist li {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-1);

}

.nx-section-checklist summary { display: block; }
.nx-section-checklist details { margin: 0; }

.nx-section-checklist details > div { margin: var(--fs-spacing-2) var(--fs-spacing-4); }

.nx-section-checklist table { width: 100%; }

/* Card */
.nx-card-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-2);
}

@media screen and (min-width: 1024px) {
  .nx-card-list {
    display: grid;
    grid-gap: var(--fs-spacing-2);
    grid-template-columns: 1fr 1fr;
  }
}

.nx-card {
  border-radius: var(--fs-spacing-2);
  border: 1px solid #e5e7eb;
  transition: all .2s ease-in-out;
  position: relative;
  top: 0;
}

.nx-card:hover {
  top: -2px;
  box-shadow: 0 5px 12px 0 #46464611;
}

.nx-card > a {
  height: 100%;
  display: block;
  padding: var(--fs-spacing-4);
}

.nx-card h4.nx-tracking-tight {
  margin: 0;
  font-weight: var(--fs-text-weight-bold);
}

.nx-card .nx-mt-6 {
  margin-top: var(--fs-spacing-1);
  line-height: 1.5;
}

/* Nextra Steps */
div.nextra-steps h3:before {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}

div.nextra-steps h3 {
  margin-bottom: var(--fs-spacing-1);
  line-height: 1.1;
}

@media screen and (min-width: 768px) {
  div.nextra-steps h3 { line-height: .8; }
}

div.nextra-steps p {
  margin-top: 0;
}

/* Nextra Tabs */

.nextra-scrollbar {
  padding-top: 3px;
  padding-left: 3px;
}
.nextra-scrollbar > div { margin-top: 0; }

/* Nextra Sidebar */

.nextra-sidebar-container .nextra-scrollbar {
  overflow-y: scroll;
}

/* Custom Mixin example */

[data-doc-input-mixin]:hover:focus,
[data-doc-input-mixin]:focus {
  border-color: var(--fs-color-danger-border);
  outline: none;
  box-shadow:
    0 0 0 1px var(--fs-color-body-bkg),
    0 0 0 var(--fs-border-width-thickest) var(--fs-color-focus-ring-danger),
    inset 0 0 0 var(--fs-border-width) var(--fs-color-danger-border);
}

[data-doc-input-mixin]:focus-visible,
[data-doc-input-mixin]:hover:focus-visible {
  border-color: var(--fs-color-danger-border);
  outline: none;
  box-shadow:
    0 0 0 1px var(--fs-color-body-bkg),
    0 0 0 var(--fs-border-width-thickest) var(--fs-color-focus-ring-danger),
    inset 0 0 0 var(--fs-border-width) var(--fs-color-danger-border);
}
