.propsSection {
  width: 100%;
  overflow-x: auto;
}

.propsSection table {
  width: 100%;
  border-spacing: 0;
  border-collapse: unset;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .propsSection table { table-layout: fixed; }
}

.propsSection th {
  color: var(--fs-color-text);
  padding: var(--fs-spacing-1) var(--fs-spacing-2);
  font-size: var(--fs-text-size-body);
  background-color: hsl(var(--nextra-primary-hue)100% 39%/.05);
}

.propsSection th:first-child { border-radius: 4px 0 0 4px; }
.propsSection th:last-child { border-radius: 0 4px 4px 0; }

.propsSection tr:first-child td { padding-top: var(--fs-spacing-4); }
.propsSection tr:last-child td { border-bottom: none; }

.propsSection th,
.propsSection td {
  text-align: left;
  overflow: hidden;
}

.propsSection [data-nx-props-section-name] { overflow-x: auto; }

.propsSection [data-nx-props-section-type] code {
  max-height: 8rem;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .propsSection [data-nx-props-section-name] { width: 25%; }
  .propsSection [data-nx-props-section-type] { width: 20%; }
  .propsSection [data-nx-props-section-description] { width: 35%; }
  .propsSection [data-nx-props-section-default] { width: 20%; }
}


.propsSection td[data-nx-props-section-name] span {
  color: #006be6;
  margin-left: var(--fs-spacing-0);
  cursor: help;
}


.propsSection td[data-nx-props-section-type] span {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  row-gap: var(--fs-spacing-0);
}

.propsSection td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: var(--fs-spacing-2) var(--fs-spacing-2);
  font-size: var(--fs-text-size-legend);
  line-height: 1.2;
  vertical-align: top;
}

.propsSection td code {
  max-width: 100%;
  word-wrap: break-word;
  margin: 0 2px;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid rgb(238, 238, 238);
  color: rgba(51, 51, 51, 0.9);
  background-color: rgb(248, 248, 248);
  line-height: 1.3;
  display: inline-block;
}
