@import "src/styles/scaffold";

.fs-suggestion-product-card {
  // --------------------------------------------------------
  // Design Tokens for Suggestion Product Card
  // --------------------------------------------------------

  // Suggestion Product Card Link
  --fs-suggestion-product-card-link-padding                   : var(--fs-spacing-1) var(--fs-spacing-3);

  // Suggestion Product Card Image
  --fs-suggestion-product-card-image-border-radius            : var(--fs-border-radius);
  --fs-suggestion-product-card-image-margin-right             : var(--fs-spacing-3);
  --fs-suggestion-product-card-image-height                   : 3.5rem;

  // Suggestion Product Card Title
  --fs-suggestion-product-card-title-margin-bottom            : var(--fs-spacing-0);
  --fs-suggestion-product-card-title-line-height              : 1.2;
  --fs-suggestion-product-card-title-color                    : var(--fs-color-text);

  [data-fs-suggestion-product-card-image] {
    display: flex;
    height: var(--fs-suggestion-product-card-image-height);
    margin-right: var(--fs-suggestion-product-card-image-margin-right);
    overflow: hidden;
    border-radius: var(--fs-suggestion-product-card-image-border-radius);
  }

  [data-fs-suggestion-product-card-content] {
    display: flex;
    align-items: center;
  }

  [data-fs-suggestion-product-card-title] {
    margin-bottom: var(--fs-suggestion-product-card-title-margin-bottom);
    line-height: var(--fs-suggestion-product-card-title-line-height);
    color: var(--fs-suggestion-product-card-title-color);
    text-decoration: none;
    outline: none;

    @include truncate-title;
  }

  [data-fs-suggestion-product-card-prices] {
    display: flex;
    align-items: baseline;
  }

  [data-fs-link] {
    padding: var(--fs-suggestion-product-card-link-padding);
    text-decoration: none;
  }
}
