@import '../../atoms/Button/styles.scss';

[data-fs-icon-button] {
  // --------------------------------------------------------
  // Design Tokens for IconButton
  // --------------------------------------------------------

  // Default properties
  --fs-icon-button-icon-padding           : 0 var(--fs-spacing-1);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  &[data-fs-button-icon="true"] {
    position: relative;

    &[data-fs-button-variant] {
      width: var(--fs-button-height);
      height: var(--fs-button-height);
      padding: var(--fs-icon-button-icon-padding);
      border-width: 0;
    }
  }

  [data-fs-icon] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
