[data-fs-carousel] {
  // --------------------------------------------------------
  // Design Tokens for Carousel
  // --------------------------------------------------------

  // Track
  --fs-carousel-padding-mobile             : var(--fs-spacing-0) var(--fs-grid-padding);
  --fs-carousel-padding-desktop            : var(--fs-spacing-0) calc((100% - var(--fs-grid-max-width))/2) var(--fs-spacing-0);

  // Item
  --fs-carousel-item-width-mobile          : 60%;
  --fs-carousel-item-width-tablet          : 14.2rem;
  --fs-carousel-item-width-desktop         : 14.4rem;
  --fs-carousel-item-margin-right          : var(--fs-spacing-3);

  // Controls
  --fs-carousel-controls-width             : 3.125rem;
  --fs-carousel-controls-height            : var(--fs-carousel-controls-width);
  --fs-carousel-controls-bkg-color         : var(--fs-color-neutral-0);
  --fs-carousel-controls-border-radius     : var(--fs-border-radius-circle);
  --fs-carousel-controls-box-shadow        : var(--fs-shadow-darker);
  --fs-carousel-controls-icon-color        : var(--fs-color-neutral-7);

  --fs-carousel-controls-control-left      : var(--fs-spacing-4);
  --fs-carousel-controls-control-right     : var(--fs-carousel-controls-control-left);
  --fs-carousel-controls-control-max-left  : calc(-1 * var(--fs-spacing-11));
  --fs-carousel-controls-control-max-right : var(--fs-carousel-controls-control-max-left);

  // Bullets
  --fs-carousel-bullets-padding-top        : var(--fs-carousel-controls-control-left);
  --fs-carousel-bullets-padding-left       : var(--fs-grid-padding);
  --fs-carousel-bullets-padding-right      : var(--fs-carousel-bullets-padding-left);
  --fs-carousel-bullets-column-gap-mobile  : var(--fs-spacing-0);
  --fs-carousel-bullets-column-gap-tablet  : var(--fs-spacing-3);

  --fs-carousel-bullet-width-mobile        : 100%;
  --fs-carousel-bullet-width-desktop       : var(--fs-spacing-1);
  --fs-carousel-bullet-height-mobile       : var(--fs-spacing-0);
  --fs-carousel-bullet-height-desktop      : var(--fs-carousel-bullet-width-desktop);
  --fs-carousel-bullet-bkg-color           : var(--fs-color-neutral-3);
  --fs-carousel-bullet-bkg-color-selected  : var(--fs-color-main-4);
  --fs-carousel-bullet-border-radius       : var(--fs-carousel-controls-border-radius);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  width: inherit;

  &:hover {
    [data-fs-carousel-controls] {
      @include media(">=tablet") {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  [data-fs-carousel-controls] {
    position: relative;
    display: flex;
    opacity: 0;
    pointer-events: none;
    @include media(">=tablet") { margin: var(--fs-carousel-padding-desktop); }
  }

  [data-fs-carousel-control] {
    bottom: calc(var(--fs-carousel-controls-height) + var(--fs-control-tap-size));
    cursor: pointer;
    transform: translateY(-50%);
    [data-fs-button-wrapper] {
      border-radius: var(--fs-carousel-controls-border-radius);
      box-shadow: var(--fs-carousel-controls-box-shadow);
    }
    &:not(:hover) [data-fs-button-wrapper] { background-color: var(--fs-carousel-controls-bkg-color); }
  }

  [data-fs-carousel-control="left"] {
    position: absolute;
    left: var(--fs-carousel-controls-control-right);
    @include media(">notebook") {
      left: var(--fs-carousel-controls-control-max-left);
    }
  }

  [data-fs-carousel-control="right"] {
    position: absolute;
    right: var(--fs-carousel-controls-control-right);
    @include media(">notebook") {
      right: var(--fs-carousel-controls-control-max-right);
    }
  }

  [data-fs-icon] {
    color: var(--fs-carousel-controls-icon-color);
  }

  [data-fs-carousel-track] {
    display: flex;
    padding: var(--fs-carousel-padding-mobile);

    &::-webkit-scrollbar {
      display: none;
    }

    @include media(">notebook") {
      padding: var(--fs-carousel-padding-desktop);
    }
  }

  [data-fs-carousel-item] {
    width: var(--fs-carousel-item-width-mobile);
    flex-shrink: 0;

    &:not(:last-of-type) {
      margin-right: var(--fs-carousel-item-margin-right);
    }

    @include media(">=tablet") {
      width: var(--fs-carousel-item-width-tablet);
    }

    @include media(">=desktop") {
      width: var(--fs-carousel-item-width-desktop);
    }
  }

  [data-fs-carousel-bullets] {
    position: relative;
    width: 100%;
    padding-top: var(--fs-carousel-bullets-padding-top);
    display: flex;
    flex-flow: row nowrap;
    column-gap: var(--fs-carousel-bullets-column-gap-mobile);
    padding-left: var(--fs-carousel-bullets-padding-left);
    padding-right: var(--fs-carousel-bullets-padding-right);

    @include media(">=tablet") {
      width: fit-content;
      align-items: center;
      justify-content: center;
      margin: auto;
      column-gap: var(--fs-carousel-bullets-column-gap-tablet);
    }

    [data-fs-carousel-bullet] {
      width: var(--fs-carousel-bullet-width-mobile);
      align-items: center;
      justify-content: center;
      [data-fs-button-wrapper] {
        padding: 0;
        height: var(--fs-carousel-bullet-height-mobile);
        background-color: var(--fs-carousel-bullet-bkg-color);
        border-color: transparent;
        border-radius: 0;
        @include media(">=tablet") {
          width: var(--fs-carousel-bullet-width-desktop);
          height: var(--fs-carousel-bullet-height-desktop);
          margin: 0;
          border-radius: var(--fs-carousel-bullet-border-radius);
        }
      }
      &[aria-selected="true"] [data-fs-button-wrapper] {
        background-color: var(--fs-carousel-bullet-bkg-color-selected);
      }
    }
  }
}
