.FeedbackModal {
  @apply grid grid-cols-1 gap-4;
}

.FeedbackModal label {
  @apply inline-block text-text;
}

.FeedbackModal input[type='email'],
.FeedbackModal textarea {
  @apply bg-transparent mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black focus:outline-none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.Csat {
  @apply flex flex-row justify-between;
}

.Csat input[type='radio'] {
  @apply text-left hidden absolute;
}

.Csat input[type='radio'] + span {
  @apply my-5 rounded-full px-3 py-2 cursor-pointer;
}

.Csat input[type='radio'] + span:hover,
.Csat input[type='radio']:checked + span {
  @apply bg-tagHighlight;
}

.Csat input[type='radio'] + span::before {
  @apply text-details rounded-full text-3xl;
}

.Csat input[type='radio']:checked + span::before {
  @apply text-rebelPink;
}

input[type='submit'] {
  @apply cursor-pointer;
}

.FollowUp label {
  @apply pr-4;
}

.FollowUp input[type='radio'] {
  @apply mr-1;
}
