.propsComponent {
  @apply mb-8;
}

.propsHeader {
  @apply border-b pb-4 mb-4;
}

.propsName {
  @apply p-0 border-none font-bold;
  background-color: transparent;
}

.propsRequired {
  @apply text-red-500 font-extrabold;
}

.propsType {
  @apply ml-2 py-1;
  background-color: var(--ifm-tag-background);
  color: var(--ifm-color-primary);
  font-size: 10px !important;
  border: 1px solid #ffe0ef;
}

.propsDetails {
  @apply flex;
}

.propsDetails code {
  @apply border-none p-0;
  background-color: transparent;
  color: var(--ifm-color-primary);
}

.propsDetailsTitle {
  @apply pr-5 w-36 whitespace-nowrap align-baseline text-sm;
}

.propsDetailsDescription {
  @apply w-full pl-5;
}