.propsComponent{
  @apply mb-8
}

.propsHeader {
  @apply border-b pb-4 mb-4  ;
}

.propsName {
  @apply bg-white p-0 border-none font-bold;
  font-size:14px!important;
}

.propsRequired{
  @apply text-red-500 font-extrabold;
}

.propsType{
  @apply bg-softPink text-rebelPink ml-2 py-1;
  font-size:10px!important;
  border: 1px solid #ffe0ef;
}

.propsDetails {
  @apply flex;
}

.propsDetails code {
    @apply border-none bg-white text-rebelPink p-0;
  }

.propsDetailsTitle {
  @apply pr-5 w-36 whitespace-nowrap align-baseline text-sm;
}

.propsDetailsDescription {
  @apply w-full pl-5;
}
