@use "./utilities";

// ----------------------------------------------------------
// FS UI STYLES
// Layout
// ----------------------------------------------------------

@layer base {
  body {
    min-height: 100vh;
    color: var(--fs-color-text);
    background: var(--fs-body-bkg);
  }

  main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .layout__section {
    margin-top: var(--fs-spacing-4);
    margin-bottom: var(--fs-spacing-4);

    @include utilities.media(">=notebook") {
      margin-top: var(--fs-grid-padding);
      margin-bottom: var(--fs-grid-padding);
    }
  }

  .layout__content {
    box-sizing: border-box;
    width: 100%;
    width: calc(100% - var(--fs-grid-padding) - var(--fs-grid-padding));
    max-width: var(--fs-grid-max-width);
    margin-inline: auto;
  }

  [data-fs-content] { @include utilities.layout-content; }

  .no-scroll {
    overflow: hidden;
    touch-action: none;
  }

  // Helper class
  .display-mobile {
    @include utilities.media(">=notebook") {
      display: none;
      visibility: hidden;
    }
  }

  // Helper class
  .hidden-mobile {
    @include utilities.media("<notebook") {
      display: none;
      visibility: hidden;
    }
  }

  // Image
  [data-fs-image] {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
