.submissionForm {
  @apply grid grid-cols-1 gap-4 text-seriousBlack;
}

.submissionForm label {
  @apply block text-gray-700;
}

.submissionForm input,
.submissionForm textarea {
  @apply bg-transparent mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black focus:outline-none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
