[data-store-overlay-out-container] { 
  height: calc(100vh + 150px);
}

[data-store-overlay] {
  @apply z-50 fixed inset-0;
  @apply flex justify-center items-center;
}

[data-store-overlay-modal] {
  @apply overflow-hidden;
  max-height: 40px;
  border-radius: 6px;
}

[data-store-overlay-modal-content] {
  @apply p-5 bg-white;
  width: 150px;
  height: 60px;
}
