[data-store-spinner] {
  @apply block animate-spin text-xs relative;

  border-top: 0.2em solid rgba(0, 0, 0, 0.2);
  border-right: 0.2em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
  border-left: 0.2em solid #000000;
}

[data-store-spinner], [data-store-spinner]:after {
  @apply h-4 w-4;
  border-radius: 50%;
}
