@use "sass:meta";

.section {
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Input/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Link/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/molecules/InputField/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Popover/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/organisms/RegionPopover/styles.scss");
}
