@layer components {
  .section {
    width: 100%;

    .text__title-section {
      margin-bottom: var(--fs-spacing-3);
    }
  }

  //  TODO: Consider removing this and use the divisor mixins
  .section__divisor {
    padding-top: var(--fs-spacing-5);
    border-top: var(--fs-border-width) solid var(--fs-border-color-light);

    @include media(">=notebook") { padding-top: var(--fs-spacing-8); }
  }
}
