[data-fs-order-payment-card] {
  // --------------------------------------------------------
  // Design Tokens for Order Payment Card
  // --------------------------------------------------------

  // Default properties
  --fs-order-payment-card-gap                      : var(--fs-spacing-3);
  --fs-order-payment-card-info-gap                 : var(--fs-spacing-1);
  --fs-order-payment-card-info-color               : var(--fs-color-text);
  --fs-order-payment-card-font-size                : var(--fs-text-size-2);
  --fs-order-payment-card-line-height              : 1.5;
  --fs-order-payment-card-font-weight              : var(--fs-text-weight-regular);
  --fs-order-payment-card-datetime-font-size       : var(--fs-text-size-2);
  --fs-order-payment-card-datetime-font-weight     : var(--fs-text-weight-medium);
  --fs-order-payment-card-tid-color                : var(--fs-color-text-light);
  --fs-order-payment-card-tid-font-size            : var(--fs-text-size-1);

  [data-fs-card-body] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-order-payment-card-gap);
  }

  [data-fs-payment-details] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-spacing-3);
  }

  [data-fs-payment-info] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-order-payment-card-info-gap);
    font-size: var(--fs-order-payment-card-font-size);
    line-height: var(--fs-order-payment-card-line-height);
    color: var(--fs-order-payment-card-info-color);
  }

  [data-fs-payment-method] {
    display: flex;
    flex-direction: column;

    > div:first-child {
      display: flex;
      flex-wrap: wrap;
      gap: var(--fs-spacing-1);
      align-items: flex-start;
    }

    [data-fs-payment-flag] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--fs-spacing-5);
      height: var(--fs-spacing-4);
      border: var(--fs-border-width) solid var(--fs-border-color-light);
      border-radius: var(--fs-border-radius);
    }
  }

  [data-fs-payment-transaction-info] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fs-spacing-0);
    font-size: var(--fs-order-payment-card-tid-font-size);
    color: var(--fs-order-payment-card-tid-color);
  }
}
