.layout {
  @import "@faststore/ui/src/components/atoms/Badge/styles.scss";
  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
  @import "@faststore/ui/src/components/atoms/Input/styles.scss";
  @import "@faststore/ui/src/components/molecules/LinkButton/styles.scss";
  @import "@faststore/ui/src/components/molecules/SearchInputField/styles.scss";
  @import "../MyAccountMenu/styles.scss";
  @import "../components/MyAccountHeader/styles.scss";

  display: grid;
  grid-template-rows: auto 1fr;
  min-height: calc(100vh - 18rem);

  @include media(">=notebook") {
    grid-template-rows: none;
    grid-template-columns: max(300px) 1fr;
    gap: var(--fs-spacing-3);
    max-width: var(--fs-grid-breakpoint-desktop);
    margin: 0 auto;
  }
}
