@use "sass:meta";
@use "@faststore/ui/src/styles/base/utilities";

.layout {
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Badge/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Link/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Input/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/molecules/LinkButton/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/molecules/SearchInputField/styles.scss");
  @include meta.load-css("../MyAccountMenu/styles.scss");
  @include meta.load-css("../components/MyAccountHeader/styles.scss");

  display: grid;
  grid-template-rows: auto 1fr;
  min-height: calc(100vh - 18rem);

  @include utilities.media(">=notebook") {
    grid-template-rows: none;
    grid-template-columns: max(300px) 1fr;
    gap: var(--fs-spacing-3);
    max-width: var(--fs-grid-breakpoint-desktop);
    margin: 0 auto;
  }

  [data-fs-account-layout-content] {
    padding: 0 var(--fs-spacing-4);

    @include utilities.media(">=notebook") {
      padding: 0 var(--fs-spacing-8);
    }
  }
}
