@use "sass:meta";

@layer components {
  .section {
    display: flex;
    justify-content: center;
    padding-bottom: var(--fs-spacing-8);

    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
  }
}
