@layer components {
  .section {
    display: flex;
    justify-content: center;
    padding-bottom: var(--fs-spacing-8);

    @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
    @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  }
}
