[data-fs-list-orders-table] {
  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  --fs-list-orders-table-font-size                 : var(--fs-text-size-tiny);
  --fs-list-orders-table-header-padding            : var(--fs-spacing-4) var(--fs-spacing-2) var(--fs-spacing-3);
  --fs-list-orders-table-header-font-weight        : var(--fs-text-weight-medium);
  --fs-list-orders-table-header-line-height        : var(--fs-text-size-1);
  --fs-list-orders-table-header-color              : var(--fs-color-neutral-6);
  --fs-list-orders-table-first-child-width         : 40%;
  --fs-list-orders-table-first-child-width-mobile  : auto;
  --fs-list-orders-table-last-child-width          : auto;
  --fs-list-orders-table-gap                       : 1.2rem;
  --fs-list-orders-table-product-info-text-size    : var(--fs-text-size-base);
  --fs-list-orders-table-product-info-font-weight  : var(--fs-text-weight-semibold);
  --fs-list-orders-table-product-info-margin-top-first   : var(--fs-spacing-0);
  --fs-list-orders-table-product-info-margin-top   : var(--fs-spacing-1);
  --fs-list-orders-table-product-info-line-height  : var(--fs-text-size-1);
  --fs-list-orders-table-cell-padding              : var(--fs-spacing-4) var(--fs-spacing-2) var(--fs-spacing-3);
  --fs-list-orders-table-cell-padding-mobile       : var(--fs-spacing-3) var(--fs-spacing-1);
  --fs-list-orders-table-cell-color                : var(--fs-color-neutral-6);
  --fs-list-orders-table-row-border-bottom         : var(--fs-border-width) solid var(--fs-color-neutral-3);
  --fs-list-orders-table-row-hover-bg              : color-mix(in srgb, var(--fs-color-accent-0) 30%, transparent);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  width: 100%;
  margin: 0 auto;
  font-size: var(--fs-list-orders-table-font-size);
  vertical-align: middle;
  border-collapse: collapse;
  border: none;

  [data-fs-list-orders-table-cell]:first-child {
    width: var(--fs-list-orders-table-first-child-width);

    @include media("<notebook") {
      display: flex;
      align-items: center;
      width: var(--fs-list-orders-table-first-child-width-mobile);
    }
  }

  [data-fs-list-orders-table-cell]:last-child {
    width: var(--fs-list-orders-table-last-child-width);
    text-align: end;

    @include media("<notebook") {
      display: flex;
      flex-direction: column;
      gap: var(--fs-list-orders-table-gap);
      align-items: flex-end;
      justify-content: flex-end;
      width: auto;
    }
  }

  [data-fs-list-orders-table-product-info-order-id], [data-fs-list-orders-table-product-info-order-total], [data-fs-list-orders-table-product-info-value] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-fs-list-orders-table-product-info]:first-child, [data-fs-list-orders-table-product-info-value] {
    margin-top: var(--fs-list-orders-table-product-info-margin-top-first);
  }

  [data-fs-list-orders-table-product-info-value] {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-fs-list-orders-table-product-info-label] {
    font-weight: var(--fs-list-orders-table-product-info-font-weight);
  }

  [data-fs-list-orders-table-product-info] {
    margin-top: var(--fs-list-orders-table-product-info-margin-top);
  }

  [data-fs-list-orders-table-product-info-order-id] {
    font-size: var(--fs-list-orders-table-product-info-text-size);
    font-weight: var(--fs-list-orders-table-product-info-font-weight);
    vertical-align: middle;
  }

  [data-fs-list-orders-table-product-info-order-total] {
    margin-top: var(--fs-list-orders-table-product-info-margin-top-first);
    line-height: var(--fs-list-orders-table-product-info-line-height);
  }

  [data-fs-list-orders-table-cell] {
    padding: var(--fs-list-orders-table-cell-padding);
    text-align: left;
    vertical-align: top;
    border: none;

    @include media("<notebook") {
      padding: var(--fs-list-orders-table-cell-padding-mobile);
    }
  }

  [data-fs-list-orders-table-product-info-order], [data-fs-list-orders-table-product-info-item] {
    max-width: 170px;
    margin-top: var(--fs-list-orders-table-product-info-margin-top-first);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-fs-list-orders-table-cell]:not(:first-child):not(:last-child) {
    padding-top: calc(var(--fs-spacing-4) + var(--fs-spacing-0));
    color: var(--fs-list-orders-table-cell-color);
  }

  [data-fs-list-orders-table-row] {
    cursor: pointer;
    border-bottom: var(--fs-list-orders-table-row-border-bottom);
    transition: background-color 0.5s ease;

    @include media("<notebook") {
      display: flex;
      justify-content: space-between;

      &:last-child {
        border-bottom: none;
      }
    }

    &:focus-visible {
      outline: 3px solid var(--fs-color-focus-ring);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--fs-list-orders-table-row-hover-bg);
    }
  }

  [data-fs-list-orders-table-expand-button] {
    --fs-list-orders-table-expand-width: 8rem; // 128px to rem;
    --fs-list-orders-table-expand-margin-top: -0.75rem;
    --fs-list-orders-table-expand-margin-left: -1.0625rem; // 17px to rem;

    width: var(--fs-list-orders-table-expand-width);
    margin-top: var(--fs-list-orders-table-expand-margin-top);

    [data-fs-button-wrapper] {
      width: max-content;
      margin-left: var(--fs-list-orders-table-expand-margin-left);
      font-size: var(--fs-text-size-tiny);
      background-color: transparent;
      transition: unset;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

[data-fs-list-orders-table-pagination] {
  --fs-list-orders-table-pagination-text-size   : .8rem;
  --fs-list-orders-table-pagination-box-shadow  : 0 -4px 8px rgb(0 0 0 / 5%);
  --fs-list-orders-table-pagination-bkg-color   : var(--fs-body-bkg);
  --fs-list-orders-table-pagination-padding     : var(--fs-spacing-0) var(--fs-spacing-2) var(--fs-spacing-0) var(--fs-spacing-0);

  @include media("<notebook") {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--fs-list-orders-table-pagination-padding);
    background-color: var(--fs-list-orders-table-pagination-bkg-color);
    box-shadow: var(--fs-list-orders-table-pagination-box-shadow);
  }

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--fs-list-orders-table-pagination-text-size);

  [data-fs-button] {
    [data-fs-button-wrapper] {
      background-color: transparent;
      transition: unset;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
