[data-fs-list-orders-table] {
  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  --fs-list-orders-table-font-size                 : var(--fs-text-size-tiny);
  --fs-list-orders-table-header-padding            : var(--fs-spacing-4) var(--fs-spacing-2) var(--fs-spacing-3);
  --fs-list-orders-table-header-font-weight        : var(--fs-text-weight-medium);
  --fs-list-orders-table-header-line-height        : var(--fs-text-size-1);
  --fs-list-orders-table-header-color              : var(--fs-color-neutral-6);
  --fs-list-orders-table-first-child-width         : 30%;
  --fs-list-orders-table-first-child-width-mobile  : 50%;
  --fs-list-orders-table-last-child-width          : 10%;
  --fs-list-orders-table-gap                       : 1.2rem;
  --fs-list-orders-table-product-info-font-size    : var(--fs-text-size-base);
  --fs-list-orders-table-product-info-font-weight  : var(--fs-text-weight-semibold);
  --fs-list-orders-table-product-info-margin-top   : var(--fs-spacing-1);
  --fs-list-orders-table-product-info-line-height  : var(--fs-text-size-1);
  --fs-list-orders-table-cell-padding              : var(--fs-spacing-4) var(--fs-spacing-2);
  --fs-list-orders-table-cell-padding-mobile       : var(--fs-spacing-3) var(--fs-spacing-1);
  --fs-list-orders-table-cell-color                : var(--fs-color-neutral-6);
  --fs-list-orders-table-row-border-bottom         : var(--fs-border-width) solid var(--fs-color-neutral-3);
  --fs-list-orders-table-row-hover-bg              : #efeaf54d; // var(--fs-color-accent-0) with 30% opacity
  --fs-list-orders-table-image-width               : 3.625rem;
  --fs-list-orders-table-image-height              : 3.625rem;
  --fs-list-orders-table-image-border-radius       : var(--fs-border-radius-medium);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  width: 100%;
  margin: 0 auto;
  font-size: var(--fs-list-orders-table-font-size);
  vertical-align: middle;
  border-collapse: collapse;
  border: none;

  [data-fs-list-orders-table-header] [data-fs-list-orders-table-header-cell] {
    padding: var(--fs-list-orders-table-header-padding);
    font-weight: var(--fs-list-orders-table-header-font-weight);
    line-height: var(--fs-list-orders-table-header-line-height);
    color: var(--fs-list-orders-table-header-color);
    cursor: default;
  }

  [data-fs-list-orders-table-header-cell]:first-child, [data-fs-list-orders-table-cell]:first-child {
    width: var(--fs-list-orders-table-first-child-width);

    @include media("<notebook") {
      display: flex;
      width: var(--fs-list-orders-table-first-child-width-mobile);
    }
  }

  [data-fs-list-orders-table-header-cell]:last-child,[data-fs-list-orders-table-cell]:last-child {
    width: var(--fs-list-orders-table-last-child-width);

    @include media("<notebook") {
      display: flex;
      flex-direction: column;
      gap: var(--fs-list-orders-table-gap);
      align-items: flex-end;
      justify-content: flex-end;
      width: var(--fs-list-orders-table-first-child-width-mobile);
    }
  }

  [data-fs-list-orders-table-cell]:first-child {
    display: flex;
    gap: var(--fs-list-orders-table-gap);
    align-items: flex-start;

    @include media("<notebook") {
      flex-direction: column;
    }
  }

  [data-fs-list-orders-table-image-container], [data-fs-list-orders-table-product-info] {
    display: flex;
    flex-direction: column;
  }

  [data-fs-list-orders-table-product-info-order-id], [data-fs-list-orders-table-product-info-order-date], [data-fs-list-orders-table-product-info-order-total] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-fs-list-orders-table-product-info-order-id] {
    font-size: var(--fs-list-orders-table-product-info-font-size);
    font-weight: var(--fs-list-orders-table-product-info-font-weight);
    vertical-align: middle;
  }

  [data-fs-list-orders-table-product-info-order-date] {
    margin-top: var(--fs-list-orders-table-product-info-margin-top);
    line-height: var(--fs-list-orders-table-product-info-line-height);
  }

  [data-fs-list-orders-table-header-cell], [data-fs-list-orders-table-cell] {
    padding: var(--fs-list-orders-table-cell-padding);
    text-align: left;
    border: none;

    @include media("<notebook") {
      padding: var(--fs-list-orders-table-cell-padding-mobile);
    }
  }

  [data-fs-list-orders-table-cell]:not(:first-child):not(:last-child) {
    color: var(--fs-list-orders-table-cell-color);
  }

  [data-fs-list-orders-table-row] {
    cursor: pointer;
    border-bottom: var(--fs-list-orders-table-row-border-bottom);
    transition: background-color 0.5s ease;

    @include media("<notebook") {
      display: flex;
      justify-content: space-between;
    }
  }

  [data-fs-list-orders-table-body-row]:hover, [data-fs-list-orders-table-body-row]:focus {
    background-color: var(--fs-list-orders-table-row-hover-bg);
  }

  [data-fs-list-orders-table-image-container] {
    position: relative;

    [data-fs-list-orders-table-product-image] {
      flex-shrink: 0;
      width: var(--fs-list-orders-table-image-width);
      height: var(--fs-list-orders-table-image-height);
      border-radius: var(--fs-list-orders-table-image-border-radius);
    }

    [data-fs-badge-counter="true"] {
      position: absolute;
      top: unset;
      right: .375rem;
      bottom: .375rem;
      left: unset;
    }
  }
}

[data-fs-list-orders-table-pagination] {
  // Pagination
  --fs-list-orders-table-pagination-margin-top                    : var(--fs-spacing-3);
  --fs-list-orders-table-pagination-button-margin-right           : var(--fs-spacing-0);
  --fs-list-orders-table-pagination-button-border-radius          : var(--fs-border-radius-medium);
  --fs-list-orders-table-pagination-button-hover-bg               : #efeaf54d; // var(--fs-color-accent-0) with 30% opacity
  --fs-list-orders-table-pagination-button-active-font-weight     : var(--fs-text-weight-bold);
  --fs-list-orders-table-pagination-button-active-color           : var(--fs-color-text-inverse);
  --fs-list-orders-table-pagination-button-active-bg              : var(--fs-color-link);
  --fs-list-orders-table-pagination-button-transition-property    : background-color;
  --fs-list-orders-table-pagination-button-transition-timing      : var(--fs-transition-timing);
  --fs-list-orders-table-pagination-button-transition-function    : var(--fs-transition-function);

  display: flex;
  margin-top: var(--fs-list-orders-table-pagination-margin-top);

  [data-fs-button] {
    margin-right: var(--fs-list-orders-table-pagination-button-margin-right);
    cursor: pointer;
    border-radius: var(--fs-list-orders-table-pagination-button-border-radius);
  }

  [data-fs-button]:not([data-fs-list-orders-table-pagination-button-active="true"]):hover {
    background-color: var(--fs-list-orders-table-pagination-button-hover-bg);
    transition: var(--fs-list-orders-table-pagination-button-transition-property) var(--fs-list-orders-table-pagination-button-transition-timing) var(--fs-list-orders-table-pagination-button-transition-function);
  }

  [data-fs-list-orders-table-pagination-button-active="true"] {
    color: var(--fs-list-orders-table-pagination-button-active-color);
    background-color: var(--fs-list-orders-table-pagination-button-active-bg);
  }
}
