[data-fs-tag] {
  // --------------------------------------------------------
  // Design Tokens for Tag
  // --------------------------------------------------------

  // Default properties
  --fs-tag-text-color                     : var(--fs-color-text);

  // Icon
  --fs-tag-icon-size                      : var(--fs-spacing-4);
  --fs-tag-icon-stroke-width              : var(--fs-spacing-4);

  position: relative;
  display: flex;
  align-items: center;

  [data-fs-badge-wrapper] {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline-end: var(--fs-spacing-6);
    line-height: initial;
  }

  [data-fs-tag-icon-button] {
    position: absolute;
    inset-inline-end: calc(-1 * var(--fs-spacing-1));
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--fs-control-tap-size);
    height: var(--fs-control-tap-size);
    color: var(--fs-tag-text-color);

    > [data-fs-icon] {
      padding: 3px;
      border: var(--fs-border-width) solid transparent;
      border-radius: var(--fs-border-radius-circle);
      transition: var(--fs-badge-transition-property) var(--fs-badge-transition-timing) var(--fs-badge-transition-function);
    }

    &:hover > [data-fs-icon], &:focus > [data-fs-icon] {
      filter: brightness(0.9);
    }

    &:focus > [data-fs-icon] {
      border: var(--fs-border-width) solid var(--fs-tag-text-color);
    }

    svg {
      width: var(--fs-tag-icon-size);
      height: var(--fs-tag-icon-size);
      color: var(--fs-tag-text-color);
      vertical-align: middle;
      stroke-width: var(--fs-tag-icon-stroke-width);
    }
  }

  &[data-fs-badge-size="big"] [data-fs-tag-label] {
    padding-top: 1px;
    margin-inline-end: var(--fs-spacing-4);
  }

  &[data-fs-badge-variant="warning"] {
    [data-fs-tag-icon-button] > [data-fs-icon] {
      background-color: var(--fs-badge-warning-bkg-color);
    }
  }

  &[data-fs-badge-variant="highlighted"] {
    [data-fs-tag-icon-button] > [data-fs-icon] {
      background-color: var(--fs-badge-highlighted-bkg-color);
    }
  }

  &[data-fs-badge-variant="neutral"] {
    [data-fs-tag-icon-button] > [data-fs-icon] {
      background-color: var(--fs-badge-neutral-bkg-color);
    }
  }

  &[data-fs-badge-variant="info"] {
    [data-fs-tag-icon-button] > [data-fs-icon] {
      background-color: var(--fs-badge-info-bkg-color);
    }
  }

  &[data-fs-badge-variant="danger"] {
    [data-fs-tag-icon-button] > [data-fs-icon] {
      background-color: var(--fs-badge-danger-bkg-color);
    }
  }

  &[data-fs-badge-variant="success"] {
    [data-fs-tag-icon-button] > [data-fs-icon] {
      background-color: var(--fs-badge-success-bkg-color);
    }
  }
}
