@use "sass:meta";

@layer components {
  .section {
    margin-bottom: 0;

    @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Link/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/List/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Logo/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/molecules/Accordion/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/organisms/PaymentMethods/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/organisms/Incentives/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/organisms/Footer/styles.scss");
  }
}
