@use "sass:meta";

// Establish a layer order up-front, FS UI base styles have the lowest priority
@layer base, components, theme;

// FastStore UI's base styles
@include meta.load-css("pkg:@faststore/ui/src/styles/global.scss");

// Components & Sections styles
@include meta.load-css("pkg:@faststore/ui/src/components/atoms/Skeleton/styles.scss");
@include meta.load-css("pkg:@faststore/ui/src/components/atoms/Overlay/styles.scss");
@include meta.load-css("pkg:@faststore/ui/src/components/atoms/SROnly/styles.scss");
@include meta.load-css("src/components/sections/Section/section.scss");

// Importing this component because is being used outside the context of the Section
@include meta.load-css("pkg:@faststore/ui/src/components/molecules/Dropdown/styles.scss");
