// ----------------------------------------------------------
// GLOBAL STYLES
// Layout
// ----------------------------------------------------------

@import "src/styles/scaffold";

body {
  --fs-body-bkg: var(--fs-color-body-bkg);

  min-height: 100vh;
  color: var(--fs-color-text);
  background: var(--fs-body-bkg);
}

main,
.layout__main {
  display: flex;
  flex-wrap: wrap;
  background: var(--fs-body-bkg);
}

.layout__section {
  padding-bottom: var(--fs-spacing-4);
  margin-top: var(--fs-spacing-4);

  @include media(">=notebook") {
    padding-bottom: var(--fs-grid-padding);
    margin-top: var(--fs-grid-padding);
  }
}

.layout__content-full {
  width: 100%;
  padding-top: var(--fs-spacing-4);
  padding-bottom: var(--fs-spacing-4);

  @include media(">=notebook") {
    padding-top: var(--fs-grid-padding);
    padding-bottom: var(--fs-grid-padding);
  }
}

.layout__content {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--fs-grid-breakpoint-notebook);
  padding-right: var(--fs-grid-padding);
  padding-left: var(--fs-grid-padding);
  margin-right: auto;
  margin-left: auto;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}

// Helper class
.display-mobile {
  @include media(">=notebook") {
    display: none;
    visibility: hidden;
  }
}

// Helper class
.hidden-mobile {
  @include media("<notebook") {
    display: none;
    visibility: hidden;
  }
}

// Image
[data-fs-image] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
