/* Cards with icons */
.homeGrid > * {
    margin: 0;
    position: relative;
  }
  
  .homeGrid a {
    color: inherit;
    display: block;
    padding: 30px 30px;
    box-shadow: 4px 3px 10px #ebebeb;
    border-radius: 10px;
  }
  
  .homeGrid > *:active,
  .homeGrid > *:hover {
    box-shadow: 4px 3px 10px #d8d8d8;
    border-radius: 10px;
  
  }
  .homeGrid a:active,
  .homeGrid a:hover {
    text-decoration: none;
  }

  
  .cardGrid a strong,
  .homeGrid a strong {
    display: block;
    color: var(--ifm-color-label);
    margin-bottom: 0.5rem;
  }

  .homeGrid a:hover strong {
    color: #F71963;

  }
  
  
  /* Plain cards without icons */
  .cardGrid a {
    color: inherit;
    display: block;
    padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  }
  
  .cardGrid > *:active,
  .cardGrid > *:hover {
    border: 1px solid var(--ifm-pagination-nav-color-hover);
  }
  
  .cardGrid a:active,
  .cardGrid a:hover {
    text-decoration: none;
  }
  
  /* Make grids responsive*/
  @media only screen and (min-width: 1240px) {
    .cardGrid,
    .homeGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
    }
  }
  
  /* Add spacing between grids and sections */
  h2 + .cardGrid,
  h2 + .homeGrid {
    margin-top: var(--ifm-spacing-vertical);
  }
  
  .cardGrid + h2,
  .homeGrid + h2 {
    padding-top: 20px;
  }
  
  .homeGrid > p {
    margin-top: var(--ifm-spacing-vertical) !important;
  }