.fs-logo {
  --fs-logo-width      : 7rem;
  --fs-logo-img        : url("~/public/brandless-neutral.png");

  display: block;
  width: var(--fs-logo-width);
  height: 100%;
  min-height: var(--fs-spacing-6);
  background: var(--fs-logo-img) no-repeat;
  background-position: center;
  background-size: 100% auto;
}
