[data-fs-store-card] {
  // --------------------------------------------------------
  // Design Tokens for Store Card
  // --------------------------------------------------------

  // Default properties
  --fs-store-card-height                     : 140px;
  --fs-store-card-row-gap                    : var(--fs-grid-gap-2);
  --fs-store-card-padding                    : var(--fs-spacing-3);
  --fs-store-card-border-width               : var(--fs-border-width);
  --fs-store-card-border-color               : var(--fs-border-color-light);
  --fs-store-card-border-radius              : var(--fs-border-radius);

  // Header
  --fs-store-card-header-icon-color          : var(--fs-border-color-disabled);
  --fs-store-card-header-title-font-weight   : var(--fs-text-weight-medium);

  // Distance
  --fs-store-card-distance-color             : var(--fs-color-text-light);
  --fs-store-card-distance-font-size         : var(--fs-text-size-legend);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column;
  row-gap: var(--fs-store-card-row-gap);
  justify-content: space-between;
  height: var(--fs-store-card-height);
  padding: var(--fs-store-card-padding);
  border: var(--fs-store-card-border-width) solid var(--fs-store-card-border-color);
  border-radius: var(--fs-store-card-border-radius);

  [data-fs-store-card-header] {
    display: flex;
    column-gap: var(--fs-grid-gap-1);
    align-items: center;

    [data-fs-icon] {
      color: var(--fs-store-card-header-icon-color);
    }
  }

  [data-fs-store-card-header-title] {
    font-weight: var(--fs-store-card-header-title-font-weight);
  }

  [data-fs-store-card-header-zipcode] {
    margin-left: auto;
  }

  [data-fs-store-card-header-zipcode],
  [data-fs-store-card-distance] {
    font-size: var(--fs-store-card-distance-font-size);
    color: var(--fs-store-card-distance-color);
    white-space: nowrap;
  }

  [data-fs-store-card-header-content] {
    display: flex;
    flex-direction: row;
    column-gap: var(--fs-grid-gap-1);
    align-items: flex-end;
    justify-content: space-between;
  }

  [data-fs-store-card-address] {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: var(--fs-store-card-distance-font-size);
  }
}
