@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/LinkButton/styles");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/BannerText/styles");
  }
}
