@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Input/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Link/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/List/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/RichText/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/molecules/InputField/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/organisms/Newsletter/styles.scss");
  }
}
