[data-fs-review-modal] {
  // --------------------------------------------------------
  // Design Tokens for Review Modal
  // --------------------------------------------------------

  // Default properties
  --fs-review-modal-width                       : 100%;
  --fs-review-modal-max-width                   : none;

  --fs-modal-max-height-tablet                  : min(90vh, 44rem); // 704px
  --fs-modal-body-padding                       : 0 var(--fs-spacing-4) var(--fs-spacing-3);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column;

  [data-fs-review-modal-body] {
    flex: 1;
    overflow-y: auto;
  }

  @include media("<tablet") {
    --fs-modal-position-top                     : 0;
    --fs-modal-position-right                   : var(--fs-modal-position-top);
    --fs-modal-position-left                    : var(--fs-modal-position-right);
    --fs-modal-max-width                        : var(--fs-review-modal-max-width);

    bottom: 0;
    display: flex;
    flex-direction: column;
    width: var(--fs-review-modal-width);
    max-width: var(--fs-review-modal-max-width);

    [data-fs-review-modal-footer] {
      margin-top: auto;
    }
  }

  @include media(">=tablet") {
    --fs-modal-position-top                     : 10vh;
    --fs-modal-max-width                        : 41rem; // 656px
    --fs-modal-width-tablet                     : var(--fs-modal-max-width);
    --fs-modal-min-width-tablet                 : var(--fs-modal-max-width);
    --fs-modal-min-height                       : var(--fs-modal-max-height-tablet);

    max-height: var(--fs-modal-max-height-tablet);
  }

  [data-fs-product-thumbnail] {
    // --------------------------------------------------------
    // Design Tokens for Product Thumbnail
    // --------------------------------------------------------

    // Default properties
    --fs-product-thumbnail-padding                                     : var(--fs-spacing-1);
    --fs-product-thumbnail-gap                                         : var(--fs-spacing-2);
    --fs-product-thumbnail-bkg-color                                   : var(--fs-color-neutral-1);
    --fs-product-thumbnail-border-radius                               : var(--fs-border-radius);

    // Image
    --fs-product-thumbnail-img-radius                                  : var(--fs-product-thumbnail-border-radius);
    --fs-product-thumbnail-img-scale-hover                             : 1;
    --fs-product-thumbnail-img-size                                    : 50px;

    // Title
    --fs-product-thumbnail-title-color                                 : var(--fs-color-text);
    --fs-product-thumbnail-title-size                                  : var(--fs-text-size-base);
    --fs-product-thumbnail-title-weight                                : var(--fs-text-weight-medium);
    --fs-product-thumbnail-title-max-lines                             : var(--fs-text-max-lines);
    --fs-product-thumbnail-title-line-height                           : 1.25; // 20px

    // --------------------------------------------------------
    // Structural Styles
    // --------------------------------------------------------

    position: relative;
    display: grid;
    column-gap: var(--fs-grid-gap-1);
    grid-template-columns: var(--fs-review-modal-product-thumbnail-img-size) auto;
    align-items: center;
    width: 100%;
    padding: var(--fs-spacing-1);
    background-color: var(--fs-review-modal-product-thumbnail-bkg-color);
    border-radius: var(--fs-review-modal-product-thumbnail-border-radius);

    [data-fs-review-modal-product-thumbnail-image] {
      display: flex;
      place-items: center;
      width: var(--fs-review-modal-product-thumbnail-img-size);
      height: var(--fs-review-modal-product-thumbnail-img-size);
      overflow: hidden;
      border-radius: var(--fs-review-modal-product-thumbnail-border-radius);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    [data-fs-review-modal-product-thumbnail-title] {
    font-size: var(--fs-text-size-base);
      font-weight: var(--fs-text-weight-medium);
      line-height: 1.25;
      color: var(--fs-color-text);
      text-align: left;

      @include truncate-title(var(--fs-product-thumbnail-title-max-lines));
    }
  }
}
