@use "sass:meta";
@use "@faststore/ui/src/styles/base/utilities";

.page {
  @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Badge/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Loader/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/Card/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/Alert/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/Dropdown/styles.scss");
  @include meta.load-css("../../components/MyAccountAccordion/styles.scss");
  @include meta.load-css("../../components/MyAccountCard/styles.scss");
  @include meta.load-css("../../components/MyAccountStatusBadge/styles.scss");
  @include meta.load-css("./MyAccountSummaryCard/styles.scss");
  @include meta.load-css("./MyAccountOrderedByCard/styles.scss");
  @include meta.load-css("./MyAccountDeliveryCard/styles.scss");
  @include meta.load-css("./MyAccountPaymentCard/styles.scss");
  @include meta.load-css("./MyAccountDeliveryOptionAccordion/styles.scss");
  @include meta.load-css("./MyAccountOrderActions/styles.scss");
  @include meta.load-css("./MyAccountReorderButton/styles.scss");
  @include meta.load-css("./MyAccountStatusCard/styles.scss");
  @include meta.load-css("./MyAccountMoreInformationCard/styles.scss");
  @include meta.load-css("./MyAccountBuyingPolicyAlert/styles.scss");
  @include meta.load-css("./MyAccountBudgetsCard/styles.scss");

  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  // Default properties
  --fs-order-details-padding: 0 20px;

  // Header
  --fs-order-details-header-gap: var(--fs-spacing-3);
  --fs-order-details-header-padding: var(--fs-spacing-5) 0 var(--fs-spacing-4);
  --fs-order-details-header-weight: var(--fs-text-weight-semibold);
  --fs-order-details-header-size: var(--fs-text-size-4);
  --fs-order-details-header-line-height: 1.33;

  // Content
  --fs-order-details-content-gap: var(--fs-spacing-4);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  @include utilities.media(">=notebook") {
    --fs-order-details-padding: 0;
  }

  [data-fs-order-details-header] {
    display: flex;
    flex-direction: row;
    gap: var(--fs-order-details-header-gap);
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--fs-order-details-header-padding);

    @include utilities.media (">=tablet") {
      --fs-order-details-header-gap: var(--fs-spacing-2);

      align-items: center;
    }

    @include utilities.media (">=notebook") {
      --fs-order-details-header-padding: var(--fs-spacing-6) 0;
    }

    [data-fs-order-details-header-title] {
      display: flex;
      flex-direction: row;
      gap: var(--fs-spacing-1);
      align-items: flex-start;

      [data-fs-order-details-header-back-button] {
        flex-shrink: 0;
        margin-top: calc(var(--fs-spacing-2) * -1); // Align the back button with the title
        margin-left: calc(var(--fs-spacing-2) * -1); // Align the back button with the content

        @include utilities.media(">=notebook") {
          margin-top: calc(var(--fs-spacing-1) * -1); // Align the back button with the title
        }
      }

      [data-fs-order-details-header-title-wrapper] {
        display: flex;
        flex-direction: column;
        gap: var(--fs-spacing-1);
        align-items: flex-start;

        @include utilities.media(">=tablet") {
          flex-flow: row wrap;
          align-items: center;
        }
      }

      [data-fs-order-details-header-title-text] {
        font-size: var(--fs-order-details-header-size);
        font-weight: var(--fs-order-details-header-weight);
        line-height: var(--fs-order-details-header-line-height);

        @include utilities.truncate-title(2);
      }
    }

    [data-fs-order-details-header-actions] {
      display: flex;
      flex-direction: row;
      gap: var(--fs-spacing-2);
      align-items: center;

      [data-fs-reorder-button] {
        @include utilities.media("<tablet") {
          display: none;
        }
      }
    }
  }

  [data-fs-order-details-content] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-order-details-content-gap);

    @include utilities.media (">=notebook") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    [data-fs-order-status-card] {
      grid-column: span 2;
    }

    [data-fs-buying-policy-alert] {
      grid-column: span 2;
    }

    [data-fs-pending-policies-alert] {
      grid-column: span 2;
    }

    [data-fs-delivery-option-accordion] {
      grid-column: span 2;
    }

    [data-fs-order-budgets-card] {
      grid-column: span 2;
    }
  }
}
