.page {
  @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
  @import "@faststore/ui/src/components/atoms/Badge/styles.scss";
  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  @import "@faststore/ui/src/components/molecules/Card/styles.scss";
  @import "../../components/MyAccountCard/styles.scss";
  @import "./MyAccountSummaryCard/styles.scss";

  // TODO create components styles
  // @import "./MyAccountOrderedByCard/styles.scss";
  // @import "./MyAccountDeliveryCard/styles.scss";
  // @import "./MyAccountStatusCard/styles.scss";
  // @import "./MyAccountPaymentCard/styles.scss";
  // @import "./MyAccountSummaryCard/styles.scss";

  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  // Default properties
  --fs-order-details-padding                        : var(--fs-spacing-5) 20px;

  // Header
  --fs-order-details-header-gap                     : var(--fs-spacing-3);
  --fs-order-details-header-margin-bottom           : var(--fs-spacing-4);
  --fs-order-details-header-padding                 : 0;
  --fs-order-details-header-weight                  : var(--fs-text-weight-semibold);
  --fs-order-details-header-size                    : var(--fs-text-size-4);
  --fs-order-details-header-line-height             : 1.33;

  // Content
  --fs-order-details-content-gap                     : var(--fs-spacing-4);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  padding: var(--fs-order-details-padding);

  @include media (">=notebook") {
    --fs-order-details-padding                      : 0;
  }

  [data-fs-order-details-header] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-order-details-header-gap);
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--fs-order-details-header-padding);
    margin-bottom: var(--fs-order-details-header-margin-bottom);

    @include media (">=notebook") {
      --fs-order-details-header-gap                 : var(--fs-spacing-2);
      --fs-order-details-header-margin-bottom       : 0;
      --fs-order-details-header-padding             : var(--fs-spacing-6) 0;

      flex-flow: row wrap;
      align-items: center;
    }

    [data-fs-order-details-header-title] {
      display: flex;
      flex-direction: column;
      gap: var(--fs-spacing-1);
      align-items: flex-start;

      @include media(">=tablet") {
        flex-flow: row wrap;
        align-items: center;
      }

      [data-fs-order-details-header-title-text] {
        font-size: var(--fs-order-details-header-size);
        font-weight: var(--fs-order-details-header-weight);
        line-height: var(--fs-order-details-header-line-height);

        @include truncate-title;
      }
    }

    [data-fs-order-details-header-actions] {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }

  [data-fs-order-details-content] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-order-details-content-gap);

    @include media (">=notebook") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    [data-fs-order-status-card] {
      grid-column: span 2;
    }
  }
}
