.page {
  @import "@vtex/faststore-ui/src/components/atoms/Icon/styles.scss";
  @import "@vtex/faststore-ui/src/components/atoms/Badge/styles.scss";
  @import "@vtex/faststore-ui/src/components/atoms/Loader/styles.scss";
  @import "@vtex/faststore-ui/src/components/atoms/Button/styles.scss";
  @import "@vtex/faststore-ui/src/components/molecules/Card/styles.scss";
  @import "@vtex/faststore-ui/src/components/molecules/Alert/styles.scss";
  @import "@vtex/faststore-ui/src/components/molecules/Dropdown/styles.scss";
  @import "../../components/MyAccountAccordion/styles.scss";
  @import "../../components/MyAccountCard/styles.scss";
  @import "../../components/MyAccountStatusBadge/styles.scss";
  @import "./MyAccountSummaryCard/styles.scss";
  @import "./MyAccountOrderedByCard/styles.scss";
  @import "./MyAccountDeliveryCard/styles.scss";
  @import "./MyAccountPaymentCard/styles.scss";
  @import "./MyAccountDeliveryOptionAccordion/styles.scss";
  @import "./MyAccountOrderActions/styles.scss";
  @import "./MyAccountStatusCard/styles.scss";
  @import "./MyAccountMoreInformationCard/styles.scss";
  @import "./MyAccountBuyingPolicyAlert/styles.scss";

  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  // Default properties
  --fs-order-details-padding                        : 0 20px;

  // Header
  --fs-order-details-header-gap                     : var(--fs-spacing-3);
  --fs-order-details-header-padding                 : var(--fs-spacing-5) 0 var(--fs-spacing-4);
  --fs-order-details-header-weight                  : var(--fs-text-weight-semibold);
  --fs-order-details-header-size                    : var(--fs-text-size-4);
  --fs-order-details-header-line-height             : 1.33;

  // Content
  --fs-order-details-content-gap                     : var(--fs-spacing-4);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  padding: var(--fs-order-details-padding);

  @include media (">=notebook") {
    --fs-order-details-padding                      : 0;
  }

  [data-fs-order-details-header] {
    display: flex;
    flex-direction: row;
    gap: var(--fs-order-details-header-gap);
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--fs-order-details-header-padding);

    @include media (">=tablet") {
      --fs-order-details-header-gap                 : var(--fs-spacing-2);

      align-items: center;
    }

    @include media (">=notebook") {
      --fs-order-details-header-padding             : var(--fs-spacing-6) 0;
    }

    [data-fs-order-details-header-title] {
      display: flex;
      flex-direction: row;
      gap: var(--fs-spacing-1);
      align-items: flex-start;

      [data-fs-order-details-header-back-button] {
        flex-shrink: 0;
        margin-top: calc(var(--fs-spacing-2) * -1); // Align the back button with the title

        @include media(">=notebook") {
          margin-top: calc(var(--fs-spacing-1) * -1); // Align the back button with the title
        }
      }

      [data-fs-order-details-header-title-wrapper] {
        display: flex;
        flex-direction: column;
        gap: var(--fs-spacing-1);
        align-items: flex-start;

        @include media(">=tablet") {
          flex-flow: row wrap;
          align-items: center;
        }
      }

      [data-fs-order-details-header-title-text] {
        font-size: var(--fs-order-details-header-size);
        font-weight: var(--fs-order-details-header-weight);
        line-height: var(--fs-order-details-header-line-height);

        @include truncate-title(1);
      }
    }
  }

  [data-fs-order-details-content] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-order-details-content-gap);

    @include media (">=notebook") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    [data-fs-order-status-card] {
      grid-column: span 2;
    }

    [data-fs-buying-policy-alert] {
      grid-column: span 2;
    }

    [data-fs-pending-policies-alert] {
      grid-column: span 2;
    }

    [data-fs-delivery-option-accordion] {
      grid-column: span 2;
    }
  }
}
