@import "src/styles/scaffold";

[data-store-search-input] {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: var(--fs-control-tap-size);

  @include media(">=notebook") { height: var(--fs-spacing-6); }

  [data-store-input] {
    width: 100%;
    padding: var(--fs-spacing-1) var(--fs-spacing-7) var(--fs-spacing-1) var(--fs-spacing-2);
    border: var(--fs-border-width-default) solid var(--fs-border-color-default);
    border-radius: var(--fs-border-radius-default);
    transition: box-shadow .2s ease, border .2s ease;

    &:hover {
      border-color: var(--fs-border-color-default-active);
      box-shadow: 0 0 0 var(--fs-border-width-default) var(--fs-border-color-default-active);
    }

    @include input-focus-ring;
  }

  [data-store-icon] { display: block; }

  [data-store-button] {
    position: absolute;
    right: 0;
    width: var(--fs-spacing-7);
    height: var(--fs-spacing-7);
    padding: 0;
    background-color: transparent;
    border: 0;

    @include media(">=notebook") {
      height: var(--fs-spacing-6);
      min-height: var(--fs-spacing-6);
    }
  }

  [data-store-button] svg {
    width: var(--fs-spacing-4);
    height: var(--fs-spacing-4);
    color: var(--fs-color-neutral-7);
  }
}
