@import "src/styles/scaffold";

.fs-facets {
  // --------------------------------------------------------
  // Design Tokens for Facets
  // --------------------------------------------------------

  // Title
  --fs-facets-title-height                               : var(--product-listing-row-height);
  --fs-facets-title-margin-bottom                        : var(--fs-spacing-0);

  // Accordion
  --fs-facets-accordion-border-width-notebook            : var(--fs-border-width);
  --fs-facets-accordion-border-color-notebook            : var(--fs-border-color-light);
  --fs-facets-accordion-border-radius-notebook           : var(--fs-border-radius);

  // Accordion Item Button
  --fs-facets-accordion-item-button-text-size            : var(--fs-text-size-lead);
  --fs-facets-accordion-item-button-text-weight          : var(--fs-text-weight-regular);
  --fs-facets-accordion-item-button-line-height          : 1.5;

  --fs-facets-accordion-item-button-text-weight-notebook : var(--fs-text-size-2);
  --fs-facets-accordion-item-button-line-height-notebook : 1.25;

  // Accordion Item List
  --fs-facets-list-padding-bottom                        : var(--fs-spacing-3);

  // List Item
  --fs-facets-list-item-not-last-margin-bottom           : var(--fs-spacing-3);

  // List Item Checkbox
  --fs-facets-list-item-checkbox-width                   : 1.25rem;
  --fs-facets-list-item-checkbox-height                  : var(--fs-facets-list-item-checkbox-width);

  // List Item Label
  --fs-facets-list-item-label-width                      : 100%;
  --fs-facets-list-item-label-margin-left                : var(--fs-spacing-1);

  // List Item Badge
  --fs-facets-list-item-badge-margin-left                : var(--fs-spacing-1);

  [data-fs-facets-title] {
    display: flex;
    align-items: center;
    height: var(--fs-facets-title-height);
    margin-bottom: var(--fs-facets-title-margin-bottom);

    @include media("<notebook") {
      display: none;
    }
  }

  [data-fs-facets-accordion] {
    @include media(">=notebook") {
      border: var(--fs-facets-accordion-border-width-notebook) solid var(--fs-facets-accordion-border-color-notebook);
      border-radius: var(--fs-facets-accordion-border-radius-notebook);
    }
  }

  [data-fs-facets-accordion-item] [data-fs-accordion-item-button] {
    font-size: var(--fs-facets-accordion-item-button-text-size);
    font-weight: var(--fs-facets-accordion-item-button-text-weight);
    line-height: var(--fs-facets-accordion-item-button-line-height);

    @include media(">=notebook") {
      font-size: var(--fs-facets-accordion-item-button-text-weight-notebook);
      line-height: var(--fs-facets-accordion-item-button-line-height-notebook);
    }
  }

  [data-fs-facets-list] {
    padding-bottom: var(--fs-facets-list-padding-bottom);
  }

  [data-fs-facets-list-item] {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: var(--fs-facets-list-item-not-last-margin-bottom);
    }
  }

  [data-fs-facets-list-item-checkbox] {
    flex-shrink: 0;
    width: var(--fs-facets-list-item-checkbox-width);
    height: var(--fs-facets-list-item-checkbox-height);
  }

  [data-fs-facets-list-item-label] {
    display: flex;
    align-items: center;
    width: var(--fs-facets-list-item-label-width);
    margin-left: var(--fs-facets-list-item-label-margin-left);
  }

  [data-fs-facets-list-item-badge] {
    margin-left: var(--fs-facets-list-item-badge-margin-left);
  }
}
