@use "sass:meta";

.section {
  @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Badge/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Checkbox/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Input/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Link/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/List/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Radio/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/atoms/Slider/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/DiscountBadge/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/Accordion/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/InputField/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/Modal/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/RadioField/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/molecules/SelectField/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/organisms/Filter/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/organisms/FilterSlider/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/organisms/PriceRange/styles.scss");
  @include meta.load-css("~@faststore/ui/src/components/organisms/SlideOver/styles.scss");
}
