@import "src/styles/scaffold";

[data-store-checkbox] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(20px);
  height: rem(20px);
  cursor: pointer;
  border: var(--fs-border-width-default) solid var(--fs-border-color-default);
  border-radius: var(--fs-border-radius-default);
  outline: none;
  transition: border .2s ease, background-color .2s ease, box-shadow .2s ease;
  appearance: none;

  @include input-focus-ring;

  &::before {
    position: absolute;
    top: rem(3px);
    width: rem(6px);
    height: rem(10px);
    content: "";
    border: var(--fs-border-width-thick) solid var(--fs-color-neutral-0);
    border-top: 0;
    border-left: 0;
    border-radius: var(--fs-border-width-default);
    opacity: 0;
    transform: rotate(45deg);
  }

  &:hover {
    background-color: var(--fs-color-primary-bkg-light);
    border-color: var(--fs-color-text);
    box-shadow: 0 0 0 var(--fs-border-width-default) var(--fs-border-color-default-active);
  }

  &:checked {
    background-color: var(--fs-color-primary-bkg);
    border-color: var(--fs-border-color-default-active);
    border-width: 0;

    &::before {
      opacity: 1;
    }

    &:hover {
      background-color: var(--fs-color-primary-bkg-hover);
      box-shadow: none;
    }
  }

  &[data-store-checkbox-partial="true"] {
    background-color: var(--fs-color-neutral-0);
    border: var(--fs-border-width-default) solid var(--fs-color-primary-bkg);

    &::before {
      position: absolute;
      top: auto;
      width: rem(10px);
      height: 0;
      content: "";
      border-width: 0;
      border-bottom: var(--fs-border-width-thick) solid var(--fs-color-primary-bkg);
      border-radius: var(--fs-border-width-default);
      opacity: 1;
      transform: rotate(0deg);
    }

    &:checked {
      &:hover {
        background-color: var(--fs-color-primary-bkg-light);
      }
    }

    &:hover {
      background-color: var(--fs-color-primary-bkg-light);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--fs-color-disabled-bkg);
    border: var(--fs-border-width-default) solid var(--fs-border-color-default-disabled);

    &::before {
      border-color: var(--fs-border-color-default-disabled);
    }

    &:hover {
      background-color: var(--fs-color-disabled-bkg);
      border: var(--fs-border-width-default) solid var(--fs-border-color-default-disabled);

      &::before {
        border-color: var(--fs-border-color-default-disabled);
      }
    }

    + label {
      color: var(--fs-color-disabled-text);
    }
  }
}
