@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Overlay/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Badge/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Link/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/List/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Price/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Alert/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Modal/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/CartItem/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/Gift/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/QuantitySelector/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/OrderSummary/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/ProductPrice/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/EmptyState/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/SlideOver/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/CartSidebar/styles.scss");
  }
}
