@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/molecules/LinkButton/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/BannerText/styles.scss");
    @include meta.load-css("pkg:@faststore/ui/src/components/organisms/BannerNewsletter/styles.scss");
  }
}
