.section {
  @import "@faststore/ui/src/components/atoms/Button/styles.scss";
  @import "@faststore/ui/src/components/molecules/LinkButton/styles.scss";
  @import "@faststore/ui/src/components/organisms/Banner/styles.scss";
  @import "@faststore/ui/src/components/organisms/BannerNewsletter/styles.scss";

  [data-fs-content="banner-newsletter"] { @include layout-content; }
}
