.order-summary[data-order-summary] {
  padding: var(--fs-spacing-3);

  li {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;

    &[data-order-summary-discount] { color: var(--fs-color-success-text); }

    &:last-of-type {
      margin-bottom: var(--fs-spacing-2);
    }
  }
}
