[data-fs-icon] {
  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  align-items: center;
  justify-content: center;
}
