.homeGrid > * {
  @apply relative m-0;
}

.homeGrid a {
  @apply block;
  color: var(--ifm-font-color-base);
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  padding-left: 98px;
}

.homeGrid a:active,
.homeGrid a:hover {
  @apply no-underline;
}

.homeGrid a:active strong,
.homeGrid a:hover strong{
  @apply text-rebelPink;
}

.homeGrid a img, .homeGrid a svg {
  @apply absolute m-0 left-6 h-12 w-12;
}

.cardGrid a strong,
.homeGrid a strong {
  @apply block mb-2 text-xl;
  font-family: 'VTEX Trust Medium';
}

/* Make grids responsive*/
@media only screen and (min-width: 1240px) {
  .homeGrid {
    @apply grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  }
}

/* Add spacing between grids and sections */
h2 + .homeGrid {
  margin-top: var(--ifm-spacing-vertical);
}

.homeGrid + h2 {
  @apply pt-5;
}

.homeGrid > p {
  margin-top: var(--ifm-spacing-vertical) !important;
}