@layer components {
  .profileSection {
    [data-fs-account-profile-header] {
      padding-block: var(--fs-spacing-6);
      padding-inline: var(--fs-spacing-11);
    }

    [data-fs-account-profile-body] {
      padding-inline: var(--fs-spacing-11);
    }

    [data-fs-account-profile-title] {
      font-family: var(--fs-text-face-title);
      font-size: var(--fs-text-size-4);
      font-weight: var(--fs-text-weight-semibold);
    }

    [data-fs-account-profile-table] {
      display: grid;
      grid-template-columns: minmax(11.25rem, auto) 1fr;
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
    }

    [data-fs-account-profile-table-body] {
      display: contents;
      gap: var(--fs-spacing-1);
    }

    [data-fs-account-profile-table-row] {
      display: contents;

      &:last-child {
        > [data-fs-account-profile-table-heading] {
          border-bottom: none;
        }

        > [data-fs-account-profile-table-data] {
          border-bottom: none;
        }
      }
    }

    [data-fs-account-profile-table-heading] {
      padding-block: var(--fs-spacing-4);
      font-family: var(--fs-text-face-body);
      font-size: var(--fs-text-size-2);
      font-weight: var(--fs-text-weight-regular);
      color: var(--fs-color-text-light);
      text-align: left;
      border-bottom: var(--fs-border-width) solid var(--fs-border-color-light);
    }

    [data-fs-account-profile-table-data] {
      padding-block: var(--fs-spacing-4);
      padding-inline: var(--fs-spacing-1);
      font-family: var(--fs-text-face-body);
      font-size: var(--fs-text-size-2);
      font-weight: var(--fs-text-weight-regular);
      color: var(--fs-color-text);
      border-bottom: var(--fs-border-width) solid var(--fs-border-color-light);
    }

    @include media("<notebook") {
      [data-fs-account-profile-header] {
        padding-inline: var(--fs-spacing-4);
      }

      [data-fs-account-profile-body] {
        padding-inline: var(--fs-spacing-4);
      }

      [data-fs-account-profile-table] {
        grid-template-columns: 1fr;
      }

      [data-fs-account-profile-table-heading] {
        padding-block: var(--fs-spacing-4) 0;
        border-bottom: none;
      }

      [data-fs-account-profile-table-data] {
        padding-block: var(--fs-spacing-1) var(--fs-spacing-4);
        padding-inline: 0;
      }
    }
  }
}
