@import "src/styles/scaffold";

.fs-price-range {
  // --------------------------------------------------------
  // Design Tokens for Price Range
  // --------------------------------------------------------

  // Default properties
  --fs-price-range-height                     : var(--fs-spacing-2);
  --fs-price-range-border-radius              : var(--fs-border-radius-pill);
  --fs-price-range-margin-bottom              : var(--fs-spacing-3);

  --fs-price-range-transition-function        : var(--fs-transition-function);
  --fs-price-range-transition-property        : var(--fs-transition-property);
  --fs-price-range-transition-timing          : var(--fs-transition-timing);

  // Slider
  --fs-price-range-slider-bkg-color           : var(--fs-color-neutral-bkg);
  --fs-price-range-slider-selection-bkg-color : var(--fs-color-primary-bkg-light-active);

  // Value Label
  --fs-price-range-value-label-bottom         : var(--fs-spacing-3);
  --fs-price-range-value-label-bkg-color      : var(--fs-color-body-bkg);

  // Absolute Values
  --fs-price-range-absolute-values-text-color : var(--fs-color-disabled-text);

  // Thumb
  --fs-price-range-thumb-size                 : var(--fs-spacing-4);
  --fs-price-range-thumb-bkg-color            : var(--fs-color-primary-bkg);
  --fs-price-range-thumb-bkg-color-hover      : var(--fs-color-primary-bkg-hover);
  --fs-price-range-thumb-border-radius        : var(--fs-border-radius-circle);
  --fs-price-range-thumb-border-color         : var(--fs-price-range-thumb-bkg-color);
  --fs-price-range-thumb-border-color-hover   : var(--fs-price-range-thumb-bkg-color-hover);
  --fs-price-range-thumb-border-width         : var(--fs-border-width);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  [data-store-slider] {
    position: relative;
    width: 100%;
    height: var(--fs-price-range-height);
    margin-bottom: var(--fs-price-range-margin-bottom);
    background-color: var(--fs-price-range-slider-bkg-color);
    border-radius: var(--fs-price-range-border-radius);
  }

  [data-slider-range] {
    position: absolute;
    height: var(--fs-price-range-height);
    background-color: var(--fs-price-range-slider-selection-bkg-color);
    border-radius: var(--fs-price-range-border-radius);
  }

  [data-price-range-value-label="min"],
  [data-price-range-value-label="max"] {
    bottom: var(--fs-price-range-value-label-bottom);
    padding: var(--fs-spacing-1);
    background-color: var(--fs-price-range-value-label-bkg-color);
    opacity: 0;
    transition: opacity var(--fs-price-range-transition-timing) var(--fs-price-range-transition-function);

    &:hover {
      opacity: 1;
    }
  }

  [data-price-range-value-label="min"] {
    text-align: left;
    transform: translateX(-1rem);
  }

  [data-price-range-value-label="max"] {
    text-align: right;
    transform: translateX(calc(-100% + 1.25rem));
  }

  // Thumb styles for Webkit based browsers (Chrome, Edge)
  [data-slider-thumb],
  [data-slider-thumb]::-webkit-slider-thumb {
    width: var(--fs-price-range-thumb-size);
    height: var(--fs-price-range-thumb-size);
    pointer-events: auto;
    cursor: col-resize;
    background-color: var(--fs-price-range-thumb-bkg-color);
    border: var(--fs-price-range-thumb-border-width) solid var(--fs-price-range-thumb-border-color);
    border-radius: var(--fs-price-range-thumb-border-radius);
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    transition: var(--fs-price-range-transition-property) var(--fs-price-range-transition-timing) var(--fs-price-range-transition-function);

    &:hover {
      background-color: var(--fs-price-range-thumb-bkg-color-hover);
      border-color: var(--fs-price-range-thumb-border-color-hover);
    }
  }

  // Thumb styles for Mozilla
  [data-slider-thumb]::-moz-range-thumb {
    width: var(--fs-price-range-thumb-size);
    height: var(--fs-price-range-thumb-size);
    pointer-events: auto;
    cursor: col-resize;
    background-color: var(--fs-price-range-thumb-bkg-color);
    border: var(--fs-price-range-thumb-border-width) solid var(--fs-price-range-thumb-border-color);
    border-radius: var(--fs-price-range-thumb-radius);
  }

  [data-slider-thumb] {
    position: absolute;
    width: inherit;
    height: 0;
    margin: calc(var(--fs-price-range-height) / 2) 0;
    pointer-events: none;
    border: none;
  }

  [data-slider-thumb="left"] {
    z-index: 1;

    &:hover + [data-price-range-value-label="min"] {
      opacity: 1;
    }
  }

  [data-slider-thumb="right"] {
    z-index: 2;

    &:hover + [data-price-range-value-label="max"] {
      opacity: 1;
    }
  }

  [data-price-range-values] {
    display: flex;
    justify-content: space-between;
    margin-top: var(--fs-spacing-3);
    margin-bottom: var(--fs-spacing-3);
  }

  [data-fs-price-range-inputs] {
    display: flex;

    [data-fs-input-text] {
      width: 50%;

      input:hover,
      input:focus-visible,
      input:focus {
        z-index: 1;
        + label { z-index: 1; }
      }

      &:first-of-type {
        margin-right: -1px;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:last-of-type input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  [data-fs-price-range-absolute-values] {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--fs-spacing-2);
    color: var(--fs-price-range-absolute-values-text-color);
  }
}
