[data-fs-list-orders-filters-date-range] {
  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  --fs-list-orders-filters-date-range-width: 100%;
  --fs-list-orders-filters-date-range-input-width: 50%;

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  width: var(--fs-list-orders-filters-date-range-width);

  [data-fs-list-orders-filters-date-range-inputs] {
    display: flex;

    [data-fs-input-field] {
      width: var(--fs-list-orders-filters-date-range-input-width);

      [data-fs-input]:hover,
      [data-fs-input]:focus-visible,
      [data-fs-input]:focus {
        z-index: 1;
        + label { z-index: 1; }
      }

      &:first-of-type {
        margin-inline-end: -1px;

        [data-fs-input] {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:last-of-type [data-fs-input] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
