@layer components {
  .section {
    @import "@faststore/ui/src/components/atoms/Icon/styles.scss";
    @import "@faststore/ui/src/components/atoms/Loader/styles";
    @import "@faststore/ui/src/components/atoms/Button/styles";
    @import "@faststore/ui/src/components/atoms/Link/styles";
    @import "@faststore/ui/src/components/atoms/Select/styles";
    @import "@faststore/ui/src/components/molecules/Rating/styles";
    @import "@faststore/ui/src/components/molecules/ReviewCard/styles";
    @import "@faststore/ui/src/components/molecules/SelectField/styles";
    @import "@faststore/ui/src/components/organisms/ReviewList/styles";
    @import "@faststore/ui/src/components/organisms/EmptyReviewList/styles";
    @import "@faststore/ui/src/components/organisms/RatingSummary/styles";

    [data-fs-content="review-and-ratings"] {
      display: flex;
      flex-wrap: wrap;
      gap: 3.75rem; // 60px

      @include media(">=tablet") {
        [data-fs-rating-summary] {
          flex-basis: var(--fs-rating-summary-width);
          flex-shrink: 0;
          align-self: flex-start;
        }
      }
    }
  }
}
