[data-fs-image-gallery] {
  // --------------------------------------------------------
  // Design Tokens for Image Gallery
  // --------------------------------------------------------

  // Default properties
  --fs-image-gallery-width                                      : calc(100% + (2 * var(--fs-grid-padding)));

  --fs-image-gallery-gap-mobile                                 : var(--fs-spacing-2);
  --fs-image-gallery-gap-notebook                               : var(--fs-spacing-3);

  // Current Selected Image
  --fs-image-gallery-current-border-radius                      : var(--fs-border-radius);
  --fs-image-gallery-current-height                             : 33.125rem;   // 530px

  // Image Gallery Selector
  --fs-image-gallery-selector-max-height                        : 33.125rem;   // 530px

  // Image Gallery Selector Elements
  --fs-image-gallery-selector-elements-gap                      : var(--fs-spacing-1);
  --fs-image-gallery-selector-elements-gap-notebook             : var(--fs-spacing-2);
  --fs-image-gallery-selector-elements-padding                  : var(--fs-spacing-0);

  // Image Gallery Selector Thumbnail
  --fs-image-gallery-selector-thumbnail-width-mobile            : var(--fs-spacing-8);
  --fs-image-gallery-selector-thumbnail-width-notebook          : var(--fs-spacing-10);
  --fs-image-gallery-selector-thumbnail-border-radius           : var(--fs-border-radius);
  --fs-image-gallery-selector-thumbnail-selected-border-color   : var(--fs-border-color-active);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  // Image Gallery

  position: relative;
  left: calc(-1 * var(--fs-grid-padding));
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-image-gallery-gap-mobile);
  width: var(--fs-image-gallery-width);

  @include media(">=tablet") {
    left: 0;
    width: 100%;

    > [data-fs-image] {
      grid-column: 2 / span 7;
      border-radius: var(--fs-image-gallery-current-border-radius);
    }
  }

  @include media(">=notebook") {
    >[data-fs-image] {
      height: var(--fs-image-gallery-current-height);
    }
  }

  // Image Gallery Selector

  [data-fs-image-gallery-selector] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: var(--fs-image-gallery-selector-max-height);

    @include media(">=notebook") {
      flex-direction: column;
      grid-row: 1;
      justify-content: space-between;
    }
  }

  [data-fs-image-gallery-selector-elements] {
    display: flex;
    column-gap: var(--fs-image-gallery-selector-elements-gap);
    padding: var(--fs-image-gallery-selector-elements-padding);
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar { display: none; }

    @include media(">=notebook") {
      flex-direction: column;
      row-gap: var(--fs-image-gallery-selector-elements-gap-notebook);
      overflow-y: hidden;
    }
  }

  [data-fs-image-gallery-selector-thumbnail] {
    flex-shrink: 0;
    width: var(--fs-image-gallery-selector-thumbnail-width-mobile);
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border: var(--fs-border-width-thick) solid transparent;
    border-radius: var(--fs-image-gallery-selector-thumbnail-border-radius);
    transition: all var(--fs-transition-timing) var(--fs-transition-function);

    &:hover:not([data-fs-image-gallery-selector-thumbnail="selected"]) {
      border-color: var(--fs-image-gallery-selector-thumbnail-selected-border-color);
    }

    &[data-fs-image-gallery-selector-thumbnail="selected"] {
      border-color: var(--fs-image-gallery-selector-thumbnail-selected-border-color);
      box-shadow: 0 0 0 var(--fs-border-width-thickest) var(--fs-color-focus-ring-outline);
    }

    [data-fs-image] {
      border: var(--fs-border-width-thick) solid var(--fs-color-body-bkg);
      border-radius: var(--fs-image-gallery-selector-thumbnail-border-radius);
    }

    @include focus-ring-visible;

    @include media(">=notebook") {
      width: var(--fs-image-gallery-selector-thumbnail-width-notebook);
    }
  }

  [data-fs-image-gallery-selector-control-button] {
    position: absolute;
    z-index: 1;
    color: var(--fs-color-text-display);
    background: linear-gradient(90deg, var(--fs-color-body-bkg) 55%, transparent);
    background-color: transparent;
    border: none;
    border-radius: var(--fs-border-radius-circle);

    &:hover { color: var(--fs-color-text-display); }

    [data-fs-icon]span {
      display: flex;
      height: fit-content;
      padding: var(--fs-spacing-1);
      background-color: var(--fs-control-bkg);
      border-radius: var(--fs-border-radius-circle);
      box-shadow: var(--fs-shadow);
    }

    @include media("<notebook") {
      height: 100%;

      &:first-child { left: 0; }

      &:last-child {
        right: 0;
        transform: scaleX(-1);
      }
    }

    @include media(">=notebook") {
      display: flex;
      justify-content: center;
      width: 100%;
      background: linear-gradient(180deg, var(--fs-color-body-bkg) 55%, transparent);

      [data-fs-icon]span { transform: rotate(90deg); }

      &:last-child {
        bottom: 0;
        transform: scaleY(-1);
      }
    }
  }

  // --------------------------------------------------------
  // Variants Styles
  // --------------------------------------------------------

  &[data-fs-image-gallery="with-selector"] {
    @include media(">=notebook") {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: var(--fs-image-gallery-gap-notebook);
    }
  }
}
