// ----------------------------------------------------------
// Stores' custom mixins will override this file
// ----------------------------------------------------------

@use "@faststore/ui/src/styles/base/utilities.scss" as *;
