.theme-b2c-tailwind [data-store-textarea] {
  border: none;
  color: rgb(63, 63, 64);
  font-size: 16px;
  font-weight: 400;
  padding: 1px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 340px;
}
