@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("~@faststore/ui/src/components/atoms/Badge/styles");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Link/styles");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Price/styles");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Skeleton/styles");
    @include meta.load-css("~@faststore/ui/src/components/atoms/SROnly/styles");
    @include meta.load-css("~@faststore/ui/src/components/molecules/DiscountBadge/styles");
    @include meta.load-css("~@faststore/ui/src/components/molecules/Rating/styles");
    @include meta.load-css("~@faststore/ui/src/components/molecules/ProductCard/styles");
    @include meta.load-css("~@faststore/ui/src/components/molecules/ProductPrice/styles");
    @include meta.load-css("~@faststore/ui/src/components/molecules/ProductTile/styles");
    @include meta.load-css("~@faststore/ui/src/components/organisms/Tiles/styles");
  }
}
