[data-fs-store-cards] {
  // --------------------------------------------------------
  // Design Tokens for Store Cards
  // --------------------------------------------------------

  // Default properties
  --fs-store-cards-row-gap                     : var(--fs-grid-gap-2);

  // Store Card Item
  --fs-store-cards-item-border-color-selected  : var(--fs-border-color-active);
  --fs-store-cards-item-border-width-selected  : var(--fs-border-width-thick);

  --fs-store-cards-item-bkg-color-hover        : var(--fs-color-neutral-bkg);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column;
  row-gap: var(--fs-store-cards-row-gap);
  margin: var(--fs-spacing-3);

  @include media(">=notebook") {
    margin: var(--fs-spacing-6);
  }

  [data-fs-store-cards-item] {
    [data-fs-radio-option-item] {
      position: absolute;
      opacity: 0;
    }

    input:checked + [data-fs-store-card] {
      border-color: var(--fs-store-cards-item-border-color-selected);
      border-width: var(--fs-store-cards-item-border-width-selected);

      [data-fs-icon] {
        color: var(--fs-store-cards-item-border-color-selected);
      }
    }

    input:hover + [data-fs-store-card] {
      background-color: var(--fs-store-cards-item-bkg-color-hover);
    }
  }
}
