@import "src/styles/scaffold";

.empty-state[data-empty-state] {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-3);
  justify-content: center;
  height: 100%;
  min-height: 50vh;
  padding: 0 var(--fs-spacing-8);
  margin: var(--fs-spacing-3) 0;
  background-color: var(--fs-color-neutral-bkg);
  border-radius: var(--fs-border-radius-default);

  @include media(">=notebook") {
    align-items: center;
    margin: var(--fs-spacing-5) 0;
  }

  > header {
    display: flex;
    flex-direction: column;
    row-gap: var(--fs-spacing-1);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--fs-spacing-2);
    color: var(--fs-color-disabled-text);

    p {
      font-size: var(--fs-text-size-3);
      text-align: center;
    }
  }

  a {
    min-width: rem(190px);
  }
}
