@import "src/styles/scaffold";

[data-fs-empty-state] {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-3);
  justify-content: center;
  height: 100%;
  min-height: 50vh;
  padding: 0 var(--fs-spacing-8);
  background-color: var(--fs-color-neutral-bkg);

  @include media(">=notebook") {
    align-items: center;
  }

  > header {
    display: flex;
    flex-direction: column;
    row-gap: var(--fs-spacing-1);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--fs-spacing-2);
    color: var(--fs-color-disabled-text);

    p {
      font-size: var(--fs-text-size-3);
      text-align: center;
    }
  }

  a {
    min-width: rem(190px);
  }
}

[data-fs-empty-state-variant="rounded"] {
  border-radius: var(--fs-border-radius);
}
