[data-fs-toggle-field] {
  // --------------------------------------------------------
  // Design Tokens for Toggle Field
  // --------------------------------------------------------

  // Default properties
  display: flex;
  align-items: center;

  [data-fs-toggle-field-label] {
    margin-inline-start: var(--fs-spacing-1);
  }
}
