.fs-regionalization-modal-body {
  // --------------------------------------------------------
  // Design Tokens for Regionalization Modal
  // --------------------------------------------------------

  // Link
  --fs-regionalization-modal-link-padding: 0;
  --fs-regionalization-modal-link-color: var(--fs-color-link);
  --fs-regionalization-modal-link-margin-right: var(--fs-spacing-0);

  [data-fs-regionalization-modal-input] {
    margin-bottom: var(--fs-spacing-6);
  }

  [data-fs-regionalization-modal-link] {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    padding: var(--fs-regionalization-modal-link-padding);
    margin-right: var(--fs-regionalization-modal-link-margin-right);
    color: var(--fs-regionalization-modal-link-color);
  }
}
