/* Header */
.nx-w-full > header {
  padding: var(--fs-spacing-4) var(--fs-spacing-5);
  margin-top: var(--fs-spacing-6);
  margin-bottom: var(--fs-spacing-6);
  background-color: #ecf0ff;
  border-radius: 4px;
}

.nx-w-full > header p {
  margin-top: var(--fs-spacing-2);
  line-height: var(--fs-text-size-4);
}

/* Divider */
hr.nx-my-8 {
  margin: var(--fs-spacing-9) 0 var(--fs-spacing-8);
}

/* Titles */
h1.nx-tracking-tight {
  margin-top: 0;
}

h2.nx-tracking-tight {
  border: none;
  margin-bottom: var(--fs-spacing-4);
  font-size: var(--fs-text-size-4);
}

h3.nx-tracking-tight {
  font-size: var(--fs-text-size-3);
  margin-bottom: var(--fs-spacing-4);
}

h4.nx-tracking-tight {
  margin-bottom: var(--fs-spacing-4);
  font-weight: var(--fs-text-weight-regular);
  font-size: var(--fs-text-size-3);
}


/* h3.nx-tracking-tight + h4.nx-tracking-tight {  } */

.index-header {
  display: flex;
  align-items: center;
  margin-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  column-gap: 3rem;
}

.index-header h1 {
  font-size: var(--fs-text-size-title-huge);
  margin-bottom: var(--fs-spacing-4);
}

.index-header img {
  font-size: var(--fs-text-size-title-huge);
}

/* Reset theme default style */
[data-fs-payment-methods-title] h3 {
  margin-top: auto;
}

/* Hero */

header.hero {
  padding: var(--fs-spacing-6) var(--fs-spacing-5);
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/starters___45131194d6158dfd0612f089a6a91070.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30% auto;
}

header.hero p {
  width: 65%;
  margin-top: var(--fs-spacing-3);
  margin-bottom: var(--fs-spacing-3);
  font-size: var(--fs-text-size-lead);
  line-height: 1.5;
}

/* Theme Section */

.section-theme {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-theme .section-theme-img {
  width: 30%;
  height: 280px;
  overflow: hidden;
  background-color: #f1f2f3;
  border-radius: 4px;
}

.section-theme .section-theme-img img {
  display: block;
  width: auto;
  max-width: unset;
  height: 100%;
  margin: 0 auto;
}

.section-theme > article {
  width: 65%;
}
