[data-fs-order-delivery-card] {
  // --------------------------------------------------------
  // Design Tokens for Delivery Card
  // --------------------------------------------------------

  // Default properties
  --fs-ordered-by-text-size: var(--fs-text-size-2);
  --fs-ordered-by-text-line-height: 1.5;
  --fs-ordered-by-text-letter-spacing: -2%;
  --fs-ordered-by-text-contact-weight: var(--fs-text-weight-regular);
  --fs-ordered-by-text-contact-strong-weight: var(--fs-text-weight-medium);
  --fs-ordered-by-text-delivery-options-weight: var(--fs-text-weight-semibold);

  [data-fs-card-body] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-spacing-3);

    [data-fs-delivery-methods] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      [data-fs-delivery-method] {
        font-size: var(--fs-ordered-by-text-size);
        font-weight: var(--fs-ordered-by-text-delivery-options-weight);
        line-height: var(--fs-ordered-by-text-line-height);
        letter-spacing: var(--fs-ordered-by-text-letter-spacing);
      }
    }

    [data-fs-delivery-contact] {
      display: flex;
      flex-direction: column;
      gap: var(--fs-spacing-1);

      [data-fs-delivery-contact-name], [data-fs-delivery-contact-phone] {
        font-size: var(--fs-ordered-by-text-size);
        font-weight: var(--fs-ordered-by-text-contact-weight);
        letter-spacing: var(--fs-ordered-by-text-letter-spacing);
      }
    }
  }
}
