.fs-search {
  // --------------------------------------------------------
  // Design Tokens for Search
  // --------------------------------------------------------
  --fs-search-border-bottom-width   : var(--fs-border-width);
  --fs-search-border-bottom-color   : var(--fs-border-color-light);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  [data-fs-search-section] {
    border-bottom: var(--fs-search-border-bottom-width) solid var(--fs-search-border-bottom-color);

    &:last-child {
      border-bottom-width: 0;
    }
  }
}
