@import "src/styles/scaffold";

.fs-search {
  // --------------------------------------------------------
  // Design Tokens for Search
  // --------------------------------------------------------
  --fs-search-min-height              : var(--fs-spacing-7);

  // Title
  --fs-search-title-size              : var(--fs-text-size-lead);
  --fs-search-title-line-height       : 1.5;

  // Section
  --fs-search-section-padding         : var(--fs-spacing-1) 0;
  --fs-search-section-bkg-color       : var(--fs-color-neutral-0);
  --fs-search-section-border-bottom   : var(--fs-border-width) solid var(--fs-border-color-light);

  // Link
  --fs-search-item-link-color         : var(--fs-color-text-light);
  --fs-search-item-link-padding-right : var(--fs-spacing-3);
  --fs-search-item-link-padding-left  : var(--fs-search-item-link-padding-right);

  // Item
  --fs-search-item-text-size          : var(--fs-text-size-2);
  --fs-search-item-line-height        : 1.25;
  --fs-search-item-bkg-color-hover    : var(--fs-color-tertiary-bkg-hover);

  // Icon
  --fs-search-item-icon-color         : var(--fs-color-neutral-4);
  --fs-search-item-icon-margin-right  : var(--fs-spacing-1);

  // Badge
  --fs-search-badge-margin-right      : var(--fs-spacing-1);

  // Default properties
  [data-fs-search-header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--fs-search-min-height);
  }

  [data-fs-search-title] {
    font-size: var(--fs-search-title-size);
    line-height: var(--fs-search-title-line-height);
  }

  [data-fs-search-section] {
    padding: var(--fs-search-section-padding);
    border-bottom: var(--fs-search-section-border-bottom);

    &:last-child {
      border-bottom-width: 0;
    }
  }

  [data-fs-search-item-link] {
    color: var(--fs-search-item-link-color);
  }

  [data-fs-search-item] {
    margin-right: calc(-1 * var(--fs-search-item-link-padding-right));
    margin-left: calc(-1 * var(--fs-search-item-link-padding-right));
    font-size: var(--fs-search-item-text-size);
    line-height: var(--fs-search-item-line-height);

    &:hover {
      background-color: var(--fs-search-item-bkg-color-hover);
    }

    [data-fs-search-product-card-link], [data-fs-search-item-link] {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-right: var(--fs-search-item-link-padding-right);
      padding-left: var(--fs-search-item-link-padding-left);
    }

    [data-fs-search-badge] {
      margin-right: var(--fs-search-badge-margin-right);
    }

    [data-fs-search-item-icon] {
      margin-right: var(--fs-search-item-icon-margin-right);
      color: var(--fs-search-item-icon-color);
    }
  }

  [data-fs-search] {
    [data-fs-search-item-bold] {
      font-weight: var(--fs-text-weight-bold);
      color: var(--fs-color-neutral-7);
    }
  }
}
