@use "sass:meta";
@use "@faststore/ui/src/styles/base/utilities";

.page {
  @include meta.load-css("./MyAccountListOrdersTable/styles.scss");
  @include meta.load-css("./MyAccountSelectedTags/styles.scss");
  @include meta.load-css("../../components/MyAccountStatusBadge/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/atoms/Button/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/molecules/SearchInputField/styles.scss");
  @include meta.load-css("pkg:@faststore/ui/src/components/organisms/EmptyState/styles.scss");

  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  // Default properties
  --fs-list-orders-padding                            : var(--fs-spacing-5);
  --fs-page-height                                    : 100%;

  // Search Filters
  --fs-list-orders-filter-width                       : 55%;
  --fs-list-orders-filter-margin-bottom               : var(--fs-spacing-3);
  --fs-list-orders-filter-gap-mobile                  : var(--fs-grid-gap-0);
  --fs-list-orders-filter-width-mobile                : 100%;
  --fs-list-orders-filter-margin-bottom-mobile        : 0;

  --fs-list-orders-filter-input-border-color-hover    : var(--fs-input-border-color-hover);
  --fs-list-orders-filter-input-shadow-hover          : var(--fs-input-box-shadow-hover);

  --fs-list-orders-filter-button-border-radius        : var(--fs-border-radius-pill);
  --fs-list-orders-filter-button-height               : 2.375rem;
  --fs-list-orders-filter-button-margin-left          : 0.6rem;

  height: var(--fs-page-height);

  [data-fs-list-orders-controls] {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--fs-list-orders-filter-margin-bottom);
  }

  [data-fs-list-orders-search-filters] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--fs-list-orders-filter-width);

    @include utilities.media("<notebook") {
      flex-direction: column;
      gap: var(--fs-list-orders-filter-gap-mobile);
      align-items: flex-end;
      width: var(--fs-list-orders-filter-width-mobile);
      margin-bottom: var(--fs-list-orders-filter-margin-bottom-mobile);
    }

    [data-fs-search-input-field] {
      [data-fs-search-input-field-input] {
        @include utilities.media("<notebook") {
          border: var(--fs-input-border-width) solid var(--fs-input-border-color);

          @include utilities.input-focus-ring;

          &:hover:not(:disabled):not(:focus-visible):not(:focus) {
            border-color: var(--fs-list-orders-filter-input-border-color-hover);
            box-shadow: var(--fs-list-orders-filter-input-shadow-hover);
          }
        }
      }

      [data-fs-icon-button][data-fs-button-variant] {
        @include utilities.media("<notebook") {
          position: absolute;
          right: 0;
        }
      }
    }

    [data-fs-list-orders-search-filters-button] {
      margin-left: var(--fs-list-orders-filter-button-margin-left);
    }
  }
}
