[data-fs-search-suggested-products] {
  // --------------------------------------------------------
  // Design Tokens for Search Suggested Products
  // --------------------------------------------------------

  // Default properties
  --fs-search-suggested-products-padding-top             : var(--fs-spacing-2);
  --fs-search-suggested-products-padding-right           : var(--fs-spacing-3);
  --fs-search-suggested-products-padding-bottom          : var(--fs-search-suggested-products-padding-top);
  --fs-search-suggested-products-padding-left            : var(--fs-search-suggested-products-padding-right);
  --fs-search-suggested-products-transition-property     : var(--fs-transition-property);
  --fs-search-suggested-products-transition-function     : var(--fs-transition-function);
  --fs-search-suggested-products-transition-timing       : var(--fs-transition-timing);

  // Header
  --fs-search-suggested-products-header-padding-top      : var(--fs-spacing-1);
  --fs-search-suggested-products-header-padding-bottom   : var(--fs-search-suggested-products-header-padding-top);

  // Title
  --fs-search-suggested-products-title-size              : var(--fs-text-size-lead);
  --fs-search-suggested-products-title-line-height       : 1.5;

  // Item
  --fs-search-suggested-products-item-column-gap         : var(--fs-spacing-1);
  --fs-search-suggested-products-item-text-size          : var(--fs-text-size-2);
  --fs-search-suggested-products-item-line-height        : 1.25;
  --fs-search-suggested-products-item-bkg-color-hover    : var(--fs-color-tertiary-bkg-hover);



  // Image
  --fs-search-product-card-image-border-radius            : var(--fs-border-radius);
  --fs-search-product-card-image-margin-right             : var(--fs-spacing-3);
  --fs-search-product-card-image-size                     : 3.5rem;

  // Title
  --fs-search-product-card-title-margin-bottom            : var(--fs-spacing-0);
  --fs-search-product-card-title-size                     : var(--fs-text-size-2);
  --fs-search-product-card-title-line-height              : 1.2;
  --fs-search-product-card-title-color                    : var(--fs-color-text);

  // Price
  --fs-search-product-card-price-gap                      : var(--fs-spacing-1);
  --fs-search-product-card-price-size                     : var(--fs-text-size-base);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  width: 100%;
  padding-top: var(--fs-search-suggested-products-padding-top);
  padding-bottom: var(--fs-search-suggested-products-padding-bottom);

  [data-fs-search-suggested-products-header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--fs-search-suggested-products-min-height);
    padding: var(--fs-search-suggested-products-header-padding-top) var(--fs-search-suggested-products-padding-right) var(--fs-search-suggested-products-header-padding-bottom) var(--fs-search-suggested-products-padding-left);
    [data-fs-button] { white-space: nowrap; }
  }

  [data-fs-search-suggested-products-title] {
    width: 100%;
    font-size: var(--fs-search-suggested-products-title-size);
    line-height: var(--fs-search-suggested-products-title-line-height);
  }

  /////////////////
  // ProductCard
  /////////////////

  [data-fs-search-product-card] {
    width: 100%;
    display: flex;
    align-items: center;
    transition: var(--fs-search-suggested-products-transition-property) var(--fs-search-suggested-products-transition-timing) var(--fs-search-suggested-products-transition-function);

    &:hover {
      background-color: var(--fs-search-suggested-products-item-bkg-color-hover);
    }
  }

  [data-fs-search-product-card-link] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
    padding-top: var(--fs-spacing-1);
    padding-bottom: var(--fs-spacing-1);
    padding-left: var(--fs-search-suggested-products-padding-left);
    padding-right: var(--fs-search-suggested-products-padding-right);
  }

  [data-fs-search-product-card-image] {
    display: flex;
    width: var(--fs-search-product-card-image-size);
    height: var(--fs-search-product-card-image-size);
    margin-right: var(--fs-search-product-card-image-margin-right);
    overflow: hidden;
    border-radius: var(--fs-search-product-card-image-border-radius);
  }

  [data-fs-search-product-card-title] {
    margin-bottom: var(--fs-search-product-card-title-margin-bottom);
    font-size: var(--fs-search-product-card-title-size);
    font-weight: var(--fs-text-weight-bold);
    line-height: var(--fs-search-product-card-title-line-height);
    color: var(--fs-search-product-card-title-color);
    text-decoration: none;
    outline: none;

    @include truncate-title;
  }

  [data-fs-search-product-card-prices] {
    display: flex;
    align-items: baseline;
    column-gap: var(--fs-search-product-card-price-gap);

    [data-fs-price-variant="spot"] {
      font-size: var(--fs-search-product-card-price-size);
    }
  }
}

