[data-fs-review-list] {
  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  flex: 1;

  [data-fs-review-list-header] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fs-spacing-3);
    align-items: center;
    padding-bottom: var(--fs-spacing-0);
    border-bottom: var(--fs-border-color-light) solid var(--fs-review-card-border-color);

    [data-fs-select] {
      --fs-select-min-height                                             : 2.375rem; // 38px
    }
  }

  [data-fs-review-list-has-more] {
    min-width: 13.75rem; // 220px
    margin: var(--fs-spacing-5) auto 0;
  }
}
