@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("~@faststore/ui/src/components/atoms/Badge/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/molecules/Tag/styles.scss");

    [data-fs-preview-tag] {
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 10000;
      box-shadow: var(--fs-shadow-darker);
      backdrop-filter: blur(var(--fs-spacing-1));
    }
  }
}
