[data-fs-my-account-badge] {
  // --------------------------------------------------------
  // Design Tokens
  // --------------------------------------------------------

  // SITUATIONS
  --fs-color-success-bkg: #e9fce3;
  --fs-color-warning-bkg: #ffedcd;
  --fs-color-neutral-bkg: #f5f5f5;

  --fs-my-account-badge-padding                                  : var(--fs-spacing-0) var(--fs-spacing-2);
  --fs-my-account-badge-line-height                              : 1;
  --fs-my-account-badge-color                                    : var(--fs-color-text);
  --fs-my-account-badge-border                                   : 2px solid var(--fs-color-neutral-0);
  --fs-my-account-badge-border-radius                            : var(--fs-border-radius-pill);
  --fs-my-account-badge-success-bkg                              : var(--fs-color-success-bkg);
  --fs-my-account-badge-success-border                           : var(--fs-color-neutral-0);
  --fs-my-account-badge-warning-bkg                              : var(--fs-color-warning-bkg);
  --fs-my-account-badge-warning-border                           : var(--fs-color-neutral-0);
  --fs-my-account-badge-neutral-bkg                              : var(--fs-color-neutral-bkg);
  --fs-my-account-badge-neutral-border                           : var(--fs-color-neutral-0);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: inline-block;
  width: fit-content;
  min-width: -webkit-fill-available;
  min-width: fit-content;
  height: fit-content;
  padding: var(--fs-my-account-badge-padding);
  overflow: hidden;
  line-height: var(--fs-my-account-badge-line-height);
  color: var(--fs-my-account-badge-color);
  white-space: nowrap;
  border: var(--fs-my-account-badge-border);
  border-radius: var(--fs-my-account-badge-border-radius);
}

[data-fs-my-account-badge][data-fs-my-account-badge-variant="success"] {
  background-color: var(--fs-my-account-badge-success-bkg);
  border-color: var(--fs-my-account-badge-success-border);
}

[data-fs-my-account-badge][data-fs-my-account-badge-variant="warning"] {
  background-color: var(--fs-my-account-badge-warning-bkg);
  border-color: var(--fs-my-account-badge-warning-border);
}

[data-fs-my-account-badge][data-fs-my-account-badge-variant="neutral"] {
  background-color: var(--fs-my-account-badge-neutral-bkg);
  border-color: var(--fs-my-account-badge-neutral-border);
}
