[data-store-skeleton-element] {
  &[data-shimmer="true"] {
    position: relative;
    overflow: hidden;
  }

  [data-skeleton-element-content] {
    overflow: hidden;
    background: var(--fs-color-disabled-bkg);
    border-radius: var(--fs-border-radius);

    &[data-element-variant="text"] {
      width: 100%;
      height: var(--fs-spacing-4);
    }

    &[data-element-variant="button"] {
      column-gap: var(--fs-spacing-2);
      width: var(--fs-spacing-13);
      min-height: var(--fs-spacing-5);
      border-radius: var(--fs-border-radius);
    }

    &[data-element-variant="image"] {
      border-radius: var(--fs-border-radius);
    }

    &[data-element-variant="badge"] {
      width: 40%;
      height: var(--fs-spacing-5);
      border-radius: var(--fs-border-radius-pill);
    }
  }
}
