[data-fs-quick-order-drawer] {
  @import "../../molecules/Tooltip/styles";
  @import "../../molecules/Alert/styles";

  // --------------------------------------------------------
  // Design Tokens for Quick Order Drawer
  // --------------------------------------------------------

  // Default properties
  --fs-quick-order-drawer-width: 91%;
  --fs-quick-order-drawer-primary-text-color: black;
  --fs-quick-order-drawer-secondary-text-color: #5c5c5c;
  --fs-quick-order-drawer-badge-success-bkg-color: #aff79e;
  --fs-quick-order-drawer-badge-warning-bkg-color: #ffdfd9;
  --fs-quick-order-drawer-neutral-border-color: #ebebeb;

  display: flex;
  flex-direction: column;
  color: var(--fs-quick-order-drawer-primary-text-color);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------
  background-color: #ffffff;

  [data-fs-quick-order-drawer-text="primary"] {
    overflow: hidden;
    font-weight: var(--fs-text-weight-medium);
    line-height: 120%;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  [data-fs-quick-order-drawer-text="secondary"] {
    overflow: hidden;
    font-size: var(--fs-text-size-legend);
    font-weight: var(--fs-text-weight-regular);
    line-height: 120%;
    color: var(--fs-quick-order-drawer-secondary-text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  &[data-fs-slide-over][data-fs-slide-over-size="partial"] {
    width: var(--fs-quick-order-drawer-width);

    @include media(">=notebook") {
      width: var(--fs-quick-order-drawer-width);
      max-width: var(--fs-quick-order-drawer-width);
    }
  }

  [data-fs-quick-order-drawer-header] {
    height: 8%;
    padding:
      var(--fs-spacing-4) var(--fs-spacing-4) var(--fs-spacing-4)
      var(--fs-spacing-11);
    border-bottom: 1px solid var(--fs-quick-order-drawer-neutral-border-color);

    [data-fs-icon] {
      color: black;
    }

    [data-fs-quick-order-drawer-title-container] {
      display: flex;
      align-items: center;
      width: 30%;
      height: 100%;
    }

    [data-fs-quick-order-drawer-icon] {
      margin: 0;

      [data-fs-icon] {
        color: green;
      }
    }

    [data-fs-quick-order-drawer-title] {
      padding: 0 0.5rem;
      font-size: var(--fs-text-size-4);
      font-weight: var(--fs-text-weight-semibold);
      line-height: 120%;
      vertical-align: middle;
    }
  }

  [data-fs-quick-order-drawer-content] {
    height: 80%;
    padding: var(--fs-spacing-4) var(--fs-spacing-11);
    overflow: auto;
    font-size: var(--fs-text-size-1);

    [data-fs-alert] {
      width: 100%;
      max-width: none;
      font-weight: var(--fs-text-weight-semibold);
      background-color: #f1f8fd;
    }

    [data-fs-quick-order-drawer-table] {
      width: 100%;
      table-layout: fixed;

      [data-fs-table-head] {
        color: var(--fs-quick-order-drawer-secondary-text-color);

        [data-fs-table-cell="header"] {
          font-weight: 500;
        }

        [data-fs-table-cell]:nth-child(1) {
          width: 40%;
        }

        [data-fs-table-cell]:nth-child(2) {
          width: 25%;
        }

        [data-fs-table-cell]:nth-child(3) {
          width: 15%;
        }

        [data-fs-table-cell]:nth-child(4) {
          width: 15%;
        }

        [data-fs-table-cell]:nth-child(5) {
          width: 5%;
        }
      }

      [data-fs-table-row] {
        height: 3rem;
        border-bottom: 1px solid var(--fs-quick-order-drawer-neutral-border-color);
      }

      [data-fs-table-cell] {
        padding: 1rem 0;
      }

      [data-fs-tooltip-wrapper] {
        position: absolute;
        top: 30px;
        color: #ffffff;
        background-color: black;
      }

      [data-fs-quick-order-drawer-table-row="available"] {
        color: var(--fs-quick-order-drawer-primary-text-color);
      }

      [data-fs-quick-order-drawer-table-row="outOfStock"] {
        color: var(--fs-quick-order-drawer-secondary-text-color);
        background-color: #f5f5f5;
      }

      [data-fs-quick-order-drawer-cell="product"] {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        [data-fs-quick-order-drawer-table-cell-img-container] {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 0.5rem;
        }

        [data-fs-quick-order-drawer-table-cell-name-container] {
          display: flex;
          flex-direction: column;
          padding: var(--fs-spacing-3) var(--fs-spacing-1);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        [data-fs-tooltip] {
          [data-fs-button] {
            width: 2rem;

            [data-fs-button-wrapper] {
              width: 24px;
            }
          }

          align-self: flex-start;

          svg {
            width: 1.25rem;
            height: 1.25rem;
            margin: 0;
            color: var(--fs-quick-order-drawer-secondary-text-color);
          }
        }
      }

      [data-fs-quick-order-drawer-cell="price"] {
        padding-right: 3%;
      }

      [data-fs-badge] {
        font-size: var(--fs-text-size-0);
        font-weight: var(--fs-text-weight-medium);
        text-transform: none;
      }

      [data-fs-badge-variant="success"] {
        color: var(--fs-badge-success-text-color);

        [data-fs-badge-wrapper] {
          background-color: var(--fs-quick-order-drawer-badge-success-bkg-color);
        }
      }

      [data-fs-badge-variant="warning"] {
        [data-fs-badge-wrapper] {
          background-color: var(--fs-quick-order-drawer-badge-warning-bkg-color);
        }
      }

      [data-quantity-selector-input] {
        padding: 0 0.5rem 0 0;
        border-radius: var(--fs-border-radius-pill);
      }

      [data-quantity-selector-button]:disabled {
        svg {
          color: var(--fs-quick-order-drawer-secondary-text-color);
        }
      }

      [data-quantity-selector-input]:disabled {
        color: var(--fs-quick-order-drawer-secondary-text-color);
        background-color: transparent;
      }

      [data-fs-quick-order-drawer-table-price="available"] {
        color: var(--fs-quick-order-drawer-primary-text-color);
      }

      [data-fs-quick-order-drawer-table-price="outOfStock"] {
        color: var(--fs-quick-order-drawer-secondary-text-color);
      }

      [data-fs-quick-order-drawer-delete-cell] {
        [data-fs-button-wrapper] {
          width: 2.5rem;
          height: 2.5rem;

          [data-fs-icon] {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0;
          }
        }
      }
    }
  }

  [data-fs-quick-order-drawer-footer] {
    display: flex;
    justify-content: space-between;
    height: 12%;
    padding: var(--fs-spacing-5) var(--fs-spacing-11);
    border-top: 1px solid var(--fs-quick-order-drawer-neutral-border-color);

    [data-fs-quick-order-drawer-footer-price-container] {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--fs-text-size-2);
      font-weight: var(--fs-text-weight-medium);

      span {
        padding: 0 0.5rem;
      }
    }

    [data-fs-button-wrapper] {
      height: var(--fs-spacing-9);
      padding: 0 var(--fs-spacing-7);
      font-size: var(--fs-text-size-1);
      color: #ffffff;
      background-color: #0366dd;
      border-radius: var(--fs-border-radius-pill);
    }
  }
}
