/* Section List */

.sectionList [data-doc-section-grid] {
  display: flex;
  flex-direction: column;
  row-gap: var(--fs-spacing-4);
}

@media screen and (min-width: 1024px) {
  .sectionList [data-doc-section-grid="row"] {
    row-gap: var(--fs-spacing-4);
    display: flex;
    flex-direction: column;
  }

  .sectionList [data-doc-section-grid="column"] {
    display: grid;
    grid-gap: var(--fs-spacing-5) var(--fs-spacing-4);
  }

  .sectionList [data-doc-section-grid="column"][data-doc-section-grid-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  .sectionList [data-doc-section-grid="column"][data-doc-section-grid-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Section Item */

.sectionList [data-doc-section-grid="row"] .sectionItem > div {
  flex-shrink: 0;
  align-self: stretch;
}

@media screen and (min-width: 1024px) {
  .sectionList [data-doc-section-grid="row"] .sectionItem > div { width: 35%; }
}

.sectionList [data-doc-section-grid="column"] .sectionItem {
  display: grid;
  grid-template-rows: 200px 1fr;
}

@media screen and (min-width: 1024px) {
  .sectionList [data-doc-section-grid="column"] .sectionItem { grid-template-rows: 2fr 1fr; }
}

.sectionList [data-doc-section-grid="column"] .sectionItem[data-doc-section-item-small-height] { grid-template-rows: 1fr 1fr; }

.sectionList [data-doc-section-grid="column"] .sectionItem > div {
  height: 100%;
}

.sectionList [data-doc-section-grid="column"] .sectionItem > article {
  height: 100%;
  width: 100%;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: var(--fs-spacing-4);
  row-gap: var(--fs-spacing-3);
}

@media screen and (min-width: 1024px) {
  .sectionItem { flex-direction: row; }
}

.sectionItem > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--fs-spacing-4) var(--fs-spacing-3);
  background-color: var(--fs-color-neutral-bkg);
  border-radius: 4px;
  overflow-y: auto;
  max-height: 21rem;
}

.sectionItem[data-doc-section-item-full-width] > div > * { width: 100%; }

.sectionItem[data-doc-section-item-full-width] [data-fs-product-shelf-items] { width: 100%; }

.sectionItem[data-doc-section-item-zoom-out="true"] > div > * {
  width: 100%;
  zoom: 60%;
}

.sectionItem > article [data-fs-button] {
  position: relative;
  left: calc(-1 * var(--fs-spacing-3));
  margin-top: var(--fs-spacing-3);
}

.sectionItem > article > h3 {
  margin-top: 0;
}

/* Tokens Links */

.tokensLinks {
  margin-top: var(--fs-spacing-4);
}

.tokensLinks [data-doc-section-grid="column"] .sectionItem {
  display: flex;
  flex-direction: column;
}

.tokensLinks [data-doc-section-grid="column"] .sectionItem > div {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30% auto;
}

.tokensLinks .sectionItem > article {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.tokensLinks .sectionItem:nth-child(odd) > div {
  background-color: var(--fs-color-main-2);
}

.tokensLinks .sectionItem:nth-child(1) > div {
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/colors___038effcf345acf3d037bc63ed8671455.png");
}

.tokensLinks .sectionItem:nth-child(2) > div {
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/typography___318fbc78202402728a2113e63b47241f.png");
}

.tokensLinks .sectionItem:nth-child(3) > div {
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/spacing___ca1d02b0bcc238811347eddc66a807ad.png");
}

.tokensLinks .sectionItem:nth-child(4) > div {
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/grid___6dfb4949712be94273bc119b7945babf.png");
}

.tokensLinks .sectionItem:nth-child(5) > div {
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/controls___a8302bd539d61653e60cb0aacd1c18e7.png");
}

.tokensLinks .sectionItem:nth-child(6) > div {
  background-image: url("https://vtexhelp.vtexassets.com/assets/docs/src/refinements___ca4c7814b2771e84601f4a6d457612fd.png");
}

.tokensLinks .sectionItem > article [data-fs-button] {
  width: fit-content;
  position: relative;
  left: calc(-1 * var(--fs-spacing-1));
  margin-top: auto;
}
