/* Cards with icons */
.homeGrid > * {
  @apply relative border rounded-lg;
}

.homeGrid > p {
  margin-top: var(--ifm-spacing-vertical) !important;
}

.homeGrid p:last-child{
  @apply mb-8
}

.homeGrid a {
  @apply block pl-20 py-6 pr-8 text-text;
}

.homeGrid > *:active,
.homeGrid > *:hover {
  @apply border-secondary;
}
.homeGrid a:active,
.homeGrid a:hover{
  @apply no-underline;
}

.homeGrid a svg {
  @apply absolute left-6 w-8 top-6;
}

.homeGrid a strong {
  @apply block mb-2 text-xl;
}

.homeGrid a:hover  strong{
  @apply text-link;
}

@media only screen and (min-width: 1240px) {
  .homeGrid {
    @apply grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  }
}