/* Cards with icons */
.homeGrid > * {
  @apply relative border rounded-lg;
}

.homeGrid > p {
  margin-top: var(--ifm-spacing-vertical) !important;
}

.homeGrid p:last-child{
  @apply mb-8
}

.homeGrid a {
  @apply block text-text pl-20 py-6 pr-8;
}

.homeGrid > *:active,
.homeGrid > *:hover {
  @apply border-secondary;
}
.homeGrid a:active,
.homeGrid a:hover {
  @apply no-underline;
}

.homeGrid a img {
  @apply absolute left-6 w-8 top-2;
}

.homeGrid a strong {
  @apply block mb-2 text-xl;
  color: var(--ifm-color-label);
}

@media only screen and (min-width: 1240px) {
  .homeGrid {
    @apply grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  }
}