[data-store-hero] {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20rem;
  background-color: #001947;
  color: #fff;
}

[data-hero-heading] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

[data-hero-heading] h1 {
  font-size: 1.81rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

[data-hero-image] {
  height: 100%;
  overflow: hidden;
}

[data-hero-link] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  min-width: 11.25rem;
  width: fit-content;
  color: #001947;
  border: 1px solid #171a1c;
  background-color: #fff;
}

@media only screen and (min-width: 769px) {
  [data-store-hero] {
    flex-direction: row-reverse;
  }
  [data-hero-heading] {
    padding: 0 4rem;
  }
  [data-hero-heading] h1 {
    font-size: 3rem;
  }
}
