[data-fs-tiles] {
  --aspect-ratio-portrait: 3 / 4;
  --aspect-ratio-landscape: 4 / 3;
  --gap: 16px;

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  color: white;
}

[data-fs-tiles] + [data-fs-tiles] {
  margin-top: var(--gap);
}

[data-fs-tile] {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: var(--aspect-ratio-portrait);
  background-color: red;
}

[data-fs-tile]:nth-child(n + 1) {
  background-color: #001082;
}

[data-fs-tile]:nth-child(n + 2) {
  background-color: #0017b9;
}

[data-fs-tile]:nth-child(n + 3) {
  background-color: #1930d3;
}

[data-fs-tile]:nth-child(n + 4) {
  background-color: #4d62ff;
}

[data-fs-tiles-variant="expanded-first-two"] {
  grid-template-columns: none;
}

[data-fs-tiles-variant="expanded-first-two"] [data-fs-tile] {
  aspect-ratio: var(--aspect-ratio-landscape);
}

[data-fs-tiles-variant="expanded-first"] [data-fs-tile]:first-child {
  grid-column: 1 / 3;
  aspect-ratio: var(--aspect-ratio-landscape);
}

@media only screen and (min-width: 769px) {
  [data-fs-tiles] {
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
  }

  [data-fs-tiles-variant="expanded-first-two"] {
    grid-template: none / repeat(2, 1fr);
  }

  [data-fs-tiles-variant="expanded-first"] {
    display: flex;
  }

  [data-fs-tiles-variant="expanded-first"] [data-fs-tile] {
    flex-grow: calc(var(--aspect-ratio-portrait));
  }

  [data-fs-tiles-variant="expanded-first"] [data-fs-tile]:first-child {
    flex-grow: calc(var(--aspect-ratio-landscape));
  }
}
