[data-fs-order-budgets-card] {
  [data-fs-budgets-table] {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  [data-fs-budgets-table-header] {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--fs-spacing-3);
    padding: var(--fs-spacing-2) 0;
    font-size: var(--fs-text-size-2);
    font-weight: var(--fs-text-weight-regular);
    color: var(--fs-color-text-secondary);
    border-bottom: 1px solid var(--fs-border-color-light);

    [data-fs-budgets-header-name] {
      text-align: left;
    }

    [data-fs-budgets-header-available],
    [data-fs-budgets-header-to-be-spent],
    [data-fs-budgets-header-remaining] {
      text-align: right;
      white-space: nowrap;
    }

    @include media(">=tablet") {
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    [data-fs-budgets-header-available] {
      @include media("<tablet") {
        display: none;
      }
    }
  }

  [data-fs-budgets-table-body] {
    display: flex;
    flex-direction: column;

    > div {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: var(--fs-spacing-3);
      padding: var(--fs-spacing-3) 0;
      border-bottom: 1px solid var(--fs-border-color-light);

      &:last-child {
        border-bottom: none;
      }

      @include media(">=tablet") {
        grid-template-columns: 2fr 1fr 1fr 1fr;
      }
    }

    [data-fs-budgets-available] {
      @include media("<tablet") {
        display: none;
      }
    }
  }

  [data-fs-budgets-name] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-spacing-0);
  }

  [data-fs-budgets-name-primary] {
    font-size: var(--fs-text-size-2);
    font-weight: var(--fs-text-weight-regular);
    line-height: 1.4;
    color: var(--fs-color-text);
  }

  [data-fs-budgets-name-secondary] {
    font-size: var(--fs-text-size-1);
    font-weight: var(--fs-text-weight-regular);
    line-height: 1.4;
    color: var(--fs-color-text-secondary);
  }

  [data-fs-budgets-available],
  [data-fs-budgets-to-be-spent],
  [data-fs-budgets-remaining] {
    font-size: var(--fs-text-size-2);
    font-weight: var(--fs-text-weight-regular);
    color: var(--fs-color-text);
    text-align: right;
  }

  [data-fs-budgets-remaining] {
    strong {
      font-weight: var(--fs-text-weight-semibold);
    }
  }

  [data-fs-budgets-to-be-spent] {
    color: var(--fs-color-text-secondary);
  }
}
