// Common imports shared between desktop and mobile
@import "@faststore/ui/src/components/atoms/Icon/styles.scss";
@import "@faststore/ui/src/components/atoms/Select/styles.scss";
@import "@faststore/ui/src/components/atoms/Button/styles.scss";
@import "@faststore/ui/src/components/molecules/SelectField/styles.scss";
@import "@faststore/ui/src/components/organisms/I18nSelector/styles.scss";

.desktop {
  @import "@faststore/ui/src/components/molecules/Popover/styles.scss";
}

.mobile {
  @import "@faststore/ui/src/components/atoms/Overlay/styles.scss";
  @import "@faststore/ui/src/components/molecules/Modal/styles.scss";
}
