[data-fs-list] {
  // --------------------------------------------------------
  // Design Tokens for List
  // --------------------------------------------------------

  // Default properties
  --fs-list-style-unordered                    : initial;
  --fs-list-style-ordered                      : decimal;

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  padding: 0;

  &[data-fs-list-marker="true"] {
    list-style: var(--fs-list-style-unordered);
    list-style-position: inside;

    @at-root ol#{&} {
      list-style: var(--fs-list-style-ordered);
      list-style-position: inside;
    }
  }

}
