[data-fs-list] {
  // --------------------------------------------------------
  // Design Tokens for List
  // --------------------------------------------------------

  // Default properties
  --fs-list-style-unordered                    : initial;
  --fs-list-style-ordered                      : decimal;
  --fs-list-row-gap                            : 0;

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column;
  row-gap: var(--fs-list-row-gap);
  margin: 0;
  padding: 0;

  &[data-fs-list-marker="true"] {
    list-style: var(--fs-list-style-unordered);
    list-style-position: inside;

    @at-root ol#{&} {
      list-style: var(--fs-list-style-ordered);
      list-style-position: inside;
    }
  }

}
