.playgroundEditorHeader {
    @apply bg-[#0b1521] rounded-l-md;
  }
  
  .playgroundEditorHeader p {
    @apply bg-[#1c2b3e] w-fit p-4 text-white font-mono text-xs rounded-tl-md;
  }
  
  .playgroundEditorText {
    @apply bg-[#1c2b3e] rounded-bl-md;
  }
  
  .playgroundEditor {
    @apply bg-[#1c2b3e] rounded-bl-md font-bold mx-5 !important;
    font: 14px / var(--ifm-pre-line-height) 'Inconsolata' !important;
    /*rtl:ignore*/
    direction: ltr;
  }
  
  .playgroundPreview {
    @apply border border-border rounded-r-md overflow-hidden flex items-center justify-center;
    background: radial-gradient(#e8ebef 10%, #fcfdfe 10%) repeat;
    background-size: 10px 10px;
  }
  
  .playgroundPreview > * {
    @apply w-4/5 bg-white shadow-lg rounded-lg overflow-hidden m-5;
  }