@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("~@faststore/ui/src/components/organisms/Hero/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/molecules/LinkButton/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Icon/styles.scss");
    @include meta.load-css("~@faststore/ui/src/components/atoms/Button/styles.scss");
  }
}
