[data-store-breadcrumb] {
    @apply flex items-center;
}

[data-store-breadcrumb-home] {
    @apply mr-2;
}

[data-store-breadcrumb-item] {
    @apply flex text-black no-underline hover:underline mx-2;
}

[data-store-breadcrumb-item-active] {
  @apply font-bold text-xl;
}
