[data-store-bullets] {
  @apply box-border py-2 justify-center flex;
}

[data-store-bullets] [data-bullet-item] {
  @apply inline-block;
}

[data-store-bullets] [data-bullet-item] [data-store-button] {
  @apply box-border min-w-0 cursor-pointer inline-block rounded-full m-3 border-0 outline-none h-3 w-3 min-h-0 p-0;
  @apply bg-gray-400;
}

[data-store-bullets] > [data-bullet-item][data-active] > [data-store-button] {
  @apply bg-pink-700;
}
