[data-store-numeric-input-range-limited]::-webkit-inner-spin-button,
[data-store-numeric-input-range-limited]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-store-numeric-input-range-limited] {
  -moz-appearance: textfield;
}
