[data-store-product-card] {
  max-width: 20rem;
  height: 100%;
}

[data-product-card-content] {
  padding: 0.5rem;
}

[data-product-card-content] [data-store-price] {
  margin-right: 0.25rem;
  color: #5d666f;
  font-size: 0.875rem;
}

[data-product-card-content] [data-store-price] + [data-store-price] {
  font-weight: bold;
}

[data-product-card-content] [data-store-badge] {
  color: #171a1c;
  margin-top: 0.5rem;
  border-radius: 100px;
  background-color: #cee8de;
  font-size: 0.75rem;
  line-height: 1rem;
}

[data-product-card-actions] [data-store-button] {
  float: right;
  margin: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
