[data-store-table]{
  @apply table-auto divide-y divide-gray-200;
}

[data-store-table-head]{
  @apply bg-gray-50;
}

[data-store-table-body] {
  @apply bg-white divide-y divide-gray-200;
}

[data-store-table-cell="header"]{
  @apply px-6 py-3 text-left text-xs text-gray-900 font-bold uppercase tracking-wider;
}

[data-store-table-cell="data"]{
  @apply px-6 py-4;
}

[data-store-table-cell] > [data-store-price][data-selling] {
  @apply text-sm font-medium text-gray-900;
}
