[data-fs-filter] {
  // --------------------------------------------------------
  // Design Tokens for Filter
  // --------------------------------------------------------

  // Title
  --fs-filter-title-height                                : var(--fs-spacing-6);
  --fs-filter-title-margin-bottom                         : var(--fs-spacing-0);
  --fs-filter-title-text-size                             : var(--fs-text-size-2);
  --fs-filter-title-line-height                           : 1.25;

  // Accordion
  --fs-filter-accordion-border-width-notebook             : var(--fs-border-width);
  --fs-filter-accordion-border-color-notebook             : var(--fs-border-color-light);
  --fs-filter-accordion-border-radius-notebook            : var(--fs-border-radius);

  // Accordion Item Button
  --fs-filter-accordion-button-text-size                  : var(--fs-text-size-lead);
  --fs-filter-accordion-button-text-weight                : var(--fs-text-weight-regular);
  --fs-filter-accordion-button-line-height                : 1.5;
  --fs-filter-accordion-button-padding-inline-end-notebook     : var(--fs-spacing-4);
  --fs-filter-accordion-button-padding-inline-start-notebook      : var(--fs-filter-accordion-button-padding-inline-end-notebook);

  --fs-filter-accordion-button-text-size-notebook         : var(--fs-text-size-2);
  --fs-filter-accordion-button-line-height-notebook       : 1.25;

  // Accordion Item Panel
  --fs-filter-accordion-item-panel-padding-inline-end-notebook : var(--fs-spacing-4);
  --fs-filter-accordion-item-panel-padding-inline-start-notebook  : var(--fs-filter-accordion-item-panel-padding-inline-end-notebook);

  // Accordion Item List
  --fs-filter-list-padding-bottom                         : var(--fs-spacing-3);

  // List Item
  --fs-filter-list-item-not-last-margin-bottom            : var(--fs-spacing-3);

  // List Item Checkbox
  --fs-filter-list-item-checkbox-width                    : 1.25rem;
  --fs-filter-list-item-checkbox-height                   : var(--fs-filter-list-item-checkbox-width);

  // List Item Label
  --fs-filter-list-item-label-width                       : 100%;
  --fs-filter-list-item-label-margin-inline-start                 : var(--fs-spacing-1);
  --fs-filter-list-item-label-text-size                   : var(--fs-text-size-2);
  --fs-filter-list-item-label-line-height                 : 1.25;

  // List Item Badge
  --fs-filter-list-item-badge-margin-inline-start                 : var(--fs-spacing-1);

  [data-fs-filter-title] {
    display: flex;
    align-items: center;
    height: var(--fs-filter-title-height);
    margin-bottom: var(--fs-filter-title-margin-bottom);
    font-size: var(--fs-filter-title-text-size);
    line-height: var(--fs-filter-accordion-button-line-height-notebook);

    @include media("<notebook") {
      display: none;
    }
  }

  [data-fs-filter-accordion] {
    @include media(">=notebook") {
      border: var(--fs-filter-accordion-border-width-notebook) solid var(--fs-filter-accordion-border-color-notebook);
      border-radius: var(--fs-filter-accordion-border-radius-notebook);
    }
  }

  [data-fs-filter-accordion-item] {
    [data-fs-accordion-button] {
      [data-fs-button-wrapper] {
        font-size: var(--fs-filter-accordion-button-text-size);
        font-weight: var(--fs-filter-accordion-button-text-weight);
        line-height: var(--fs-filter-accordion-button-line-height);

        @include media(">=notebook") {
          padding-inline-start: var(--fs-filter-accordion-button-padding-inline-start-notebook);
          padding-inline-end: var(--fs-filter-accordion-button-padding-inline-end-notebook);
          font-size: var(--fs-filter-accordion-button-text-size-notebook);
          line-height: var(--fs-filter-accordion-button-line-height-notebook);
        }
      }
    }

    [data-fs-accordion-panel] {
      @include media(">=notebook") {
        padding-inline-start: var(--fs-filter-accordion-item-panel-padding-inline-start-notebook);
        padding-inline-end: var(--fs-filter-accordion-item-panel-padding-inline-end-notebook);
      }
    }

    [data-fs-filter-accordion-item-description] {
      display: flex;
      margin-bottom: var(--fs-spacing-4);
      font-size: var(--fs-text-size-legend);
      line-height: 1.42;
    }
  }

  [data-fs-filter-list] {
    padding-bottom: var(--fs-filter-list-padding-bottom);
  }

  [data-fs-filter-list-item] {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: var(--fs-filter-list-item-not-last-margin-bottom);
    }
  }

  [data-fs-filter-list-item-checkbox] {
    flex-shrink: 0;
    width: var(--fs-filter-list-item-checkbox-width);
    height: var(--fs-filter-list-item-checkbox-height);
  }

  [data-fs-filter-list-item-label] {
    display: flex;
    align-items: center;
    width: var(--fs-filter-list-item-label-width);
    margin-inline-start: var(--fs-filter-list-item-label-margin-inline-start);
    font-size: var(--fs-filter-list-item-label-text-size);
    line-height: var(--fs-filter-list-item-label-line-height);
  }

  [data-fs-filter-list-item-badge] {
    margin-inline-start: var(--fs-filter-list-item-badge-margin-inline-start);
  }

  [data-fs-filter-list-item-radio] {
    + [data-fs-label] {
      display: inline-flex;
      flex-wrap: wrap;
      column-gap: var(--fs-spacing-0);
      align-items: center;
    }
  }

  [data-fs-filter-list-item-button] {
    min-height: fit-content;
    padding: 0;
    color: var(--fs-color-link);

    [data-fs-button-wrapper] {
      padding: 0;
      font-weight: var(--fs-text-weight-medium);
    }
  }

  [data-fs-filter-list-delivery-button] {
    width: 100%;
  }
}
