[data-fs-profile-summary] {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;

  &[data-fs-profile-summary-bordered="true"] {
    border: var(--fs-border-width) solid #e0e0e0;
    border-radius: var(--fs-border-radius);
  }
}

[data-fs-profile-summary-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--fs-spacing-3) + var(--fs-spacing-0));
  font-size: var(--fs-text-size-legend);
  font-weight: var(--fs-text-weight-semibold);
  border-bottom: var(--fs-border-width) solid #e0e0e0;

  [data-fs-profile-summary-org-name] {
    font-size: var(--fs-text-size-1);
    font-weight: var(--fs-text-weight-medium);
    color: black;
  }

  [data-fs-profile-summary-org-link] {
    display: flex;
    gap: var(--fs-spacing-1);
    align-items: center;
    font-size: var(--fs-text-size-1);
    font-weight: var(--fs-text-weight-semibold);
    color: var(--fs-color-link);
    text-decoration: none;
    transition: text-decoration 0.5s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

[data-fs-profile-summary-person-actions] {
  display: flex;
  min-width: min-content;
  padding: calc(var(--fs-spacing-3) + var(--fs-spacing-0));

  @include media("<notebook") {
    justify-content: space-between;
  }

  @include media("<tablet") {
    padding: calc(var(--fs-spacing-0) + var(--fs-spacing-0));
  }

  [data-fs-profile-summary-person-info] {
    display: flex;
    align-items: center;

    @include media(">=notebook") {
      width: 60%;
    }
  }

  [data-fs-profile-summary-person-image] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--fs-spacing-6);
    min-width: var(--fs-spacing-6);
    height: var(--fs-spacing-6);
    margin-right: var(--fs-spacing-3);
    overflow: hidden;
    color: var(--fs-border-color-active);
    background-color: #cbe9ff;
    border-radius: var(--fs-border-radius-pill);

    @include media("<=tablet") {
      margin-right: var(--fs-spacing-1);
    }
  }

  [data-fs-profile-summary-person-data] {
    display: flex;
    flex-direction: column;
    gap: var(--fs-spacing-0);
    font-size: var(--fs-text-size-legend);

    @include media(">=notebook") {
      width: 75%;
    }

    @include media("<=tablet") {
      font-size: var(--fs-text-size-tiny);
    }

    [data-fs-profile-summary-person-name] {
      font-weight: var(--fs-text-weight-medium);
      color: var(--fs-color-text);
    }

    [data-fs-profile-summary-person-email] {
      width: 100%;
      overflow: hidden;
      font-weight: var(--fs-text-weight-semibold);
      color: var(--fs-color-text-light);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  [data-fs-profile-summary-logout-button] {
    --fs-button-tertiary-text-color-hover: var(--fs-color-danger-text);
    --fs-button-tertiary-text-color-active: var(--fs-color-danger-text);

    [data-fs-button-wrapper] {
      padding: calc(var(--fs-spacing-2) - var(--fs-spacing-0)) 1.375rem;
      color: var(--fs-color-danger-text);
      border: var(--fs-border-width) solid var(--fs-border-color-light);
      border-radius: var(--fs-border-radius-pill);

      @include media("<=tablet") {
        font-size: var(--fs-text-size-tiny);
      }
    }
  }
}
