/* Text */

.sbdocs-content > header h1 {
  margin-bottom: 0;
  font-size: var(--fs-text-size-5);
}

.sbdocs-content > header .sbdocs-p { margin: var(--fs-spacing-1) 0 0; }

.sbdocs.sbdocs-p { font-size: var(--fs-text-size-body); }

.sbdocs.sbdocs-h2 {
  margin: 0 0 var(--fs-spacing-1);
  font-size: var(--fs-text-size-title-section);
  font-weight: var(--fs-text-weight-black);
  border-bottom: none;
}

h3.sbdocs.sbdocs-h3 {
  margin: var(--fs-spacing-6) 0 0;
  font-size: var(--fs-text-size-lead);
}

.sbdocs.sbdocs-h2 + .sbdocs.sbdocs-h3 { margin-top: var(--fs-spacing-4); }

/* Header */

.sbdocs-content > header {
  padding: var(--fs-spacing-4) var(--fs-spacing-5);
  margin-bottom: var(--fs-spacing-4);
  color: var(--fs-color-text-inverse);
  background-color: var(--fs-color-main-0);
  border-radius: var(--fs-border-radius);
}

/* Divisor */

.sbdocs.sbdocs-hr {
  margin: var(--fs-spacing-7) 0 var(--fs-spacing-5);
}

/* Icongallery */

.docblock-icongallery {
  row-gap: var(--fs-grid-gap-3);
  margin: var(--fs-spacing-4) 0 0;
}

.docblock-icongallery > div {
  flex: 0 25%;
  margin: 0;
}

/*  Table */

.sbdocs-table {
  width: 100%;
}

.sbdocs-table td {
  width: 50%;
  background-color: white;
}

.sbdocs-table .token-divider td {
  background-color: var(--fs-color-neutral-1);
}

.sbdocs-table .token-divider td:first-child {
  border-right: none;
}

.sbdocs-table .token-divider td:last-child {
  border-left: none;
}

.sbdocs-table td code {
  line-height: 1.3;
  white-space: break-spaces;
}

.sbdocs-table td > div {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  border: 1px solid gray;
  border-radius: 100%;
}

.sbdocs-table-free td {
  width: auto;
}

/*  Best Practices */

.sbdocs-best-practices-rule {
  display: flex;
  column-gap: 5%;
  margin-top: var(--fs-spacing-4);
}

.sbdocs-best-practices-rule:not(:first-of-type) { margin-top: var(--fs-spacing-6); }

.sbdocs-best-practices-rule > article {
  flex-basis: 100%;
  width: 0;
}

.sbdocs-best-practices-text { margin-top: var(--fs-spacing-3); }

.sbdocs-best-practices-text h3.sbdocs.sbdocs-h3 {
  margin: 0 0 var(--fs-spacing-1) 0;
  font-weight: var(--fs-text-weight-bold);
}

.sbdocs-best-practices-text h3 span { margin-right: var(--fs-spacing-0); }

.sbdocs-best-practices-text p {
  padding-right: var(--fs-spacing-4);
  margin: 0;
  line-height: 1.3;
}

.sbdocs-best-practices-rule > article > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--fs-color-neutral-1);
  border-radius: var(--fs-border-radius);
}

.sbdocs-best-practices-rule > article > div > * {
  max-width: 90%;
}

.sbdocs-best-practices-rule > article div > [data-fs-alert] { width: 90%; }

/* Section */

.sbdocs-section {
  display: flex;
  column-gap: 5%;
  margin-top: var(--fs-spacing-4);
}

.sbdocs-section > article {
  flex-basis: 100%;
  width: 0;
}

.sbdocs-section-text {
  margin-top: var(--fs-spacing-3);
}

.sbdocs-section-text h3.sbdocs.sbdocs-h3 {
  margin: 0 0 var(--fs-spacing-1) 0;
  font-weight: var(--fs-text-weight-bold);
}

.sbdocs-section-text p {
  padding-right: var(--fs-spacing-4);
  margin: 0;
  line-height: 1.3;
}

.sbdocs-section > article > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  background-color: var(--fs-color-neutral-1);
  border-radius: var(--fs-border-radius);
}
