.overview-section {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.overview-section-row {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.overview-section-item > div > div {
  display: flex;
  justify-content: center;
 }
