.overviewSection {
  display: flex;
  column-gap: 16px;
  align-items: center;
  border-radius: 4px;
  padding: var(--fs-spacing-4) var(--fs-spacing-5);
  margin: var(--fs-spacing-3) 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.overviewSectionItem > div > div {
  display: flex;
  justify-content: center;
 }

.overviewSection[data-doc-overview-dark="true"] {
  background-color: #171a1c;
}

.overviewSection[data-doc-overview-direction="row"] {
  flex-direction: row;
  row-gap: 16px;
}

.overviewSection[data-doc-overview-direction="column"] {
  flex-direction: column;
}
