/* Button */
[class^='playgroundPreview'] [data-store-button] {
  @apply bg-blue-800 text-lg rounded border-0;
}

/* Badge */
[class^='playgroundPreview']  [data-store-badge] {
  display: inline-block;
  color: #ffffff;
  background-color: #f71963;
  padding: 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

/* Button */
[class^='playgroundPreview']  [data-store-button] {
  @apply px-6 py-2 rounded border-0 cursor-pointer;
  @apply bg-blue-800 text-white;
  @apply text-lg;
}

/* Icon */
[class^='playgroundPreview']  [data-store-icon] {
  @apply inline-block;
  line-height: 0;
}

/* Input */
[class^='playgroundPreview']  [data-store-input] {
  @apply w-80 h-10 border px-4 py-1 m-2;
  @apply border-black text-gray-700;
  @apply text-base font-normal no-underline;
}

[class^='playgroundPreview']  [data-store-input][data-success],
[data-store-input][data-success]:focus {
  @apply outline-none;
  @apply border-green-600;
}

[class^='playgroundPreview']  [data-store-input][data-error],
[data-store-input][data-error]:focus {
  @apply outline-none;
  @apply border-red-600;
}

/* Label */
[class^='playgroundPreview']  [data-store-label] {
  @apply text-base;
}

/* Overlay */
[data-story-overlay-out-container] { 
  @apply relative h-32;
}

[data-story-overlay-out-container] [data-store-overlay] {
  @apply z-50 absolute top-0 left-0 inset-0;
  @apply flex justify-center items-center;
}

[data-store-overlay] {
  @apply bg-gray-500 bg-opacity-50;
}

/* Popover */
[class^='playgroundPreview']  [data-store-popover] {
  @apply border my-2 py-2 px-4;
  @apply border-black;
}

/* Price */
[class^='playgroundPreview']  [data-store-price] {
  @apply text-base;
}

[class^='playgroundPreview']  [data-store-price][data-variant='listing'] {
  @apply text-gray-400;
  @apply line-through;
}

[class^='playgroundPreview']  [data-store-price][data-variant='savings'] {
  @apply text-green-500;
}

[class^='playgroundPreview']  [data-store-price][data-variant='selling'] {
  @apply text-gray-400;
  @apply font-normal;
}

[class^='playgroundPreview']  [data-store-price][data-variant='spot'] {
  @apply font-bold text-4xl;
}

[class^='playgroundPreview']  [data-store-price][data-variant='installment'] {
  @apply text-gray-400;
  @apply font-normal;
}

[class^='playgroundPreview']  [data-store-price] [data-store-price-integer] {
  @apply font-bold;
}

/* Skeleton */
[class^='playgroundPreview']  [data-store-skeleton] {
  @apply animate-pulse rounded bg-gray-400 h-14 w-96;
}

/* Slider */
[class^='playgroundPreview']  [data-store-slider] {
  @apply bg-gray-200 rounded-full relative h-2 w-full;
}

[class^='playgroundPreview']  [data-store-slider-range] {
  @apply bg-blue-500 absolute;
  height: inherit;
}

[class^='playgroundPreview']  [data-store-slider-thumb],
[data-store-slider-thumb]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

[class^='playgroundPreview']  [data-store-slider-thumb] {
  @apply pointer-events-none h-0 outline-none absolute;
  width: inherit;
}

[class^='playgroundPreview']  [data-store-slider-thumb='left'] {
  @apply z-10;
}

[class^='playgroundPreview']  [data-store-slider-thumb='right'] {
  @apply z-20;
}

[class^='playgroundPreview']  [data-store-slider-thumb]::-webkit-slider-thumb {
  @apply bg-gray-100 border-none rounded-full pointer-events-auto h-4 w-4 relative mt-1;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: col-resize;
}

[class^='playgroundPreview']  [data-store-slider-thumb='left']::-webkit-slider-thumb {
  @apply -ml-2;
}

[class^='playgroundPreview']  [data-store-slider-thumb]::-moz-range-thumb {
  @apply bg-gray-100 border-none rounded-full pointer-events-auto h-4 w-4 relative mt-1;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: col-resize;
}

/* Spinner */
[class^='playgroundPreview']  [data-store-spinner] {
  @apply block animate-spin text-xs relative;

  border-top: 0.2em solid rgba(0, 0, 0, 0.2);
  border-right: 0.2em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
  border-left: 0.2em solid #000000;
}

[class^='playgroundPreview']  [data-store-spinner],
[data-store-spinner]:after {
  @apply h-4 w-4;
  border-radius: 50%;
}

/* TextArea */
[class^='playgroundPreview']  [data-store-textarea] {
  @apply w-80 px-4 py-2 my-2 ml-2 text-gray-700 rounded-md;
}

[class^='playgroundPreview']  [data-store-textarea]:focus {
  @apply border-blue-600 border;
}

[class^='playgroundPreview'] [data-store-textarea][data-success]:focus {
  @apply border-green-600 border;
}

[class^='playgroundPreview'] [data-store-textarea][data-error]:focus {
  @apply border-red-600 border;
}

/* Accordion */
[class^='playgroundPreview']  [data-store-accordion-button] {
  @apply bg-transparent text-gray-800;
  @apply hover:text-pink-600;
}
[class^='playgroundPreview']  [data-store-icon] {
  @apply align-top ml-2;
}
[class^='playgroundPreview']  [data-store-accordion-button][aria-expanded='true'] {
  @apply text-pink-600;
}
[class^='playgroundPreview'] 
  [data-store-accordion-button][aria-expanded='true']
  [data-store-icon] {
  @apply transform rotate-180;
}
[class^='playgroundPreview']  [data-store-accordion-panel] > ul {
  @apply list-none my-0;
}
[class^='playgroundPreview']  [data-store-accordion-panel] a {
  @apply text-gray-500 no-underline hover:text-blue-700;
}

[class^='playgroundPreview']  [data-store-accordion-panel][data-store-icon] {
  @apply text-blue-800 text-5xl;
}

/* Bullets */
[class^='playgroundPreview']  [data-store-bullets] {
  @apply box-border py-2 justify-center flex;
}

[class^='playgroundPreview']  [data-store-bullets] [data-bullet-item] {
  @apply inline-block;
}

[class^='playgroundPreview']  [data-store-bullets] [data-bullet-item][data-store-button] {
  @apply box-border min-w-0 cursor-pointer inline-block rounded-full m-3 border-0 outline-none h-3 w-3 min-h-0 p-0;
  @apply bg-gray-400;
}

[class^='playgroundPreview'] 
  [data-store-bullets]
  [data-bullet-item][aria-selected='true'] {
  @apply bg-pink-700;
}

/* Carousel */
[class^='playgroundPreview']  [data-store-carousel] {
  @apply relative flex items-center;
}

[class^='playgroundPreview']  [data-carousel-bullets] {
  @apply absolute bottom-0 w-full flex justify-center;
}

[class^='playgroundPreview']  [data-store-button][data-arrow] {
  @apply bg-transparent absolute text-black;
}

[class^='playgroundPreview']  [data-arrow='left'] {
  @apply left-0;
}

[class^='playgroundPreview']  [data-arrow='right'] {
  @apply right-0;
}

/* Form */
[class^='playgroundPreview']  [data-store-form] {
  @apply bg-pink-100 max-w-xl p-10 text-center rounded-lg;
}

[class^='playgroundPreview']  [data-store-form] > h2 {
  @apply text-sm;
}

[class^='playgroundPreview']  [data-store-form] [data-store-label] {
  @apply px-4;
}

[class^='playgroundPreview']  [data-store-form] [data-store-input] {
  @apply max-w-min;
}

[class^='playgroundPreview']  [data-store-form] [data-store-checkbox] {
  @apply my-4;
}

[class^='playgroundPreview']  [data-store-form] [data-store-button] {
  @apply bg-pink-700;
}

/* IconButton */
[class^='playgroundPreview']  [data-store-icon-button] {
  @apply inline-flex;
}

[class^='playgroundPreview']  .iconButton {
  @apply text-black inline-flex bg-transparent cursor-pointer rounded-full p-2 transition-colors duration-150 ease-in;
}

[class^='playgroundPreview']  [data-store-icon-button] .iconButton:hover {
  @apply bg-gray-400 bg-opacity-40;
}

/* Modal */
[data-store-modal-content] {
  @apply bg-white w-96 font-sans block fixed z-50 left-2/4 top-2/4;
  @apply p-5 rounded;
  transform: translate(-50%, -50%);
}

[data-store-modal-content]  [data-store-button] {
  @apply bg-red-800 text-xs rounded border-0 p-3 text-white uppercase;
}

[data-store-modal-content] > [data-action-container] {
  @apply flex justify-end;
}

[data-modal-overlay] {
  @apply bg-gray-500 bg-opacity-50 fixed top-0 left-0 w-full h-full;
  z-index: 1000;
}


/* Search Input */
[class^='playgroundPreview']  [data-store-search-input] {
  @apply box-border m-0 min-w-0 max-w-sm min-h-0 items-center relative w-60 h-11 p-0 flex;
  @apply bg-white border border-gray-400;
}

[class^='playgroundPreview']  [data-store-search-input] [data-store-button] {
  @apply items-center border-0 rounded box-border cursor-pointer flex h-10 justify-center m-0 min-w-0 max-h-10 py-2 px-4 absolute right-0;
  @apply appearance-none bg-transparent text-black;
  @apply text-center no-underline;
}
