[data-fs-search-input-field] {
  // --------------------------------------------------------
  // Design Tokens for Search Input Field
  // --------------------------------------------------------
  // Default properties
  --fs-search-input-height-desktop                : var(--fs-spacing-6);

  --fs-search-input-field-height-mobile           : var(--fs-control-tap-size);
  --fs-search-input-field-height-desktop          : var(--fs-spacing-6);

  --fs-search-input-field-transition-timing       : var(--fs-transition-timing);
  --fs-search-input-field-transition-function     : ease;

  // Button
  --fs-search-input-field-button-width            : var(--fs-spacing-7);
  --fs-search-input-field-button-min-height       : var(--fs-search-input-height-desktop);
  --fs-search-input-field-button-bkg-color        : transparent;

  --fs-search-input-field-button-height-mobile    : var(--fs-search-input-field-button-width);
  --fs-search-input-field-button-height-desktop   : var(--fs-search-input-field-height-desktop);

  // Input
  --fs-search-input-field-input-padding-right     : var(--fs-search-input-field-button-width);
  --fs-search-input-field-input-bkg-color         : var(--fs-color-body-bkg);

  // Icon
  --fs-search-input-field-icon-width              : var(--fs-spacing-4);
  --fs-search-input-field-icon-height             : var(--fs-search-input-field-icon-width);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  position: relative;
  display: inline-flex;
  width: 100%;
  height: var(--fs-search-input-field-height-mobile);

  @include input-focus-ring;

  @include media(">=notebook") { height: var(--fs-search-input-field-height-desktop); }

  [data-fs-icon-button][data-fs-button-variant] {
    position: absolute;
    right: var(--fs-spacing-0);
    width: var(--fs-search-input-field-button-width);
    height: var(--fs-search-input-field-button-height-mobile);
    padding: 0;
    background-color: var(--fs-search-input-field-button-bkg-color);
    border: 0;
    @include media(">=notebook") {
      height: var(--fs-search-input-field-button-height-desktop);
      min-height: var(--fs-search-input-field-button-min-height);
    }
    svg {
      width: var(--fs-search-input-field-icon-width);
      height: var(--fs-search-input-field-icon-height);
    }
  }

  [data-fs-search-input-field-input] {
    height: auto;
    padding-right: var(--fs-search-input-field-input-padding-right);
    background-color: var(--fs-search-input-field-input-bkg-color);
    transition: box-shadow var(--fs-search-input-field-transition-timing) var(--fs-search-input-field-transition-timing), border var(--fs-search-input-field-transition-timing) var(--fs-search-input-field-transition-function);
  }

}
