@use "sass:meta";

@layer components {
  .section {
    @include meta.load-css("../components/MyAccountTag/styles.scss");
    @include meta.load-css("../components/MyAccountTable/styles.scss");

    // --------------------------------------------------------
    // Design Tokens
    // --------------------------------------------------------

    [data-fs-user-details-row-tags] {
      display: flex;
      flex-wrap: wrap;
      gap: var(--fs-spacing-0);
    }
  }
}
