@layer components {
  .section {
    @import "../components/MyAccountTag/styles.scss";
    @import "../components/MyAccountTable/styles.scss";
    @import "../components/MyAccountHeader/styles.scss";

    // --------------------------------------------------------
    // Design Tokens
    // --------------------------------------------------------

    // width: 100%;

    // @include media("<notebook") {
    //   padding: var(--fs-spacing-0) var(--fs-spacing-5);
    // }

    [data-fs-user-details-row-tags] {
      display: flex;
      flex-wrap: wrap;
      gap: var(--fs-spacing-0);
    }
  }
}
