# This Action should run on each PR by verifying if they pass on lint, test and build
name: CI

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    name: FastStore
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Size
        run: pnpm size

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/storybook
          buildScriptName: build
          onlyChanged: true
          exitOnceUploaded: true
          exitZeroOnChanges: true

      - name: Pack packages
        run: |
          mkdir -p packed-packages
          for package in packages/*; do
            if [ -d "$package" ]; then
              (cd "$package" && npm pack --pack-destination ../../packed-packages)
            fi
          done

      - name: Clone starter
        run: git clone https://github.com/vtex-sites/starter.store.git starter

      - name: Install specific Yarn version
        run: npm install -g yarn@1.22.19 # https://github.com/yarnpkg/yarn/issues/9015

      - name: Verify Yarn version
        run: yarn --version

      - name: Install the packages on starter
        run: |
          cd starter
          for package in ../packed-packages/*.tgz; do
            ARR=(${package//-/ })
            NAME=@faststore\/${ARR[2]}
            ../scripts/set-resolution.js . $NAME $package
          done

      - name: Install dependencies in starter
        run: |
          cd starter
          yarn install

      - name: Build starter
        run: |
          cd starter
          yarn build
