# This Action should run on main and dev branches and verify lint, test, and then publish the version on npm
name: CD

on:
  push:
    branches:
      - main
      - dev

permissions:
  id-token: write # Required for OIDC
  contents: write # Required for lerna to commit version changes

jobs:
  build:
    name: FastStore
    timeout-minutes: 15
    runs-on: ubuntu-latest
    # To use Remote Caching, uncomment the next lines and follow the steps below.
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.VTEX_GITHUB_BOT_TOKEN }}
          fetch-depth: 2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.5

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Upgrade npm for OIDC support
        run: npm install -g npm@latest

      - name: Configure CI Git User
        run: |
          git config user.name vtexgithubbot
          git config user.email vtexgithubbot@github.com

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Size
        run: pnpm size

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Publish (main)
        if: github.ref_name == 'main'
        run: pnpm release

      - name: Publish (dev)
        if: github.ref_name == 'dev'
        run: pnpm release:dev

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/storybook
          buildScriptName: build
          onlyChanged: true
          exitOnceUploaded: true
          exitZeroOnChanges: true
