# This Action should run on master and verify lint, test, and then publish the version on npm
name: CD

on:
  push:
    branches:
      - master
      - 0.x

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint

  test:
    needs: lint
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Test
        run: yarn test --ci --maxWorkers=2

  publish:
    needs: test
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.VTEX_GITHUB_BOT_TOKEN }}

      - name: Use Node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Configure CI Git User
        run: |
          git config user.name vtexgithubbot
          git config user.email vtexgithubbot@github.com

      - name: Build
        run: yarn build

      - name: Publish package
        run: lerna publish patch --yes --no-verify-access --ignore-scripts --conventional-commits
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
